<div class="container my-account-content">
        <div class="tab-nav">
            <ul class="account-tab">
                <li class="active"><a href="#!/my-account">My Account</a></li>
                <li><a href="#!/favourite-articles">Favourite Articles</a></li>
                <li><a href="#!/favourite-recipes">Favourite Recipes</a> </li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="my-account" class="col-md-10 relative-center my-account">
                <div class="heading col-md-3 txtcenter">My Account</div>
                <br class="clear" />
                <br/>
                <div class="content">
                    <div class="col-md-2 col-sm-3 upload-profile-photo">
                        <img ng-src="{{userImage ? userImage : 'assets/img/upload-default-big.jpg'}}" height="102" width="102" alt="thumb" />
                         <br class="clear" />
                        <br/>
                        <div class="progress" ng-show="progress >= 0">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
                              <span>{{progress}}%</span>
                            </div>
                          </div>

                        <a class="btn btn-edit-upload " ng-show="edit_mode" href="javascript:void(0);">
                                    Upload
                                    <input type="file" ng-file-select="onFileSelect($files)">
                                </a>
                                <input type="hidden" ng-model="user.image">
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <form class="profile-form">

                             <div class="error txtcenter" id="error_message">
                                  <span ng-show="error_message">{{error_message}}</span>
                              </div><br/>


                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>First Name</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input placeholder="First Name" ng-model="user.firstname" ng-readonly="!edit_mode" >
                                </div>

                            </div>
                            <br class="clear">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Last Name</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input placeholder="Last Name" ng-model="user.lastname" ng-readonly="!edit_mode">
                                </div>

                            </div>
                            <br class="clear">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Mobile</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input placeholder="09xxxxxxxxx" ng-model="user.mobile" ng-readonly="!edit_mode" maxlength="12" numbers-only>
                                </div>

                            </div>
                            <br class="clear">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input placeholder="Email Address" ng-model="user.email" ng-readonly="!edit_mode">
                                </div>

                            </div>
                            <br class="clear">
                            <div ng-show="change_password" ng-init="change_password=false" class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Password</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input type="password" placeholder="Current Password" ng-readonly="!edit_mode" ng-model="current_password">
                                    <br class="clear" />
                                    <br/>
                                    <input type="password" placeholder="New Password" ng-readonly="!edit_mode" ng-model="new_password">
                                </div>
                                <br class="clear" />
                                <br/>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Province</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                   <!--
                                    <select ng-model="user.province_id" ng-change="getMunicipal()" ng-disabled="!edit_mode">
                                       <option value="{{item.province_id}}" ng-repeat="item in provinces">{{item.province}}</option>
                                    </select>
                                    -->
                                <select ng-model="user.province_id" ng-init="user.province_id=provinces[1]" ng-change="getMunicipal()" ng-disabled="!edit_mode" ng-options="item.province for item in provinces">
                                     </select>
                                     {{user.province_id}}
                                 </div>
                                <br class="clear" />
                                <br/>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>City</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                     <select ng-model="user.city" ng-disabled="!edit_mode" ng-init="user.city">
                                        <option value="{{item.city}}" ng-repeat="item in cities">{{item.city}}</option>
                                    </select>
                                    <img ng-show="!is_cities && user.province_id" ng-src="assets/img/spinner.gif">
                                </div>
                                <br class="clear" />
                                <br/>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Address</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input type="text" placeholder="Address" ng-model="user.address" ng-readonly="!edit_mode">
                                </div>

                            </div>
                            <br class="clear" />
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Birthday</label>
                                </div>
                                <div class="col-md-9 birthday-select col-sm-9">
                                    <div class="col-md-4 col-sm-4">
                                        <select ng-model="user.bday" ng-options="day for day in birthDays()" ng-disabled="!edit_mode">
                                         </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                       <select ng-model="user.bmonth" ng-disabled="!edit_mode">
                                            <option ng-repeat="month in months" value="{{month.val}}">{{month.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <select ng-model="user.byear" ng-disabled="!edit_mode">
                                            <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <br class="clear" />
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Gender</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <div class="col-md-6 col-sm-6">
                                        <label class="radio-inline">
                                            <input type="radio" name="gender" value="Male" ng-model="user.gender" ng-disabled="!edit_mode">Male</label>

                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label class="radio-inline">
                                            <input type="radio" name="gender" value="Female" ng-model="user.gender" ng-disabled="!edit_mode">Female</label>

                                    </div>
                                </div>

                            </div>
                            <br class="clear" />
                            <br/>



                    </div>
                    <br class="clear" />
                    <div class="edit-form">
                        <button ng-show="!edit_mode" class="btn btn-edit" ng-click="edit_mode = edit_mode ? false : true" ng-init="edit_mode = false">Edit</button>
                        <button ng-click="change_password=true;" ng-show="edit_mode" class="btn btn-change-pw">Change Password</button>
                        <button ng-show="edit_mode" class="btn pull-right save-changes" ng-click="updateDetails()">Save Changes</button>
                    </div>

                    </form>

                </div>
                <br class="clear" />
                <br/>




            </div>

        </div> 

    </div>

    </div>