
      <div class="container article-inner ">
          <div class="inner-content col-md-11 relative-center">
                <div class="row top-content">
                      <div class="col-md-9 col-sm-9 col-xs-12">
                      <a href="javascript:history.go(-1)" class="btn">Back</a>
                          <h4>{{article.title}}</h4>
                          <p>{{article.date_published}} | {{article.author}}</p>
                      </div>
                      <div class="col-md-3 col-xs-12">
                            <div class="recipe-share">
                                  <ul>
                                      <li><a href="javascript:void(0)" ng-click="addFavourite()" class="icons-fave-hover"></a></li>
                                      <li><a href="javascript:void(0)" ng-click="sharePintirest(article.id,'article')" class="icons-pinterest-hover"></a></li>
                                      <li><a href="javascript:void(0)" ng-click="shareTwitter(article.id,'article')" class="icons-twitter-hover"></a></li>
                                      <li><a href="javascript:void(0)" ng-click="shareFB(article.id,'article')"  class="icons-facebook-hover"></a></li>
                                  </ul>
                            </div>
                      </div>
                </div><br class="clear"/><br/>
                <div class="row main-content">
                      <img ng-if="article.image" ng-src="{{article.image}}" class="relative-center img-responsive" alt="article image"/>
                      <div ng-bind-html="article.description"></div>
                </div>
          </div><div class="clearfix"></div>
          <div class="relative-center unpadded comment-content col-md-11">
              <div class="col-md-6  col-xs-12 col-sm-6 comment-list unpadded">
                    <ul>
                        <li ng-repeat="item in article_comments" ng-init="replies[item.id] = {}">
                            <div class="thumb col-md-2 col-sm-3 col-xs-3">
                                <img ng-src="{{item.profile_image}}" alt="thumbnail"/>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <span>{{item.firstname}} {{item.lastname}}</span>
                            </div>
                            <div class="message col-md-10 col-xs-9">
                                <span>{{item.comment}}</span>
                            </div>
                            <div class="date-content col-md-6 col-xs-6 col-sm-6">
                                <span>{{item.date_added}}</span>
                            </div>
                             <div class="reply col-md-4 col-xs-4 col-sm-4 txtright">
                                <a ng-show="!show_reply[item.id]" href="javascript:void(0)" ng-click="replies_show(item.id)">Reply</a>
                                <a ng-show="show_reply[item.id]" href="javascript:void(0)" ng-click="show_reply[item.id]=false">Hide</a>
                            </div><br class="clear"/>

                            <ul ng-show="subject{{item.id}} && show_reply[item.id]">
                               <li ng-repeat="reply in replies[item.id]">
                                    <ul>
                                        <li>
                                            <div class="thumb col-md-2 col-sm-3 col-xs-3">                                                
                                                 <img ng-src="{{reply.profile_image ? 'assets/img/registrants/resized/62_62_'+reply.profile_image : 'assets/img/default-comment-profile-photo.jpg'}}" alt="Profile Photo"  alt="thumbnail"/>
                                            </div>
                                            <div class="col-md-6 col-xs-6 col-sm-6">
                                                <span>{{reply.firstname}} {{reply.lastname}}</span>
                                            </div>
                                            <div class="thumb col-md-10 col-sm-9 col-xs-9">
                                                {{reply.comment}}
                                            </div>
                                            <div class="date-content col-md-6 col-xs-6 col-sm-6">
                                                <span>{{reply.date_added | dateToISO | date:"MMMM dd yyyy 'at' hh:mm:ss a"}}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <ul>
                                        <li>
                                            <div class="thumb col-md-2 col-sm-3 col-xs-3">                                                
                                                 <img ng-src="{{ user.image ? 'assets/img/registrants/resized/62_62_'+user.image : 'assets/img/default-comment-profile-photo.jpg'}}" alt="Profile Photo"  alt="thumbnail"/>
                                            </div>
                                            <div class="thumb col-md-10 col-sm-9 col-xs-9">
                                                <textarea placeholder="Write a comment..." ng-model="article.comment_reply"></textarea><br class="clear"/>
                                                <button class="btn pull-right" ng-click="addComment(item.id)">Submit Reply</button>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                            </ul>

                        </li>
                         
                        <li>
                          <div class="thumb col-md-2 col-sm-3 col-xs-3">
                              <img ng-src="{{ user.image ? 'assets/img/registrants/resized/62_62_'+user.image : 'assets/img/default-comment-profile-photo.jpg'}}" alt="{{recipe.title}}"/>
                          </div>
                          <div class="thumb col-md-10 col-sm-9 col-xs-9">
                              <textarea  placeholder="Write a comment..." ng-model="article.comment"></textarea><br class="clear"/>
                              <button class="btn pull-right" ng-click="addComment(0)">Submit Comment</button>
                          </div>

                      </li>

                    </ul>

              </div>
              <div class="col-md-6 col-xs-12 col-sm-6 article-nav">
                  <div class="txtcenter">
                      <a ng-show="prev_article" href="article/{{prev_article.id}}/{{prev_article.url_title}}" class="btn btn-arr-left">Previous Article</a>
                      <a ng-show="next_article" href="article/{{next_article.id}}/{{next_article.url_title}}" class="btn btn-arr-right">Next Article</a>
                  </div>
                    <br>
                  <div class="txtcenter">
                    {{article.cur_page}} of {{article.total_items}} articles.
                  </div>
              </div>
              <br class="clear"/><br/>
              <div class="related-article">
                    <div class="heading heading-left txtcenter col-md-4">
                      Other Related Articles
                    </div>
                    <div class="related-content col-md-12">
                            
                          <div class="col-md-3 unpadded related-item col-sm-3 col-xs-12" ng-repeat="item in related_articles">
                              <div class="col-md-5 col-xs-4 col-sm-6">
                                  <a href="article/{{item.id}}/{{item.url_title}}"><img ng-src="{{'resize.php?width=80&height=80&image='+item.image}}" class="img-responsive" alt="thumb"></a>
                              </div>
                              <div class="col-md-7 col-xs-8 col-sm-6">
                                  <span class="related-title"><a href="article/{{item.id}}/{{item.url_title}}">{{item.title}}</a></span><br/>
                                  <span>{{item.description}}</span>
                              </div>

                          </div>
                          <br class="clear"/><br/>

                    </div>

              </div>
          </div>


      </div>
