<div class="container">
       <div class="col-md-6 login-content relative-center">
              
             <form name="loginForm" ng-submit="login(loginForm.$valid)" novalidate>
                <div class="form-login form">
                       <div class="error txtcenter">
                          <span ng-show="login_message">{{login_message}}</span>
                      </div><br/>
                      <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <label>Email</label>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                <input type="email" name="email" ng-model="user.email" ng-class="{ 'error-field' : loginForm.email.$invalid && !loginForm.email.$pristine }" required>
                            </div>

                      </div><br class="clear">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <label>Password</label>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                  <input type="password" name="password" ng-model="user.password" ng-class="{ 'error-field' : loginForm.password.$invalid && !loginForm.password.$pristine }" required>
                            </div>

                      </div><br class="clear"/>
                      <div class="row login-btn">
                          <div class="col-md-6 ">
                              <a href="register">Not a member yet?</a>
                          </div>
                          <div class="col-md-6 txtright">
                              <button class="btn" ng-disabled="loginForm.$invalid || loginForm.$pristine">LOG-IN</button><br class="clear"/><br/>
                              <a href="forgot-password">Forgot Password?</a>
                          </div>

                      </div>

                </div>

             </form>

       </div>

    </div>