<div class="container my-account-content contact-us-content">

        <div class="tab-content">
            <div class="col-md-11 relative-center my-account">
                <div class="heading col-md-3 txtcenter">Contact Us</div>
                <br class="clear" /><br/>
                <div class="col-md-7 col-sm-7">
                    <form class="contact-form" ng-submit="submitInquiry()">
                             <div class="error">
                                  <span ng-bind-html="error_message"></span>
                              </div><br/>
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>First Name:</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input placeholder="First Name" ng-model="user.firstname">
                                </div>

                            </div>
                            <br class="clear">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Last Name:</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input placeholder="Last Name" ng-model="user.lastname">
                                </div>

                            </div>

                            <br class="clear">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Email:</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input placeholder="Email Address"  ng-model="user.email">
                                </div>

                            </div>
                            <br class="clear" />
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Subject:</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input type="text" placeholder="Subject"  ng-model="user.subject">
                                </div>

                            </div><br class="clear"/>
                             <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Message:</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <textarea  ng-model="user.message"></textarea>
                                </div>

                            </div>
                            <br class="clear" />




                        <br class="clear" />
                        <div class="submit-form txtright">
                            <button class="btn">SUBMIT</button>
                        </div>
                    </form><br/>

                </div>
                <div class="col-md-5 col-sm-5">
                    <h4>Bounty Agro Ventures Inc.</h4>
                    <p ng-bind-html="details_bounty_agro_ventures"></p>
                    <br/><br/>
                     <h4>Bounty Fresh Foods, Inc.</h4>
                    <p>
                    <p ng-bind-html="details_bounty_fresh_foods"></p>
                    </p>

                </div>
                <br class="clear"/>
            </div>
        </div>
    </div>