<div class="container my-account-content">
        <div class="tab-nav">
            <ul class="account-tab">
                <li><a href="my-account">My Account</a></li>
                <li class="active"><a href="favourite-articles">Favourite Articles</a></li>
                <li><a href="favourite-recipes">Favourite Recipes</a> </li>
                <li><a href="my-pledges">My Pledges</a> </li>
            </ul>
        </div>
        <div class="tab-content">
           
        <div id="my-articles" class="col-md-10 relative-center my-articles">
            <div class="kitchen-content relative-center">
                <div class="col-md-12 col-lg-10 article-list col-sm-12">

                                 <div  ng-if="!items.error" class="article-item " ng-repeat="item in items">
                                    

                                    <div ng-if="item.promo" class="promo-ribbon"></div>
 
 
                                    <div class="col-md-3 col-lg-4 col-sm-4 article-thumb unpadded">
                                        <a href="article/{{item.id}}/{{item.url_title}}" target="_blank">
                                            <img ng-src="{{'resize.php?width=250&height=250&image='+item.image}}" class="img-responsive" alt="articles" />
                                        </a>
                                    </div>
                                    <div class="col-md-9 col-lg-8 col-sm-8 article-details">

                                        <a href="article/{{item.id}}/{{item.url_title}}" target="_blank">
                                            <h4>{{item.title}}</h4>
                                        </a>
                                        <span>{{item.description}}</span>
                                        <div class="author-details">
                                            <div class="col-md-7 col-lg-7 unpadded">
                                                <p>{{item.date_published}} | {{item.author}}</p>
                                            </div>
                                            <div class="col-md-5 col-lg-5">
                                                <div class="recipe-share">
                                                     <ul>
                                                        <li><a href="javascript:void(0)" ng-click="sharePintirest(item.id,'article')" class="icons-pinterest-hover"></a></li>
                                                        <li><a href="javascript:void(0)" ng-click="shareTwitter(item.id,'article')" class="icons-twitter-hover"></a></li>
                                                        <li><a  href="javascript:void(0)" ng-click="shareFB(item.id,'article')"  class="icons-facebook-hover"></a></li>
                                                    </ul>
                                                </div>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <br class="clear" />
                                    <button type="button" class="btn-remove" ng-click="openConfirm(item.id)">Remove</button>
                                </div>

                                <div ng-show="items.error" class="article-item ">
                                      <span>{{items.error}}</span>
                                </div>
                     <br class="clear" />

                     <!--
                    <div class="more-items txtcenter">
                        MORE <i class="fa fa-caret-down"></i>
                    </div>
                    -->

                </div>

                <br class="clear" />
                <br/>




            </div>
        </div>
        <!--article-->

    </div>

    </div>