<div class="container">
            <div class="col-md-2 col-sm-2 col-xs-6">
                    <ul>
                        <li><a href="kitchen">The Kitchen</a></li><br/>
                        <li><a href="living-room">The Living Room</a></li><br/>
                        <li><a href="kids-bedroom">The Kid's Bedroom</a></li><br/>
                        <li><a href="master-bedroom">The Master Bedroom</a></li><br/>
                    </ul>

            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                    <ul>
                        <li><a href="contact-us">Contact Us</a></li><br/>
                        <li><a href="privacy-policy">Privacy Policy</a></li><br/>
                        <li><a href="terms-and-conditions">Terms & Condition</a></li><br/>
                        <li><a href="faq">FAQ's</a></li><br/>
                    </ul>

            </div>
            <div class="col-md-3 col-sm-3 footer-logo col-xs-12">
                <img src="assets/img/logo.png" alt="logo" class="relative-center img-responsive"/>
            </div>
            <div class="col-md-3 col-sm-3 follow-icons col-xs-7">
                <h4>FOLLOW US</h4>
                 <div class="follow-us">
                        <ul>
                            <li><a href="https://www.facebook.com/bountyfreshchicken" target="_blank" class="icons-btn-follow-fb"></a></li>
                            <li><a href="https://twitter.com/bountyfreshph" target="_blank" class="icons-btn-follow-twitter"></a></li>
                            <li><a href="http://instagram.com/bountyfreshph/" target="_blank" class="icons-btn-follow-instagram"></a></li>
                        </ul>

                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-5 txtright my-account">
                <h4>MY ACCOUNT:</h4>
                     <ul ng-show="logged">
                        <li><a href="my-account">My Account</a></li><br/>
                        <li><a href="favourite-articles">My Favourite Articles</a></li>
                        <li><a href="favourite-recipes">My Favourite Recipes</a></li>
                    </ul>
                    <ul ng-show="!logged">
                        <li><a href="login">Log- In</a></li><br/>
                        <li><a href="register">Register</a></li>
                    </ul>
            </div>

    </div>

<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-42684485-25', 'auto');
 ga('send', 'pageview');

</script>
