<div class="container">
       <div class="col-md-6 login-content relative-center">
              
             <form name="userForm" ng-submit="requestNewPassword()" novalidate>
                <div class="form-login">
                       <div class="error txtcenter">
                          <span ng-show="error_message">{{error_message}}</span>
                      </div>
                      <br/>
                      <div class="row" ng-show="!success">
                          <div class="col-md-9 col-sm-9">
                           <p>Can't Login? Forgot your password?<br/>
                           Enter your Email address below and we'll send instruction to reset your password.</p>
                          </div>
                      </div>

                      <div class="row" ng-show="message">
                        <center>{{message}}</center>
                      </div>

                      <div class="row" ng-show="!success">
                            <div class="col-md-3 col-sm-3">
                                <label>Email</label>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                  <input type="email" name="email" ng-model="user.email" ng-class="{'error-field': userForm.email.$invalid && !loginForm.password.$pristine}" required>
                            </div>
                      </div>
                      <br class="clear"/>

                      <div class="row login-btn" ng-show="!success">

                          <div class="col-md-6 ">
                              <a href="#/register"></a>
                          </div>
                          <div class="col-md-6 txtright">
                              <button type="submit" ng-disabled="userForm.$invalid || registrationForm.$pristine" class="btn">Request New Password</button><br class="clear"/><br/>
                          </div>

                      </div>

                </div>

             </form>

       </div>

    </div>


   