

  <div class="container my-account-content contact-us-content">

        <div class="tab-content">

            <div class="col-md-11 relative-center my-account">

 
                    <div class="heading col-md-3 txtcenter">{{google_query ? 'Searching...' : 'Search Results'}} <img ng-if="google_query" ng-src="assets/img/spinner.gif"/></div>

                    <br class="clear" /><br/>



                    <div class="policy-content">
                        
                        <div class="col-md-6 recipe-item col-sm-6" ng-repeat="stuff in googleStuff">

                            <div class="recipe-details">
                                    <a href="{{stuff.link}}" target="_blank"><h4>{{stuff.title}}</h4></a>
                                   <p>{{stuff.snippet}}</p>
                            </div>

                        </div>

                        <div class="col-md-6 recipe-item col-sm-6" ng-if="!googleStuff">

                            <div class="recipe-details">
                                    <h4>{{result_message}}</h4>
                            </div>

                        </div>


                    </div><br class="clear"/><br/>

            </div>

        </div>

    </div>


