<nav class="navbar navbar-default" role="navigation">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!-- <a class="fa fa-home home" href="http://www.chicmomsclub.com"></a>
                <a href="http://www.chicmomsclub.com"> -->
                <a class="fa fa-home home" href="http://bountyfreshmoms.com/"></a>
                <a href="http://bountyfreshmoms.com/">
                    <img src="assets/img/logo-mobile.png" alt="logo" class="mobile-logo visible-xs img-responsive"/>
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="top-nav">
                    <div class="container">
                        <div class="bountyfresh-top pull-left hidden-xs ">
                            <a href="http://bountyfreshchicken.com" target="_blank" class="btn btn-arr-left-blue">
                                Bounty Fresh Website
                            </a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">

                            <form class="navbar-form navbar-right" role="search">
                                <div class="right-inner-addon ">
                                    <i class="glyphicon glyphicon-search"></i>
                                    <input ng-model="searchkey" type="text" class="form-control" googlesearch />
                                </div>
                            </form>
                            <li>
                                <a class="active" href="http://www.bountyfreshchicken.com/promos">Promos</a>
                            </li>
                            <li>
                                <a ng-show="!logged" href="login">Log-In</a>
                                <a ng-show="logged && !my_account" href="my-account" >My Account</a>
                                <a ng-show="my_account" ng-click="logout()">Log-Out</a>
                               
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="main-nav container">
                        <div class="nav-content relative-center">
                                <div class="col-md-1 col-sm-1 visible-lg visible-sm" ng-class="homeNav">
                                    <a href="index" ><i class="fa fa-home home"></i></a>
                                </div>
                                <div class="col-md-2 col-sm-2 menu" ng-class="kitchenNav">
                                    <a href="kitchen">The Kitchen</a>
                               </div>
                                 <div class="col-md-2 col-sm-2 menu" ng-class="livingRoomNav">
                                        <a href="living-room">The Living Room</a>
                               </div>
                                 <div class="col-md-3 col-sm-3 hidden-xs logo"> 
                                    <!-- <a href="http://www.chicmomsclub.com"> -->
                                    <a href="http://bountyfreshmoms.com/">
                                        <img src="assets/img/logo.png" class="img-responsive" alt="logo">
                                    </a>
                               </div>
                                 <div class="col-md-2 col-sm-2 menu" ng-class="kidsBedroomNav">
                                        <a href="kids-bedroom" class="active">The Kid's Bedroom</a>
                               </div>
                                 <div class="col-md-2 col-sm-2 menu" ng-class="masterBedroomNav">
                                        <a href="master-bedroom">The Master Bedroom</a>
                               </div>


                        </div>



                </div>

            </div>
            <!-- /.navbar-collapse -->



        </nav>
