<div class="container slider-content">
         
        <div ng-show="!header_images.error" owlcarousel class="owl-carousel owl-theme">
           <div class="item text-center">
            <img ng-src="assets/img/sliders/DiskarteNaMayArte_Slider.jpg" class="img-responsive" alt="masthead_pldge"/><br/>
            
            <div ng-show="!login_status" class="not-logged-in">
                <a href="pledging#/" class="btn pledge-btn">Pledge Now!</a>
            </div>  
            <div ng-show="login_status" class="logged-in col-md-7 txtcenter relative-center">
                <a href="pledging" class="btn pledge-btn">Pledge Nowasdasda!</a>
            </div>
<!-- 
            <div class="home-msg">
              <div class="text-center">
                <a href="pledge" class="btn">Pledge now </a>
              </div>
            </div> -->
          </div>
<!--
                <div class="home-msg">
                    <div ng-show="!login_status" class="not-logged-in">
                             <div class="col-md-6 col-md-offset-2">
                                  <p>
                      Be part of the Bounty Fresh Moms! Registration is for FREE! You get access to latest news and updates, promotions and the best recipes we have to offer!
                                  </p>
                             </div>
                             <div class="col-md-4">
                                          <a href="register" class="btn">JOIN NOW!</a>
                             </div>
                      </div>  
                      <div ng-show="login_status" class="logged-in col-md-7 txtcenter relative-center">
                              <p>
                                      Be part of the Bounty Fresh Moms now for some fun and surprises.
                                      Hurry, and you could win some elegant prizes!
                              </p>
                      </div>
                </div>
-->
        </div>

        <div ng-show="header_images.error">
           <!--<div class="item"><img ng-src="assets/img/sliders/1.jpg" class="img-responsive" alt="masthead"/></div>-->
           <div class="item"><img ng-src="assets/img/articles/pledge_banner.jpg" class="img-responsive" alt="masthead_pldge"/></div>

        </div>

        <br class="clear"/><br/>
           <!--<div class="item"><img ng-src="assets/img/sliders/1.jpg" class="img-responsive" alt="masthead"/></div>-->
          <div class="owl-carousel owl-theme" owltext>
            <div class="item">
                <div class="home-msg">
                      <div ng-show="!login_status" class="not-logged-in">
                               <div class="col-md-6 col-md-offset-2">
                                    <p>
                        Be part of the Bounty Fresh Moms! Registration is for FREE! You get access to latest news and updates, promotions and the best recipes we have to offer!
                                    </p>
                               </div>
                               <div class="col-md-4">
                                            <a href="register" class="btn">JOIN NOW!</a>
                               </div>
                        </div>  
                        <div ng-show="login_status" class="logged-in col-md-7 txtcenter relative-center">
                                <p>
                                        Be part of the Bounty Fresh Moms now for some fun and surprises.
                                        Hurry, and you could win some elegant prizes!
                                </p>
                      </div>
                </div>
              </div>
          </div>    
    </div>
    <div class="slider-banner-bg"></div><br class="clear"/>
    <div class="featured">
        <div class="container">
                <div class="col-md-6 featured-content col-sm-6">
                       <span class="heading">Featured Recipe</span>


                       <div class="recipe" ng-show="featured_recipes.error">
                                 <p>{{featured_recipes.error}}</p>
                        </div>

                        <div  class="recipe" ng-show="!featured_recipes.error" ng-repeat="item in featured_recipes">
                                <div class="recipe-content">
                                    <div class="featured-img" style="background-image:url({{item.image}})">
                                            <div ng-if="item.favorite" class="featured-ribbon"></div>                                            
                                            <div class="recipe-share">

                                                    <ul>
                                                        <li><a href="javascript:void(0)" ng-click="sharePintirest(item.id,'recipe')" class="icons-btn-pinterest"></a></li>
                                                        <li><a href="javascript:void(0)" ng-click="shareTwitter(item.id,'recipe')" class="icons-btn-twitter"></a></li>
                                                        <li><a  href="javascript:void(0)" ng-click="shareFB(item.id,'recipe')"  class="icons-btn-facebook"></a></li>
                                                    </ul>

                                            </div>

                                    </div>

                                      <div class="recipe-details">
                                        <h4>{{item.title}}</h4>
                                        <div class="content">
                                                <div class="col-md-7 unpadded">
                                                         <span>
                                                             {{item.description}}
                                                        </span><br class="clear" /><br/>
                                                </div>
                                                <div class="col-md-4 unpadded">
                                                      <a href="recipe/{{item.id}}/{{item.url_title}}" class="btn btn-arr-right">VIEW RECIPE</a>
                                                </div>

                                        </div>

                                      </div>
                                </div><br class="clear"/>

                        </div>
                </div>
                <div class="col-md-6 col-sm-6 txtright featured-content ">
                       <span class="heading">Featured Article</span>

                       <div class="recipe" ng-show="featured_articles.error">
                                 <p>{{featured_articles.error}}</p>
                        </div>

                        <div class="recipe" ng-show="!featured_articles.error" ng-repeat="item in featured_articles">
                                <div class="recipe-content">
                                    <div class="featured-img" style="background-image:url({{item.image}})">
                                            <div ng-if="item.favorite" class="featured-ribbon"></div>
                                            <div ng-if="item.promo && !item.favorite" class="promo-ribbon"></div>
                                            <div ng-if="item.promo && item.favorite" class="promo-ribbon double-ribbon"></div>

                                            <div class="recipe-share">

                                                    <ul>
                                                        <li><a href="javascript:void(0)" ng-click="sharePintirest(item.id,'article')" class="icons-btn-pinterest"></a></li>
                                                        <li><a href="javascript:void(0)" ng-click="shareTwitter(item.id,'article')" class="icons-btn-twitter"></a></li>
                                                        <li><a  href="javascript:void(0)" ng-click="shareFB(item.id,'article')"  class="icons-btn-facebook"></a></li>
                                                    </ul>

                                            </div>

                                    </div>

                                      <div class="recipe-details">
                                        <h4>{{item.title}}</h4>
                                        <div class="content">
                                                <div class="col-md-7 unpadded">
                                                         <span>
                                                            {{item.description}}
                                                        </span><br class="clear" /><br/>
                                                </div>
                                                <div class="col-md-4 unpadded">
                                                         <a href="article/{{item.id}}/{{item.url_title}}" class="btn btn-arr-right">READ MORE</a>
                                                </div>

                                        </div>

                                      </div>
                                </div><br class="clear"/>

                        </div>
                </div>

        </div>



    </div>

