<div class="container">
            
            <div class="kitchen-masthead" ng-show="!header_images.error" owlcarousel></div>

            <div class="kitchen-masthead" ng-show="header_images.error">
                    <img ng-src="assets/img/sliders/2.jpg" class="img-responsive" alt="masthead"/>
            </div>

            <br class="clear"/>

           <div class="kitchen-intro col-md-11 relative-center">
                    <div class="col-md-3 col-sm-4 col-lg-3">
                                <h1>THE KITCHEN:</h1>
                    </div>
                    <div class="col-md-9 col-sm-8">
                                <p>
                                       What’s cooking in the kitchen? Try our wonderful recipes to impress your family and friends,and read our tips to become a kitchen goddess!

                                </p>
                    </div>
                    <br class="clear"/><br/>

           </div>
           <div class="kitchen-content col-md-11 relative-center">
                <div class="col-md-12 col-lg-8 col-sm-12">
                       <div class="heading heading-left txtcenter">RECIPES</div><br/>

                      
                       <div class="col-md-8 col-lg-10 col-sm-9 relative-center filter">
                            <ul>
                                <li>
                                    <span>Filter By:</span>
                                </li>
                                <li>
                                    <div>
                                         <select ng-model="query.meal_type" ng-change="resetRecipeLimit()">
                                            <option value="">Meal Type</option>
                                            <option value="{{item.meal_type}}" ng-repeat="item in meal_types">{{item.meal_type}}</option>
                                        </select>
                                    </div>

                                </li>
                                <li>
                                   <div>
                                         <select ng-model="query.meal_budget" ng-change="resetRecipeLimit()">
                                          <option value="">Meal Budget</option>
                                            <option value="{{item.meal_budget}}" ng-repeat="item in meal_budgets">{{item.meal_budget}}</option>
                                        </select>
                                    </div>
                                </li>
                            </ul>
                       </div><br class="clear"/>
                       

                       <div class="recipe-list">


                            <div class="col-md-6 recipe-item col-sm-6" ng-repeat="recipe in recipes | filter:query | limitTo: recipeLimit">

                                <div ng-if="recipe.favorite" class="featured-ribbon"></div>
                                 <div class="recipe-share">
                                        <ul>
                                                <li><a href="javascript:void(0)" ng-click="sharePintirest(recipe.id,'recipe')" class="icons-btn-pinterest"></a></li>
                                                <li><a href="javascript:void(0)" ng-click="shareTwitter(recipe.id,'recipe')" class="icons-btn-twitter"></a></li>
                                                <li><a  href="javascript:void(0)" ng-click="shareFB(recipe.id,'recipe')"  class="icons-btn-facebook"></a></li>
                                            </ul>
                                </div>
<a href="recipe/{{recipe.id}}/{{recipe.url_title}}">
 <!-- <div class="recipe-img" style="background-image:url({{'resize.php?image='+recipe.image+'&width=281&height=281'}})"></div>  -->
 <div class="recipe-img test" style="background-image:url({{recipe.image}})"></div> 
</a>
                                <div class="recipe-details">
                                        <a href="recipe/{{recipe.id}}/{{recipe.url_title}}"><h4>{{recipe.title}}</h4></a>
                                       <p>{{recipe.description}}</p>
                                </div>
                                <br ng-if="recipe.clear_fix" class="clear {{recipeLimit}}">

                            </div>
                             

                       </div><br class="clear"/><br/><br/>
                        
                       <div ng-show="recipeLimit<recipeLength" ng-click="showMoreRecipes()" class="more-items txtcenter " ng-show="!recipes.error">
                                MORE  <i class="fa fa-caret-down"></i>
                        </div>
                        
                </div>
                <div class="col-md-4 top-picks unpadded visible-lg top-picks">
                     <div class="heading heading-right txtcenter">TOP PICKS</div>

                          <div class="col-md-12 item" ng-show="top_picks.error">
                              <div class="col-md-9">
                                   <p>{{top_picks.error}}</p>
                                </div>                           
                          </div>

                          <div class="col-md-12 item" ng-show="!top_picks.error" ng-repeat="top in top_picks">
                                <a href="article/{{top.id}}/{{top.url_title}}"><div class="thumb col-md-3" style="background-image:url({{'resize.php?image='+top.image+'&width=71&height=70'}})"></div></a>
                                <div class="col-md-9">
                                    <a href="article/{{top.id}}/{{top.url_title}}"><p>{{top.title}}</p></a>
                                    <span>{{top.description}}</span>
                                </div>
                         </div>

                 </div><br class="clear"/><br/>
                <div class="col-md-12 col-lg-8 article-list col-sm-12">
                       <div class="heading heading-left txtcenter">ARTICLES</div><br/>

                            <div class="article-item" ng-show="articles.error">
                                  <p>{{articles.error}}</p>
                            </div>
                            
                            <div class="article-item"  ng-show="!articles.error" ng-repeat="article in articles | limitTo: articleLimit">

                                  <div ng-if="article.favorite" class="featured-ribbon"></div>
                                  <div ng-if="article.promo && !article.favorite" class="promo-ribbon"></div>
                                  <div ng-if="article.promo && article.favorite" class="promo-ribbon double-ribbon"></div>
                                  
                                  <div class="col-md-3 col-lg-5 col-sm-5 article-thumb unpadded">
                                      <a href="article/{{article.id}}/{{article.url_title}}">
                                       <!-- <img ng-src="{{'resize.php?image='+article.image+'&width=281&height=281'}}" class="img-responsive" alt="articles"/>-->
                                    <img ng-src="{{article.image}}" class="img-responsive" alt="articles"/>
                                      
                                      </a>
                                  </div>
                                  <div class="col-md-9 col-lg-7 col-sm-7 article-details">
                                     <a href="article/{{article.id}}/{{article.url_title}}"> <h4>{{article.title}}</h4></a>
                                         <span>
                                              {{article.description}}
                                          </span>
                                      <div class="author-details">
                                          <div class="col-md-7 col-lg-7 unpadded">
                                              <p>{{article.date_published}} | {{article.author}}</p>
                                          </div>
                                           <div class="col-md-5 col-lg-5">
                                                   <div class="recipe-share">
                                                          <ul>
                                                              <li><a href="javascript:void(0)" ng-click="sharePintirest(article.id,'article')" class="icons-pinterest-hover"></a></li>
                                                              <li><a href="javascript:void(0)" ng-click="shareTwitter(article.id,'article')" class="icons-twitter-hover"></a></li>
                                                              <li><a  href="javascript:void(0)" ng-click="shareFB(article.id,'article')"  class="icons-facebook-hover"></a></li>
                                                          </ul>
                                                  </div>

                                          </div>
                                          <div class="clearfix"></div>
                                      </div>
                                  </div>
                                 <br class="clear"/>
                            </div>

                         <br class="clear"/>
                         
                       <div ng-show="articleLimit<articleLength" class="more-items txtcenter" ng-click="showMoreArticles()">
                                MORE  <i class="fa fa-caret-down"></i>
                        </div>
 
                </div><br class="clear"/><br/>



           </div>

    </div>