<div class="container">

      <div class="kitchen-masthead" ng-show="!header_images.error" owlcarousel></div>

      <div class="kitchen-masthead" ng-show="header_images.error">
              <img ng-src="assets/img/sliders/4.jpg" class="img-responsive" alt="masthead"/>
      </div>

      <br class="clear"/>

     <div class="kitchen-intro col-md-11 relative-center">
              <div class="col-md-3 col-sm-5 col-lg-5">
                  <h1>THE MASTER BEDROOM:</h1>
              </div>
              <div class="col-md-9 col-sm-7 col-lg-7">
                  <p>It’s time for a break, mom! Read on for tips and tricks to help you care for yourself and maximize your me-time.</p>
              </div>
              <br class="clear"/><br/>

     </div>
     <div class="kitchen-content col-md-11 relative-center">
          <div class="col-md-12 col-lg-8 article-list col-sm-12">
                 <div class="heading heading-left txtcenter">ARTICLES</div><br/>

                    <div class="article-item" ng-show="articles.error">
                            <p>{{articles.error}}</p>
                    </div>
                  
                     <div class="article-item" ng-show="!articles.error" ng-repeat="item in articles | limitTo: articleLimit">
                            <div ng-if="item.favorite" class="featured-ribbon"></div>
                            <div ng-if="item.promo && !item.favorite" class="promo-ribbon"></div>
                            <div ng-if="item.promo && item.favorite" class="promo-ribbon double-ribbon"></div>
                            
                            <div class="col-md-3 col-lg-5 col-sm-5 article-thumb unpadded">
<!-- <a href="article/{{item.id}}/{{item.url_title}}"><img ng-src="{{'resize.php?image='+item.image+'&width=250&height=250'}}" class="img-responsive" alt="articles"/></a> -->
<a href="article/{{item.id}}/{{item.url_title}}"><img ng-src="{{item.image}}" class="img-responsive" alt="articles"/></a>
                            </div>
                            <div class="col-md-9 col-lg-7 col-sm-7 article-details">

                                <a href="article/{{item.id}}/{{item.url_title}}"><h4>{{item.title}}</h4></a>
                                   <span>{{item.description}}</span>
                                <div class="author-details">
                                    <div class="col-md-7 col-lg-7 unpadded">
                                        <p>{{item.date_published}} | {{item.author}}</p>
                                    </div>
                                     <div class="col-md-5 col-lg-5">
                                             <div class="recipe-share">
                                                    <ul>
                                                        <li><a href="javascript:void(0)" ng-click="sharePintirest(item.id,'article')" class="icons-pinterest-hover"></a></li>
                                                        <li><a href="javascript:void(0)" ng-click="shareTwitter(item.id,'article')" class="icons-twitter-hover"></a></li>
                                                        <li><a  href="javascript:void(0)" ng-click="shareFB(item.id,'article')"  class="icons-facebook-hover"></a></li>
                                                    </ul>
                                            </div>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                           <br class="clear"/>


                     </div>

                   <br class="clear"/>

                
                 <div ng-show="articleLimit<articleLength"  ng-click="showMoreArticles()" class="more-items txtcenter">
                          MORE  <i class="fa fa-caret-down"></i>
                  </div>
                 

          </div>



          <div class="col-md-4 top-picks unpadded visible-lg" top-picks>
               <div class="heading heading-right txtcenter">TOP PICKS</div>
                 
                   <div class="col-md-12 item" ng-show="!top_picks.error" ng-repeat="item in top_picks">
<a href="article/{{item.id}}/{{item.url_title}}"><div class="thumb col-md-3" style="background-image:url({{'resize.php?image='+item.image+'&width=70&height=70'}})"></div></a>
                          <div class="col-md-9">
                             <a href="article/{{item.id}}/{{item.url_title}}"> <p>{{item.title}}</p></a>
                              <span>{{item.title}}</span>
                          </div>
                   </div>

                   <div class="col-md-12 item" ng-show="top_picks.error">
                           <div class="col-md-9">
                             <p>{{top_picks.error}}</p>
                          </div>                           
                   </div>

           </div><br class="clear"/><br/>
     </div>

</div>