<div class="container my-account-content">
        <div class="tab-nav">
            <ul class="account-tab">
                <li class="active"><a href="my-account">My Account</a></li>
                <li><a href="favourite-articles">Favourite Articles</a></li>
                <li><a href="favourite-recipes">Favourite Recipes</a> </li>
                <li><a href="my-pledges">Favourite Pledges</a> </li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="my-account" class="col-md-10 relative-center my-account">
                <div class="heading col-md-3 txtcenter">My Account</div>
                <br class="clear" />
                <br/>
                <div class="content">

                    <form class="profile-form" name="userForm" ng-submit="updateDetails(userForm.$valid)" novalidate>

                        <input type="hidden" name="update_my_account" value="1">

                    <div class="col-md-2 col-sm-3 upload-profile-photo"> 
                        <img ng-if="!user.image" ng-src="{{'assets/img/upload-default.jpg' }}" height="102"  width="102" alt="thumb"/>
                        <img ng-if="user.image" ng-src="assets/img/registrants/resized/62_62_{{user.image}}" height="102"  width="102" alt="thumb"/>
                        <br class="clear" />
                        <br/>
                        <div class="progress" ng-show="progress >= 0">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
                              <span>{{progress}}%</span>
                            </div>
                          </div>

                        <a class="btn btn-edit-upload " ng-show="edit_mode" href="javascript:void(0);">
                                    Upload
                                    <input type="file" ng-file-select="onFileSelect($files)">
                                </a>
                                <input type="hidden" ng-model="user.image">
                    </div>
                    <div class="col-md-10 col-sm-9">
                       

                            <div class="error txtcenter" ng-if="error">{{error}}</div><br/>
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>First Name</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input name="firstname" placeholder="First Name" ng-model="user.firstname" ng-readonly="!edit_mode" ng-class="{ 'error-field' : userForm.firstname.$invalid && !userForm.firstname.$pristine }" required >
                                    <p class="help-block" ng-show="userForm.firstname.$invalid && !userForm.firstname.$pristine">Firstname is required.</p>
                                </div>

                            </div>
                            <br class="clear">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Last Name</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input name="lastname" placeholder="Last Name" ng-model="user.lastname" ng-readonly="!edit_mode" ng-class="{ 'error-field' : userForm.lastname.$invalid && !userForm.lastname.$pristine }" required>
                                    <p class="help-block" ng-show="userForm.lastname.$invalid && !userForm.lastname.$pristine">Lastname is required.</p>
                                </div>

                            </div>
                            <br class="clear">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Mobile</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input ng-class="{ 'error-field' : userForm.mobile.$invalid && !userForm.mobile.$pristine }" type="text" maxlength="11" numbers-only placeholder="09xxxxxxxxx" name="mobile" ng-model="user.mobile" ng-maxlength="11" ng-minlength="11" required ng-readonly="!edit_mode">
                                  <p class="help-block" ng-show="userForm.mobile.$error.minlength">Mobile is too short.</p>
                                </div>

                            </div>
                            <br class="clear">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input type="email" name="email" ng-class="{ 'error-field' : userForm.email.$invalid && !userForm.email.$pristine }" placeholder="Email Address" ng-model="user.email" required ng-readonly="!edit_mode">
                                  <p class="help-block" ng-show="userForm.email.$invalid && !userForm.email.$pristine">Enter a valid email address.</p>
                                </div>

                            </div>
                            <br class="clear">
                            <div ng-show="change_password" ng-init="change_password=false" class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Password</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input type="password" placeholder="Current Password" ng-readonly="!edit_mode" ng-model="user.current_password" name="current_password">
                                    <br class="clear" />
                                    <br/>
                                    <input name="new_password" type="password" ng-minlength="6" placeholder="New Password" ng-readonly="!edit_mode" ng-model="user.new_password">
                                    <p class="help-block" ng-show="userForm.new_password.$error.minlength">New password is too short.</p>
                                </div>
                                <br class="clear" />
                                <br/>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Province</label>
                                </div>
                                <div class="col-md-9 col-sm-9">

                                <select name="province" ng-model="user.province_id" ng-change="getMunicipal()" ng-disabled="!edit_mode" ng-options="item.province for item in provinces" required >
                                     </select>
                                </div>
                                <br class="clear" />
                                <br/>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>City</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                     <select name="city_id" ng-model="user.city_id" ng-disabled="!edit_mode" required ng-options="item.city for item in cities">
                                     </select>
                                    <img ng-show="!is_cities && user.province_id" ng-src="assets/img/spinner.gif">
                                </div>
                                <br class="clear" />
                                <br/>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Address</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input name="address" type="text" placeholder="Address" ng-model="user.address" ng-readonly="!edit_mode" ng-class="{ 'error-field' : userForm.address.$invalid && !userForm.address.$pristine }" required>
                                    <p class="help-block" ng-show="userForm.address.$invalid && !userForm.address.$pristine">Address is required.</p>
                                </div>

                            </div>
                            <br class="clear" />
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Birthday</label>
                                </div>
                                <div class="col-md-9 birthday-select col-sm-9">
                                    <div class="col-md-4 col-sm-4">
                                        <select name="bday" ng-model="user.bday" ng-options="day for day in birthDays()" ng-disabled="!edit_mode" ng-class="{ 'error-field' : userForm.bday.$invalid && !userForm.bday.$pristine}" required>
                                         </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                       <select name="bmonth" ng-model="user.bmonth" ng-disabled="!edit_mode" ng-class="{ 'error-field' : userForm.bmonth.$invalid && !userForm.bmonth.$pristine}" required>
                                            <option ng-repeat="month in months" value="{{month.val}}">{{month.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <select name="byear" ng-model="user.byear" ng-disabled="!edit_mode" ng-class="{ 'error-field' : userForm.byear.$invalid && !userForm.byear.$pristine}" required>
                                            <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                                        </select>
                                    </div>
                                </div>

                                <p class="help-block" ng-show="userForm.bday.$invalid && !userForm.bday.$pristine">Birthday is required.</p>
                                <p class="help-block" ng-show="userForm.bmonth.$invalid && !userForm.bmonth.$pristine">Birthmonth is required.</p>
                                <p class="help-block" ng-show="userForm.byear.$invalid && !userForm.byear.$pristine">Birthyear is required.</p>

                            </div>
                            <br class="clear" />
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Gender</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <div class="col-md-6 col-sm-6">
                                        <label class="radio-inline">
                                            <input type="radio" ng-class="{ 'error-field' : userForm.gender.$invalid && !userForm.gender.$pristine}" name="gender" value="Male" ng-model="user.gender" ng-disabled="!edit_mode" required>Male</label>

                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label class="radio-inline">
                                            <input type="radio" ng-class="{ 'error-field' : userForm.gender.$invalid && !userForm.gender.$pristine}"  name="gender" value="Female" ng-model="user.gender" ng-disabled="!edit_mode" required>Female</label>

                                    </div>
                                    <p class="help-block" ng-show="userForm.gender.$invalid && !userForm.gender.$pristine">Gender is required.</p>
                                </div>

                            </div>
                            <br class="clear" />
                            <br/>

                    </div>
                    <br class="clear" />
                    <div class="edit-form">
                        <button type="button" ng-show="!edit_mode" class="btn btn-edit" ng-click="edit_mode = edit_mode ? false : true" ng-init="edit_mode = false">Edit</button>
                        <button type="button" ng-click="change_password=true;" ng-show="edit_mode && !change_password" class="btn btn-change-pw">Change Password</button>
                        <button type="button" ng-click="change_password=false; edit_mode=false" ng-show="edit_mode" class="btn btn-cancel">Cancel</button>
                        <button type="submit" ng-disabled="userForm.$invalid" ng-show="edit_mode" class="btn pull-right save-changes">Save Changes</button>
                    </div>

                    </form>

                </div>
                <br class="clear" />
                <br/>

            </div>

        </div> 

    </div>

    </div>