<div class="container my-account-content">
        <div class="tab-nav">
            <ul class="account-tab">
                <li><a href="my-account">My Account</a> </li>
                <li><a href="favourite-articles">Favourite Articles</a> </li>
                <li><a href="favourite-recipes">Favourite Recipes</a> </li>
                <li class="active"><a href="my-pledges">My Pledges</a> </li>
            </ul>
        </div>
        
        <div class="row-fluid text-right" style="padding: 20px 0">
            <a href="pledging" class="btn mypledge-btn">Pledge Now!</a>
        </div>

        <div class="tab-content">
               
            <div class="my-pledge_panel" ng-repeat="pledge in pledges | limitTo: paginationLimit()">
                
                <div class="postheader">
                    <div class="title-aside">
                        <h4>Posted on {{ pledge.date_added }} </h4>
                    </div>
                    <div class="socialwrap">
                        <span class="d-label-share">
                            SHARE:
                        </span>

                        <a href="javascript:void(0)" ng-click="openTwitter( pledge.type, pledge.message, pledge.category )" class="share-tw pledge-style"></a>
                        
                        <a href="javascript:void(0)" ng-click="openFacebook( pledge.type, pledge.message, pledge.category )" class="share-fb pledge-style"></a>
                    
                    </div>
                    <br class="clear"/>
                </div>

                <p>I promise to make {{ pledge.type }} {{ pledge.message }}<br>
                #DiskarteNaMayArte sa {{ pledge.category }}<br></p>
            </div>

            <button class="load-btn" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">More <i class="fa fa-caret-down fa-2"></i> </button>

        </div>

    </div>