<p>
	I promise to make {{ text1 }} {{ text2 }}.<br/><br/>
</p>

<p>
Love,
<br/>
<input type="text" placeholder="Nickname" ng-model="user.nickname" name="nickname" ng-class="{ 'error-field' : pledgingForm.nickname.$invalid && !pledgingForm.nickname.$pristine }" required/>
<br/>
#BountyFresh Mom
</p>
<div class="fltbtn">
  <button type="submit" ui-sref-active="active" ng-disabled="pledgingForm.$invalid" class="btn">Submit Pledge</button>
</div>
