<br/>
<div class="socialwrap">
    <span class="d-label-share">
        SHARE:
    </span>

    <a href="javascript:void(0)" ng-click="openTwitter( text2, text3, text1 )" class="share-tw pledge-style"></a>
    
    <a href="javascript:void(0)" ng-click="openFacebook( text2, text3, text1 )" class="share-fb pledge-style"></a>

</div>
<p>You are now a full-fledged #BountyFresh Mom! </p>
<p>You could also be the lucky winner of premium Bounty Fresh prizes. Stay tuned for updates and promos. </br></br> </br></p>
<p>We look forward to discovering #DiskarteNaMayArte with you!</p>

<div class="fltbtn">
  <a href="my-pledges" class="btn">Finish</a>
</div>
