 <div class="error txtcenter">
    <span ng-show="error_message">{{error_message}}</span>
  </div><br/>

<div class="row">
   <div class="col-md-12">
     <p class="pctr">
        As a #BountyFresh Mom, may #DiskarteNaMayArte ako sa:
        <select name="catagory" data-role="listview" ng-options="catagory as catagory.text for catagory in catagories.cast" ng-model="user.catagory" ng-change="changeData(user.catagory.text)" ng-class="{ 'error-field' : pledgingForm.catagory.$invalid && !pledgingForm.catagory.$pristine }" required></select>
      </p>
   </div>
 </div>      

<div class="row  msg-1">
  <div class="col-md-5">
  <p class="slctMrg">
    I promise to make 
      <select name="type" data-role="listview" ng-options="type as type.text for type in types.cast"
       ng-model="user.type" ng-change="update(user.type.text)" ng-class="{ 'error-field' : pledgingForm.type.$invalid && !pledgingForm.type.$pristine }" required> 
      </select>
  </p>
  </div>
  <div class="col-md-7 special-container">
    <p>
    Special by (Optional)
    <textarea name="commentBox" ng-model="user.commentBox" placeholder="{{ text3 }}" focus="{{ hasSelection }}"></textarea>
    </p>
  </div>
</div>
<div class="fltbtn">
  <!-- <a ui-sref-active="active" ui-sref="#/form2" class="btn" ng-disabled="pledgingForm.$invalid">Next</a> -->
  <a class="btn" ng-disabled="pledgingForm.$invalid" ng-click="step2(user.commentBox)">Next</a>
</div>