

      <div class="container article-inner ">

          <div class="inner-content col-md-11 relative-center">

                <div class="row top-content">

                      <div class="col-md-9 col-sm-9 col-xs-12">

                      <a href="kitchen" class="btn">{{recipe.back_page}}</a>

                          <h4>{{recipe.title}}</h4>

                          <p>{{recipe.date_published}}</p>

                       </div>

                      <div class="col-md-3 col-xs-12">

                            <div class="recipe-share">

                                 <ul>

                                      <li><a href="javascript:void(0)" ng-click="addFavourite()" class="icons-fave-hover"></a></li>

                                      <li><a href="javascript:void(0)" ng-click="sharePintirest(recipe.id,'recipe')" class="icons-pinterest-hover"></a></li>

                                      <li><a href="javascript:void(0)" ng-click="shareTwitter(recipe.id,'recipe')" class="icons-twitter-hover"></a></li>

                                      <li><a href="javascript:void(0)" ng-click="shareFB(recipe.id,'recipe')"  class="icons-facebook-hover"></a></li>

                                  </ul>

                            </div>

                      </div>

                </div><br class="clear"/><br/>

                <div class="main-content">
                    <img ng-if="recipe.image" ng-src="{{recipe.image}}" class="relative-center img-responsive" alt="{{recipe.title}}"/>
                    <div ng-bind-html="recipe.description"></div>
                </div>

          </div><div class="clearfix"></div>

          <div class="relative-center unpadded comment-content col-md-11">

              <div class="col-md-6  col-xs-12 col-sm-6 comment-list unpadded">

                    <ul>

                        <li ng-show="recipe_comments" ng-repeat="(key,item) in recipe_comments" ng-init="replies[item.id] = {}">

                            <div class="thumb col-md-2 col-sm-3 col-xs-3">

                                <img ng-src="{{item.profile_image}}" alt="Profile Photo"/>

                            </div>

                            <div class="col-md-6 col-xs-6 col-sm-6">

                                <span>{{item.firstname}} {{item.lastname}}</span>

                            </div>

                            <div class="message col-md-10 col-xs-9">

                                <span>{{item.comment}}</span>

                            </div>                            

                            <div class="date-content col-md-6 col-xs-6 col-sm-6">

                                <span>{{item.date_added}}</span>

                            </div>                            

                             <div class="reply col-md-4 col-xs-4 col-sm-4 txtright">

                                <a ng-show="!show_reply[item.id]" href="javascript:void(0)" ng-click="replies_show(item.id)">Reply</a>

                                <a ng-show="show_reply[item.id]" href="javascript:void(0)" ng-click="show_reply[item.id]=false">Hide</a>

                            </div><br class="clear"/>



                            <ul ng-show="subject{{item.id}} && show_reply[item.id]">

                               <li ng-repeat="reply in replies[item.id]">

                                    <ul>

                                        <li>

                                            <div class="thumb col-md-2 col-sm-3 col-xs-3">                                                

                                                 <img ng-src="{{item.profile_image}}" alt="Profile Photo"  alt="thumbnail"/>

                                            </div>

                                            <div class="col-md-6 col-xs-6 col-sm-6">

                                                <span>{{reply.firstname}} {{reply.lastname}}</span>

                                            </div>

                                            <div class="thumb col-md-10 col-sm-9 col-xs-9">

                                                {{reply.comment}}

                                            </div>

                                            <div class="date-content col-md-6 col-xs-6 col-sm-6">

                                                <span>{{reply.date_added | date:"MMMM dd yyyy 'at' hh:mm:ss a"}}</span>
                                                <!-- <span>{{reply.date_added | dateToISO | date:"MMMM dd yyyy 'at' hh:mm:ss a"}}</span> -->

                                            </div>

                                        </li>

                                    </ul>

                                </li>



                                <li>

                                    <ul>

                                        <li>

                                            <div class="thumb col-md-2 col-sm-3 col-xs-3">                                                

                                                 <img ng-src="{{ user.image ? 'assets/img/registrants/resized/62_62_'+user.image : 'assets/img/default-comment-profile-photo.jpg'}}" alt="Profile Photo"  alt="thumbnail"/>

                                            </div>

                                            <div class="thumb col-md-10 col-sm-9 col-xs-9">

                                                <textarea placeholder="Write a comment..." ng-model="recipe.comment_reply"></textarea><br class="clear"/>

                                                <button class="btn pull-right" ng-click="addComment(item.id)">Submit Reply</button>

                                            </div>

                                        </li>

                                    </ul>

                                </li>



                            </ul>

                        </li>

                         

                        <li>

                            <ul>

                                <li>

                                    <div class="thumb col-md-2 col-sm-3 col-xs-3">

                                        <img ng-src="{{ user.image ? 'assets/img/registrants/resized/62_62_'+user.image : 'assets/img/default-comment-profile-photo.jpg'}}" alt="thumbnail"/>

                                    </div>

                                    <div class="thumb col-md-10 col-sm-9 col-xs-9">

                                        <textarea placeholder="Write a comment..." ng-model="recipe.comment"></textarea><br class="clear"/>

                                        <button class="btn pull-right" ng-click="addComment()">Submit Comment</button>

                                    </div>



                                </li>

                            </ul>

                        </li>                        

                    </ul>



              </div>



              <div class="col-md-6 col-xs-12 col-sm-6 article-nav">



                  <div class="txtcenter">

                      <a ng-show="prev_recipe" href="recipe/{{prev_recipe.id}}/{{prev_recipe.url_title}}" class="btn btn-arr-left">Previous Recipe</a>

                      <a ng-show="next_recipe" href="recipe/{{next_recipe.id}}/{{next_recipe.url_title}}" class="btn btn-arr-right">Next Recipe</a>



                  </div>





              </div>



               

          </div>



      </div>

