<div class="container mst_head">
  <img ng-src="assets/img/articles/pledge_banner.jpg" class="img-responsive" alt="masthead_pldge"/>
</div>

<div class="container">
  <div class="brd_panel">

    <div class="text-center v-align">
      <p class="text-center">
        Almost done! An email has been sent to you. Please wait for it para makumpleto ang registration process.
      </p>
    </div>
    
  </div>
</div>