<div class="container">
       <div class="col-md-6 login-content relative-center">
              
             <form name="registrationForm" ng-submit="register(registrationForm.$valid)" novalidate>

                <input type="hidden" ng-model="user.image">
                 
                <div class="form-login">

                      <div class="row upload-row">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                               <img ng-if="!user.image" ng-src="{{'assets/img/upload-default.jpg' }}" height="102"  width="102" alt="thumb"/>
                               <img ng-if="user.image" ng-src="assets/img/registrants/resized/62_62_{{user.image}}" height="102"  width="102" alt="thumb"/><br/>
                            </div>
                             <div class="col-md-6 col-sm-5 txtcenter col-xs-12">
                                   <label>Upload Profile Picture</label>

                                   <div class="progress" ng-show="progress >= 0">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
                                      <span>{{progress}}%</span>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 unpadded">

                                  <a class="btn btn-upload" href="javascript:void(0);">Upload<input type="file" ng-file-select="onFileSelect($files)"></a>
                            </div>

                      </div><br class="clear">
                       <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <label>First Name</label>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                  <input ng-class="{ 'error-field' : registrationForm.firstname.$invalid && !registrationForm.firstname.$pristine }" placeholder="First Name" name="firstname" ng-model="user.firstname" required> 
                                  <p class="help-block" ng-show="registrationForm.firstname.$invalid && !registrationForm.firstname.$pristine">Firstname is required.</p>

                                  
                            </div>

                      </div><br class="clear">
                       <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <label>Last Name</label>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                  <input name="lastname" ng-class="{ 'error-field' : registrationForm.lastname.$invalid && !registrationForm.lastname.$pristine }" placeholder="Last Name" required ng-model="user.lastname" ng-class="error_field=='lastname' ? 'error-field' : '' ">
                                  <p class="help-block" ng-show="registrationForm.lastname.$invalid && !registrationForm.lastname.$pristine">Lastname is required.</p>
                             </div>

                      </div><br class="clear">
                       <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <label>Mobile</label>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                  <input ng-class="{ 'error-field' : registrationForm.mobile.$invalid && !registrationForm.mobile.$pristine }" type="text" maxlength="11" numbers-only placeholder="09xxxxxxxxx" name="mobile" ng-model="user.mobile" ng-maxlength="11" ng-minlength="11" required>
                                  <p class="help-block" ng-show="registrationForm.mobile.$error.minlength">Mobile is too short.</p>
                              </div>

                      </div><br class="clear">
                       <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <label>Email</label>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                  <input type="email" name="email" ng-class="{ 'error-field' : registrationForm.email.$invalid && !registrationForm.email.$pristine }" placeholder="Email Address" ng-model="user.email" required >
                                  <p class="help-block" ng-show="registrationForm.email.$invalid && !registrationForm.email.$pristine">Enter a valid email address.</p>
                             </div>

                      </div><br class="clear">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <label>Password</label>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                  <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-class="{ 'error-field' : registrationForm.password.$invalid && !registrationForm.password.$pristine }" required ng-minlength="6" required>
                                  <p class="help-block" ng-show="registrationForm.password.$invalid && !registrationForm.password.$pristine">Password is too short. Minimum of 6 characters.</p>
                             </div>

                      </div><br class="clear"/>
                      <br class="clear"/>

                      <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <label>Address</label>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                  <input type="text" name="address" placeholder="Address" ng-model="user.address" ng-class="{ 'error-field' : registrationForm.address.$invalid && !registrationForm.address.$pristine }" required>
                                  <p class="help-block" ng-show="registrationForm.address.$invalid && !registrationForm.address.$pristine">Address is required.</p>
                             </div>

                      </div><br class="clear"/>
                      
                      <div class="row">
                            <div class="col-md-3 col-sm-3 ">
                                <label>Province</label>
                            </div>
                            <div class="col-md-9 col-sm-9 birthday-select">
                                  <select name="province" ng-model="user.province_id" ng-change="getMunicipal()" ng-class="{ 'error-field' : registrationForm.province.$invalid && !registrationForm.province.$pristine }" required>
                                      <option value=""></option>
                                       <option value="{{item.province_id}}" ng-repeat="item in provinces">{{item.province}}</option>
                                  </select>
                                  <p class="help-block" ng-show="registrationForm.province.$invalid && !registrationForm.province.$pristine">Province is required.</p>
                             </div>

                      </div><br class="clear"/>
                      <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <label>City</label>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                  <select nam="city" ng-model="user.city_id" ng-class="{ 'error-field' : registrationForm.city.$invalid && !registrationForm.city.$pristine }" required  ng-options="item.city for item in cities">
                                   </select>
                                   <img ng-show="!is_cities && user.province_id" ng-src="assets/img/spinner.gif">
                                   <p class="help-block" ng-show="registrationForm.city.$invalid && !registrationForm.city.$pristine">City is required.</p>
                            </div>

                      </div><br class="clear"/>
                      
                      <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <label>Birthday</label>
                            </div>
                            <div class="col-md-9 birthday-select col-sm-9">
                                 <div class="col-md-4 col-sm-4">
                                        <select name="bday" ng-model="user.bday" ng-options="day for day in birthDays()" ng-class="{ 'error-field' : registrationForm.bday.$invalid && !registrationForm.bday.$pristine}" required>
                                          <option value="">Day</option>
                                         </select>
                                 </div>
                                  <div class="col-md-4 col-sm-4">
                                        <select name="bmonth" ng-model="user.bmonth" ng-class="{ 'error-field' : registrationForm.bmonth.$invalid && !registrationForm.bmonth.$pristine}" required>
                                            <option value="">Month</option>
                                            <option ng-repeat="month in months" value="{{month.val}}" >{{month.name}}</option>
                                        </select>
                                 </div>
                                  <div class="col-md-4 col-sm-4">
                                        <select name="byear" ng-model="user.byear" ng-class="{ 'error-field' : registrationForm.byear.$invalid && !registrationForm.byear.$pristine}" required>
                                            <option value="">Year</option>
                                            <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                                        </select>
                                 </div>
                                 <p class="help-block" ng-show="registrationForm.bday.$invalid && !registrationForm.bday.$pristine">Birthday is required.</p>
                                 <p class="help-block" ng-show="registrationForm.bmonth.$invalid && !registrationForm.bmonth.$pristine">Birthmonth is required.</p>
                                 <p class="help-block" ng-show="registrationForm.byear.$invalid && !registrationForm.byear.$pristine">Birthyear is required.</p>
                             </div>

                      </div><br class="clear"/>
                       <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <label>Gender</label>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                  <div class="col-md-6 col-sm-6">
                                      <label class="radio-inline">
                                        <input type="radio" ng-class="{ 'error-field' : registrationForm.gender.$invalid && !registrationForm.gender.$pristine}" required name="gender" value="Male" ng-model="user.gender" style="position:relative;width:20px;height:20px;vertical-align:top;margin-right:10px;"><span>Male</span> </label>

                                  </div>
                                  <div class="col-md-6 col-sm-6">
                                      <label class="radio-inline">
                                        <input type="radio" name="gender" value="Female" ng-model="user.gender" ng-class="{ 'error-field' : registrationForm.gender.$invalid && !registrationForm.gender.$pristine}" required style="position:relative;width:20px;height:20px;vertical-align:top;margin-right:10px;"><span>Female</span> </label>
                                        <p class="help-block" ng-show="registrationForm.gender.$invalid && !registrationForm.gender.$pristine">Gender is required.</p>

                                  </div>

                             </div>

                      </div><br class="clear"/><br/>
                       <div class="row">
                         <p class="help-block" ng-show="registrationForm.agree.$invalid && !registrationForm.agree.$pristine">You must agree to the Terms and Conditions to proceed.</p>
                          <input name="agree" ng-class="{ 'error-field' : registrationForm.agree.$invalid && !registrationForm.agree.$pristine}" required ng-model="user.agree" type="checkbox"><span>I Agree to <a href="terms-and-conditions" target="_blank">Terms & Conditions</a></span>


                      </div><br class="clear"/>



                </div><br class="clear"/>
                  <div class="submit-form txtright">
                      <button type="submit" class="btn" ng-disabled="registrationForm.$invalid || registrationForm.$pristine">SUBMIT</button>
                  </div>
             </form>

       </div>

    </div>