<div class="container">
       <div class="col-md-6 login-content relative-center">
              
             <form ng-submit="resetUserPassword()">
                <input type="hidden" name="token" >
                 <div class="form-login">
                       <div class="error txtcenter">
                          <span ng-show="error_message">{{error_message}}</span>
                      </div><br/>
                      <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <label>New Password</label>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                  <input type="password" ng-model="user.password">
                            </div>

                      </div><br class="clear">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <label>Re-type New Password</label>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                  <input type="password"  ng-model="user.cpassword">
                            </div>

                      </div><br class="clear"/>
                      <div class="row login-btn">
                          <div class="col-md-6 ">
                              <a href="#/register"></a>
                          </div>

                          <div class="col-md-6 txtright">
                              <button type="submit" class="btn">Reset Password</button><br class="clear"/><br/>
                           </div>

                      </div>

                </div>

             </form>

       </div>

    </div>