<div class="container my-account-content contact-us-content">
        <div class="tab-content">
            <div class="col-md-11 relative-center my-account">
                    <div class="heading col-md-3 txtcenter">Terms and Conditions</div>
                    <br class="clear" /><br/>

                    <div class="policy-content" ng-bind-html="terms_and_conditions.content"></div>
                    <br class="clear"/><br/>
            </div>
        </div>
    </div>