<!DOCTYPE html>
<html lang="en" ng-app="pledgeApp" ng-controller="pledgeCtrl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Bounty Fresh Chicken, Bounty Fresh, Bounty, Bounty Fresh Chicken recipes, Bounty Fresh Moms, Restaurants in Makati with Function Rooms, Baon ideas for kids, filipino traditional christmas, filipino traditions, la cocina de tita, christmas food recipes, christmas recipes, pinoy christmas food, filipino christmas food, filipino christmas recipes, pepper.ph recipes, christmas recipes pinoy, filipino christmas dishes, filipino christmas food recipes, chicken recipes, chicken recipes for christmas, articles for moms, articles for mommies, christmas menu philippines, mommy tips, young moms">
    <!-- <base href="http://www.chicmomsclub.com"> -->
    <!-- <base href="http://localhost/chicmoms-bounty-fresh/"> -->
    <base href="http://bountyfreshmoms.com/">
    <title>Bounty Fresh Moms | Register</title>
    <link href="assets/vendors/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="assets/vendors/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/img/favicon.png" type="image/x-icon" rel="shortcut icon" />
    <!-- <link href="assets/css/main.min.css" rel="stylesheet"> -->
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/ngDialog.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/ngDialog-theme-plain.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    select.classic{
        /* styling */
        background-color: white;
        border: #B3B3B3 thin solid;
        border-radius: 4px;
        display: inline-block;
        font: inherit;
        height: 40px !important;
        /* reset */
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    form .birthday-select div select {

    width: 120%;

}
    select.classic {
        background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, #fee4a7, #fee4a7);
        background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
        background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
        background-repeat: no-repeat;
    }


    /*select.classic:focus {
        background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), linear-gradient(to right, gray, gray);
        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
        background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
        background-repeat: no-repeat;
        border-color: grey;
        outline: 0;
    }*/
    </style>
</head>

<body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header ng-include="'partials/header.html'"></header>
    <div class="container mst_head">
        <img ng-src="assets/img/articles/pledge_banner.jpg" class="img-responsive" alt="masthead_pldge" />
    </div>
    <div class="container">
        <div class="brd_panel">
            <div class="text-center v-align">
                <a href="login" class="btn">Login</a>
                <a ng-click="registerDialog()" class="btn">Register</a>
            </div>
        </div>
    </div>
    <!--   <section class="main" ng-include="'partials/pledge.html'"></section>  -->
    <footer ng-include="'partials/footer.html'"></footer>
    <script type="text/ng-template" id="registrationForm">
        <div class="container">
            <div class="row">
                <div class="col-md-12 login-content">
                    <form name="registrationForm" ng-submit="register(registrationForm.$valid)" novalidate>
                        <input type="hidden" ng-model="user.image">
                        <div class="form-login">
                            <div class="row upload-row">
                                <div class="col-sm-4 col-xs-12 v-mdle">
                                    <div ng-if="!user.image" style="
                                  width: 100px;
                                  height: 100px;
                                  border: 1px solid #3E3C3C;
                                  background: url({{'assets/img/upload-default.jpg' }});
                                  background-size: cover;
                              "></div>
                                    <div ng-if="user.image" style="
                                  width: 100px;
                                  height: 100px;
                                  border: 1px solid #3E3C3C;
                                  background: url('assets/img/registrants/{{user.image}}');
                                  background-size: cover;
                              "></div>
                                </div>
                                <div class="col-sm-6 txtcenter col-xs-12 v-mdle">
                                    <label>Upload Profile Picture</label>
                                    <div class="progress" ng-show="progress >= 0">
                                        <div ng-if="!error" class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
                                            <span>{{progress}}%</span>
                                        </div>
                                        <div ng-if="error" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                            <span>0%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-12 unpadded v-mdle" style="text-align: right">
                                    <a class="btn btn-upload" href="javascript:void(0);">Upload<input type="file" ng-file-select="onFileSelect($files)"></a>
                                </div>
                            </div>
                            <br class="clear">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>First Name</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input ng-class="{ 'error-field' : registrationForm.firstname.$invalid && !registrationForm.firstname.$pristine }" placeholder="First Name" name="firstname" ng-model="user.firstname" required>
                                    <p class="help-block" ng-show="registrationForm.firstname.$invalid && !registrationForm.firstname.$pristine">Firstname is required.</p>
                                </div>
                            </div>
                            <br class="clear">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Last Name</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input name="lastname" ng-class="{ 'error-field' : registrationForm.lastname.$invalid && !registrationForm.lastname.$pristine }" placeholder="Last Name" required ng-model="user.lastname" ng-class="error_field=='lastname' ? 'error-field' : '' ">
                                    <p class="help-block" ng-show="registrationForm.lastname.$invalid && !registrationForm.lastname.$pristine">Lastname is required.</p>
                                </div>
                            </div>
                            <br class="clear">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Mobile</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input ng-class="{ 'error-field' : registrationForm.mobile.$invalid && !registrationForm.mobile.$pristine }" type="text" maxlength="11" numbers-only placeholder="09xxxxxxxxx" name="mobile" ng-model="user.mobile" ng-maxlength="11" ng-minlength="11" required>
                                    <p class="help-block" ng-show="registrationForm.mobile.$error.minlength">Mobile is too short.</p>
                                </div>
                            </div>
                            <br class="clear">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input type="email" name="email" placeholder="Email Address" ng-model="user.email" ng-class="{ 'error-field' : registrationForm.email.$invalid && !registrationForm.email.$pristine }" required>
                                    <p class="help-block" ng-show="registrationForm.email.$invalid && !registrationForm.email.$pristine">Enter a valid email address.</p>
                                </div>
                            </div>
                            <br class="clear">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Password</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-class="{ 'error-field' : registrationForm.password.$invalid && !registrationForm.password.$pristine }" required ng-minlength="6" required>
                                    <p class="help-block" ng-show="registrationForm.password.$invalid && !registrationForm.password.$pristine">Password is too short. Minimum of 6 characters.</p>
                                </div>
                            </div>
                            <br class="clear" />
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Address</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <input type="text" name="address" placeholder="Address" ng-model="user.address" required ng-class="{ 'error-field' : registrationForm.address.$invalid && !registrationForm.address.$pristine }">
                                    <p class="help-block" ng-show="registrationForm.address.$invalid && !registrationForm.address.$pristine">Address is required.</p>
                                </div>
                            </div>
                            <br class="clear" />
                            <div class="row">
                                <div class="col-md-3 col-sm-3 ">
                                    <label>Province</label>
                                </div>
                                <div class="col-md-9 col-sm-9 birthday-select">
                                    <select class="classic" name="province" ng-model="user.province_id" ng-change="getMunicipal()" ng-class="{ 'error-field' : registrationForm.province.$invalid && !registrationForm.province.$pristine }" required>
                                        <option value=""></option>
                                        <option value="{{item.province_id}}" ng-repeat="item in provinces">{{item.province}}</option>
                                    </select>
                                    <p class="help-block" ng-show="registrationForm.province.$invalid && !registrationForm.province.$pristine">Province is required.</p>
                                </div>
                            </div>
                            <br class="clear" />
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>City</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <select class="classic" name="city" ng-model="user.city_id" required ng-options="item.city for item in cities track by item.city" ng-class="{ 'error-field' : registrationForm.city.$invalid && !registrationForm.city.$pristine }">
                                        <option value=""></option>
                                    </select>
                                    <img ng-show="!is_cities && user.province_id" ng-src="assets/img/spinner.gif">
                                    <p class="help-block" ng-show="registrationForm.city.$invalid && !registrationForm.city.$pristine">City is required.</p>
                                </div>
                            </div>
                            <br class="clear" />
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Birthday</label>
                                </div>
                                <div class="col-md-9 birthday-select col-sm-9">
                                    <div class="col-md-4 col-xs-4">
                                        <select class="classic" name="bday" class="classic" ng-model="user.bday" ng-options="day for day in birthDays()" required ng-class="{ 'error-field' : registrationForm.bday.$invalid && !registrationForm.bday.$pristine}">
                                            <option value="">DD</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-xs-4">
                                        <select class="classic" name="bmonth" ng-model="user.bmonth" required ng-class="{ 'error-field' : registrationForm.bmonth.$invalid && !registrationForm.bmonth.$pristine}">
                                            <option value="">MM</option>
                                            <option ng-repeat="month in months" value="{{month.val}}">{{month.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-xs-4">
                                        <select class="classic" name="byear" ng-model="user.byear" required ng-class="{ 'error-field' : registrationForm.byear.$invalid && !registrationForm.byear.$pristine}">
                                            <option value="">YY</option>
                                            <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                                        </select>
                                    </div>
                                    <p class="help-block" ng-show="registrationForm.bday.$invalid && !registrationForm.bday.$pristine">Birthday is required.</p>
                                    <p class="help-block" ng-show="registrationForm.bmonth.$invalid && !registrationForm.bmonth.$pristine">Birthmonth is required.</p>
                                    <p class="help-block" ng-show="registrationForm.byear.$invalid && !registrationForm.byear.$pristine">Birthyear is required.</p>
                                </div>
                            </div>
                            <br class="clear" />
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Gender</label>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <div class="col-md-6 col-sm-6">
                                        <label class="radio-inline">
                                            <input type="radio" name="gender" value="Female" ng-model="user.gender" ng-class="{ 'error-field' : registrationForm.gender.$invalid && !registrationForm.gender.$pristine}" required><span>Female</span> </label>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label class="radio-inline">
                                            <input type="radio" required name="gender" value="Male" ng-model="user.gender"><span>Male</span> </label>
                                        <p class="help-block" ng-show="registrationForm.gender.$invalid && !registrationForm.gender.$pristine">Gender is required.</p>
                                    </div>
                                </div>
                            </div>
                            <br class="clear" />
                            <br/>
                            <div class="row text-center">
                                <p class="help-block" ng-show="registrationForm.agree.$invalid && !registrationForm.agree.$pristine">You must agree to the Terms and Conditions to proceed.</p>
                                <input name="agree" required ng-model="user.agree" type="checkbox"><span>I Agree to <a href="terms-and-conditions" target="_blank">Terms & Conditions</a></span>
                                <br class="clear" />
                                <br/>
                                <button type="submit" class="btn" ng-disabled="registrationForm.$invalid || registrationForm.$pristine">SUBMIT</button>
                            </div>
                        </div>
                        <br class="clear" />
                    </form>
                </div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="registrationDialog">
        <div class="ngdialog-message">
            <p>
                <center ng-show="!buttonShow">{{message}}</center>
            </p>
            <p ng-show="buttonShow">{{message}}</p>
        </div>
        <div class="ngdialog-buttons" ng-show="buttonShow">
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Continue</button>
        </div>
    </script>
    <script src="assets/vendors/jquery/jquery.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/angular/angular.min.js"></script>
    <script src="assets/js/angular/directives/googleSearch.js"></script>
    <script src="assets/js/angular/ngDialog.min.js"></script>
    <script src="assets/js/angular/modules/pledgeLanding.js"></script>
    <script src="assets/js/angular/angular-file-upload.min.js"></script>
    <script src="assets/js/angular/angular-file-upload-shim.js"></script>
</body>

</html>
