<!DOCTYPE html>
<html lang="en" ng-app="pledingnApp" ng-controller="pledgingCtrl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Bounty Fresh Chicken, Bounty Fresh, Bounty, Bounty Fresh Chicken recipes, Bounty Fresh Moms, Restaurants in Makati with Function Rooms, Baon ideas for kids, filipino traditional christmas, filipino traditions, la cocina de tita, christmas food recipes, christmas recipes, pinoy christmas food, filipino christmas food, filipino christmas recipes, pepper.ph recipes, christmas recipes pinoy, filipino christmas dishes, filipino christmas food recipes, chicken recipes, chicken recipes for christmas, articles for moms, articles for mommies, christmas menu philippines, mommy tips, young moms">
    <!-- <base href="http://www.chicmomsclub.com"> -->
    <base href="http://bountyfreshmoms.com/">
    <!-- <base href="http://localhost/chicmoms-bounty-fresh/"> -->
    <title>Bounty Fresh Moms | Pledge</title>
    <link href="assets/vendors/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="assets/vendors/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/img/favicon.png" type="image/x-icon" rel="shortcut icon" />
    <!-- <link href="assets/css/main.min.css" rel="stylesheet"> -->
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <div id="fb-root"></div>

    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '498199140339037',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header ng-include="'partials/header.html'"></header>

    <div class="container mst_head">
      <img ng-src="assets/img/articles/pledge_banner.jpg" class="img-responsive" alt="masthead_pldge"/>
    </div>

<div class="container">
  <div class="brd_panel">

    <div class="text-center wzrdbtn">
      <!-- <a class="not-clickable" ui-sref-active="active" ui-sref="#" ng-disabled="pledgingForm.$invalid"><span>1</span></a>
      <a class="not-clickable" ui-sref-active="active" ui-sref="#/form2" ng-disabled="pledgingForm.$invalid"><span>2</span></a>
      <a class="not-clickable" ui-sref-active="active" ui-sref="#/success" ng-disabled="pledgingForm.$invalid"><span>3</span> </a>
       -->

      <a ng-class="{ active : getLocationPath() =='/' }" ng-click="step1()"><span>1</span></a>
      <a ng-class="{ active : getLocationPath() =='/form2' }" ng-click="step2()"><span>2</span></a>
      <a ng-class="{ active : getLocationPath() =='/success'} " ng-click="checkAllData()"><span>3</span> </a>
    </div>

     <!--<form class="pledgeFrom" name="pledgingForm" ng-submit="processForm()">-->
     <form class="pledgeFrom" name="pledgingForm" ng-submit="pledge(pledgingForm.$valid)" novalidate>
          <!-- our nested state views will be injected here -->
          <div id="form-views" ui-view></div>
      </form>

  </div>
</div>
<!--   <section class="main" ng-include="'partials/pledge.html'"></section>  -->
    <footer ng-include="'partials/footer.html'"></footer>


    <script src="assets/vendors/jquery/jquery.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/angular/angular.min.js"></script>
    <script src="assets/js/angular/directives/googleSearch.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>
    <script src="assets/js/angular/services/auth.js"></script>
    <script src="assets/js/angular/services/postSharing.js"></script>
    <script src="assets/js/angular/modules/pledging.js"></script>
    <script language='JavaScript1.1' src='//pixel.mathtag.com/event/js?mt_id=909998&mt_adid=155897&v1=&v2=&v3=&s1=&s2=&s3='></script>

</body>

</html>

