<!DOCTYPE html>
<html lang="en" ng-app="registerApp" ng-controller="registerCtrl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Bounty Fresh Chicken, Bounty Fresh, Bounty, Bounty Fresh Chicken recipes, Bounty Fresh Moms, Restaurants in Makati with Function Rooms, Baon ideas for kids, filipino traditional christmas, filipino traditions, la cocina de tita, christmas food recipes, christmas recipes, pinoy christmas food, filipino christmas food, filipino christmas recipes, pepper.ph recipes, christmas recipes pinoy, filipino christmas dishes, filipino christmas food recipes, chicken recipes, chicken recipes for christmas, articles for moms, articles for mommies, christmas menu philippines, mommy tips, young moms">
    <!-- <base href="http://www.chicmomsclub.com"> -->
    <base href="http://bountyfreshmoms.com/">
    <title>Bounty Fresh Moms | Register</title>
    <link href="assets/vendors/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="assets/vendors/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/img/favicon.png" type="image/x-icon" rel="shortcut icon" />
    <!-- <link href="assets/css/main.min.css" rel="stylesheet"> -->
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/ngDialog.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/ngDialog-theme-plain.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header ng-include="'partials/header.html'"></header>

    <div class="container mst_head">
      <img ng-src="assets/img/articles/pledge_banner.jpg" class="img-responsive" alt="masthead_pldge"/>
    </div>

 <section class="main" ng-include="'partials/register.html'"></section>
    <footer ng-include="'partials/footer.html'"></footer>


    <script type="text/ng-template" id="registrationDialog">
       <div class="ngdialog-message">
         <p><center ng-show="!buttonShow">{{message}}</center></p>
          <p ng-show="buttonShow">{{message}}</p>
       </div>
       <div class="ngdialog-buttons" ng-show="buttonShow">
          <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Continue</button>
       </div>
     </script>


    <script src="assets/vendors/jquery/jquery.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/angular/angular.min.js"></script>
    <script src="assets/js/angular/directives/googleSearch.js"></script>
    <script src="assets/js/angular/ngDialog.min.js"></script>
    <script src="assets/js/angular/modules/registerApp.js"></script>

    <script src="assets/js/angular/angular-file-upload.min.js"></script>
    <script src="assets/js/angular/angular-file-upload-shim.js"></script>

</body>

</html>

