/* ToDo: add flex-grow, flex-shrink, flex-basis, flex-flow, align-items, align-self, justify-content mixins */
/*
*   @description
*   Generates border radius for a given element
*   @example
*  .selector {
*       @include border-radius(5px);
*   }
*/
/*
*   @description
*   Generates opacity for a given element
*   @example
*  .selector {
*       @include opacity(5px);
*   }
*/
/*
*   @description
*   Generates box shadow for a given element
*   @example
*  .selector {
*       @include box-shadow(5px 5px 10px 5px #aaa);
*   }
*/
/*
*   @description
*   Generates text shadow for a given element
*   @example
*  .selector {
*       @include text-shadow(5px 5px 10px 5px #aaa);
*   }
*/
/*
 * @description
 * Generates a linear gradient for a given element with a fallback color.
 * @example
 *   .selector {
 *     @include linear-gradient("to bottom", #ccc, #ddd, #bbb);
 *   }
 */
/*
 * @description
 * Generates `placeholder` content for a given element
  * @example
 *   .selector {
 *     @include x-placeholder {
 *         color: #bada55;
 *         font-weight: bold;
 *     }
 *   }
 */
/*
 * @description
 * Generates cross-browser-compatible `transform` for a given element
 * @example
 *   .selector {
 *     @include x-transform(rotate(1deg));
 *   }
 */
/*
 * @description
 * Generates cross-browser-compatible `transition` output for a given element.
 * @example
 *   .selector {
 *     @include x-transition(background 0.3s ease-in);
 *   }
 */
/*---------------- COLORS -------------------
------------------------------------------------*/
/*---------------- FONTS  -------------------
------------------------------------------------*/
@font-face {
  font-family: 'nobel-lightregular';
  src: url("../fonts/nolt____-webfont.eot");
  src: url("../fonts/nolt____-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nolt____-webfont.woff") format("woff"), url("../fonts/nolt____-webfont.ttf") format("truetype"), url("../fonts/nolt____-webfont.svg#nobel-lightregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cyntho-slab-proregular';
  src: url("../fonts/mint_type_-_cynthoslabpro-regular-webfont.eot");
  src: url("../fonts/mint_type_-_cynthoslabpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mint_type_-_cynthoslabpro-regular-webfont.woff") format("woff"), url("../fonts/mint_type_-_cynthoslabpro-regular-webfont.ttf") format("truetype"), url("../fonts/mint_type_-_cynthoslabpro-regular-webfont.svg#cyntho_slab_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../sass/_buttons.scss */
.btn-hover, .btn:hover, body section.main .login-content .facebook-connect .btn:hover {
  -moz-box-shadow: inset 0px 0px 0px #bf0024, 0px 1px 0px 0px #93001c;
  -webkit-box-shadow: inset 0px 0px 0px #bf0024, 0px 1px 0px 0px #93001c;
  box-shadow: inset 0px 0px 0px #bf0024, 0px 1px 0px 0px #93001c;
  top: 2px;
  color: white;
}
/* line 5, ../sass/_buttons.scss */
.btn-hover:before, .btn:hover:before, body section.main .login-content .facebook-connect .btn:hover:before {
  border-width: 20px;
}

/* line 10, ../sass/_buttons.scss */
.btn-blue-hover, .btn-arr-left-blue:hover {
  -moz-box-shadow: inset 0px 0px 0px #bf0024, 0px 1px 0px 0px #100151;
  -webkit-box-shadow: inset 0px 0px 0px #bf0024, 0px 1px 0px 0px #100151;
  box-shadow: inset 0px 0px 0px #bf0024, 0px 1px 0px 0px #100151;
  top: 2px;
  color: white;
}
/* line 14, ../sass/_buttons.scss */
.btn-blue-hover:before, .btn-arr-left-blue:hover:before {
  border-width: 15px;
}

/* line 20, ../sass/_buttons.scss */
.btn {
  position: relative;
  cursor: pointer;
  outline: none !important;
  font-family: "cyntho-slab-proregular";
  font-size: 14px;
  background: #e6032e;
  color: white;
  padding: 10px 15px;
  border: none;
  -moz-box-shadow: inset 0px 0px 0px #bf0024, 0px 3px 0px 0px #93001c;
  -webkit-box-shadow: inset 0px 0px 0px #bf0024, 0px 3px 0px 0px #93001c;
  box-shadow: inset 0px 0px 0px #bf0024, 0px 3px 0px 0px #93001c;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 35, ../sass/_buttons.scss */
.btn:active {
  color: white !important;
}

/* line 41, ../sass/_buttons.scss */
.btn-arr-left, .btn-arr-right, .btn-arr-left-blue {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
/* line 43, ../sass/_buttons.scss */
.btn-arr-left:after, .btn-arr-left:before, .btn-arr-right:after, .btn-arr-right:before, .btn-arr-left-blue:after, .btn-arr-left-blue:before {
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 56, ../sass/_buttons.scss */
.btn-arr-right {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
/* line 58, ../sass/_buttons.scss */
.btn-arr-right:after, .btn-arr-right:before {
  left: 100%;
}
/* line 62, ../sass/_buttons.scss */
.btn-arr-right:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #93001c;
  border-width: 21px;
  margin-top: -19px;
}
/* line 70, ../sass/_buttons.scss */
.btn-arr-right:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #e6032e;
  border-width: 20px;
  margin-top: -20px;
}

/* line 79, ../sass/_buttons.scss */
.btn-arr-left:after, .btn-arr-left:before {
  right: 100%;
}
/* line 83, ../sass/_buttons.scss */
.btn-arr-left:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #93001c;
  border-width: 21px;
  margin-top: -19px;
}
/* line 91, ../sass/_buttons.scss */
.btn-arr-left:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #e6032e;
  border-width: 20px;
  margin-top: -20px;
}

/* line 99, ../sass/_buttons.scss */
.btn-arr-left-blue {
  background: #372490 !important;
  -moz-box-shadow: inset 0px 0px 0px #bf0024, 0px 3px 0px 0px #100151;
  -webkit-box-shadow: inset 0px 0px 0px #bf0024, 0px 3px 0px 0px #100151;
  box-shadow: inset 0px 0px 0px #bf0024, 0px 3px 0px 0px #100151;
  padding: 5px 10px;
  text-transform: uppercase;
}
/* line 104, ../sass/_buttons.scss */
.btn-arr-left-blue:after, .btn-arr-left-blue:before {
  right: 100%;
}
/* line 108, ../sass/_buttons.scss */
.btn-arr-left-blue:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #100151;
  border-width: 16px;
  margin-top: -14px;
}
/* line 116, ../sass/_buttons.scss */
.btn-arr-left-blue:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #372490;
  border-width: 15px;
  margin-top: -15px;
}

/* line 162, icons/*.png */
.icons-sprite, .icons-btn-facebook, .icons-btn-follow-fb, .icons-btn-follow-instagram, .icons-btn-follow-twitter, .icons-btn-left, body section.main .slider-content .owl-prev, .icons-btn-pinterest, .icons-btn-right, body section.main .slider-content .owl-next, .icons-btn-twitter, .icons-facebook-hover, .recipe-share ul li a.icons-btn-facebook:hover, .icons-facebook-inverse, body section.main .kitchen-content .article-item .article-details .author-details .recipe-share .icons-facebook-hover:hover, body section.main .kitchen-content .article-item .article-details .author-details .recipe-share ul li a.icons-btn-facebook:hover, body section.main .article-inner .inner-content .top-content .recipe-share .icons-facebook-hover:hover, body section.main .article-inner .inner-content .top-content .recipe-share ul li a.icons-btn-facebook:hover, .icons-fave-hover, .icons-fave-inverse, body section.main .article-inner .inner-content .top-content .recipe-share .icons-fave-hover:hover, .icons-pinterest-hover, .recipe-share ul li a.icons-btn-pinterest:hover, .icons-pinterest-inverse, body section.main .kitchen-content .article-item .article-details .author-details .recipe-share .icons-pinterest-hover:hover, body section.main .kitchen-content .article-item .article-details .author-details .recipe-share ul li a.icons-btn-pinterest:hover, body section.main .article-inner .inner-content .top-content .recipe-share .icons-pinterest-hover:hover, body section.main .article-inner .inner-content .top-content .recipe-share ul li a.icons-btn-pinterest:hover, .icons-twitter-hover, .recipe-share ul li a.icons-btn-twitter:hover, .icons-twitter-inverse, body section.main .kitchen-content .article-item .article-details .author-details .recipe-share .icons-twitter-hover:hover, body section.main .kitchen-content .article-item .article-details .author-details .recipe-share ul li a.icons-btn-twitter:hover, body section.main .article-inner .inner-content .top-content .recipe-share .icons-twitter-hover:hover, body section.main .article-inner .inner-content .top-content .recipe-share ul li a.icons-btn-twitter:hover {
  background: url('../img/icons-s9d0d6b1eed.png') no-repeat;
}

/* line 60, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-btn-facebook {
  background-position: 0 -430px;
}

/* line 60, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-btn-follow-fb {
  background-position: 0 -263px;
}

/* line 60, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-btn-follow-instagram {
  background-position: 0 -79px;
}

/* line 60, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-btn-follow-twitter {
  background-position: 0 -171px;
}

/* line 60, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-btn-left, body section.main .slider-content .owl-prev {
  background-position: 0 -27px;
}

/* line 60, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-btn-pinterest {
  background-position: 0 -380px;
}

/* line 60, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-btn-right, body section.main .slider-content .owl-next {
  background-position: 0 0;
}

/* line 60, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-btn-twitter {
  background-position: 0 -405px;
}

/* line 60, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook-hover, .recipe-share ul li a.icons-btn-facebook:hover {
  background-position: 0 -355px;
}

/* line 60, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook-inverse, body section.main .kitchen-content .article-item .article-details .author-details .recipe-share .icons-facebook-hover:hover, body section.main .kitchen-content .article-item .article-details .author-details .recipe-share ul li a.icons-btn-facebook:hover, body section.main .article-inner .inner-content .top-content .recipe-share .icons-facebook-hover:hover, body section.main .article-inner .inner-content .top-content .recipe-share ul li a.icons-btn-facebook:hover {
  background-position: 0 -213px;
}

/* line 60, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-fave-hover {
  background-position: 0 -330px;
}

/* line 60, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-fave-inverse, body section.main .article-inner .inner-content .top-content .recipe-share .icons-fave-hover:hover {
  background-position: 0 -305px;
}

/* line 60, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pinterest-hover, .recipe-share ul li a.icons-btn-pinterest:hover {
  background-position: 0 -146px;
}

/* line 60, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pinterest-inverse, body section.main .kitchen-content .article-item .article-details .author-details .recipe-share .icons-pinterest-hover:hover, body section.main .kitchen-content .article-item .article-details .author-details .recipe-share ul li a.icons-btn-pinterest:hover, body section.main .article-inner .inner-content .top-content .recipe-share .icons-pinterest-hover:hover, body section.main .article-inner .inner-content .top-content .recipe-share ul li a.icons-btn-pinterest:hover {
  background-position: 0 -54px;
}

/* line 60, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter-hover, .recipe-share ul li a.icons-btn-twitter:hover {
  background-position: 0 -238px;
}

/* line 60, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter-inverse, body section.main .kitchen-content .article-item .article-details .author-details .recipe-share .icons-twitter-hover:hover, body section.main .kitchen-content .article-item .article-details .author-details .recipe-share ul li a.icons-btn-twitter:hover, body section.main .article-inner .inner-content .top-content .recipe-share .icons-twitter-hover:hover, body section.main .article-inner .inner-content .top-content .recipe-share ul li a.icons-btn-twitter:hover {
  background-position: 0 -121px;
}

/*--------- DEFAULTS ---------------
----------------------------------------*/
/* line 8, ../sass/_base.scss */
form .error span {
  color: #f00;
  font-style: italic;
}
/* line 12, ../sass/_base.scss */
form label {
  font-family: "cyntho-slab-proregular";
}
/* line 15, ../sass/_base.scss */
form input {
  width: 100%;
  outline: none;
  height: 30px;
  border: #e3e3e3 thin solid;
  text-indent: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 23, ../sass/_base.scss */
form input[type="radio"], form input[type="checkbox"] {
  height: 20px;
  margin: 0 5px;
  border: none;
  outline: none;
}
/* line 29, ../sass/_base.scss */
form input[type="checkbox"] {
  width: 5%;
  float: left;
}
/* line 33, ../sass/_base.scss */
form textarea {
  width: 100%;
  resize: none;
  min-height: 200px;
  border: #e3e3e3 thin solid;
}
/* line 42, ../sass/_base.scss */
form .birthday-select div select {
  border: none;
  height: 30px;
  border: #e3e3e3 thin solid;
  width: 100%;
  outline: none;
}
/* line 51, ../sass/_base.scss */
form a {
  color: #372490;
  font-style: italic;
  font-family: "cyntho-slab-proregular";
  font-weight: normal;
  font-size: 12px;
}
/* line 57, ../sass/_base.scss */
form a.btn-upload {
  padding: 10px 30px;
  font-family: "cyntho-slab-proregular";
  font-size: 14px;
  color: white;
  font-style: normal;
}
/* line 63, ../sass/_base.scss */
form a.btn-upload input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  z-index: 9;
  filter: alpha(opacity=0);
  /* internet explorer */
  -khtml-opacity: 0;
  /* khtml, old safari */
  -moz-opacity: 0;
  /* mozilla, netscape */
  opacity: 0;
  /* fx, safari, opera */
}
/* line 78, ../sass/_base.scss */
form img#uploadPreview {
  border: #e3e3e3 thin solid;
}
/* line 81, ../sass/_base.scss */
form button {
  padding: 10px 50px;
}

/* line 88, ../sass/_base.scss */
.to-show, .to-show-pw {
  display: none;
}

/* line 91, ../sass/_base.scss */
div, section {
  position: relative;
}

/* *{
    border:#000 thin dashed;
} */
/* line 95, ../sass/_base.scss */
ul {
  list-style-type: none;
}
/* line 97, ../sass/_base.scss */
ul li {
  display: inline-block;
}

/* line 101, ../sass/_base.scss */
h1, h2, h3, p {
  font-family: "cyntho-slab-proregular";
}

/* line 104, ../sass/_base.scss */
h1 {
  font-size: 30px;
}

/* line 107, ../sass/_base.scss */
h4 {
  font-family: "nobel-lightregular";
}

/* line 110, ../sass/_base.scss */
.heading {
  background: url(../img/title-bg.png);
  padding: 10px 30px;
  font-weight: bold;
  color: white;
  font: 18px "cyntho-slab-proregular";
}

/* line 117, ../sass/_base.scss */
.featured-ribbon {
  position: absolute;
  background: url(../img/featured-ribbon.png) no-repeat;
  top: -7px;
  height: 50px;
  width: 40px;
  z-index: 10;
}

/* line 125, ../sass/_base.scss */
.promo-ribbon {
  position: absolute;
  background: url(../img/promo-ribbon.png) no-repeat;
  top: 3px;
  height: 36px;
  width: 73px;
  left: -10px;
  z-index: 10;
}

/* line 134, ../sass/_base.scss */
.recipe-share {
  position: absolute;
  padding: 15px;
  z-index: 10;
  right: 0;
  top: 0;
}
/* line 140, ../sass/_base.scss */
.recipe-share ul {
  list-style-type: none;
}
/* line 142, ../sass/_base.scss */
.recipe-share ul li {
  display: inline-block;
}
/* line 144, ../sass/_base.scss */
.recipe-share ul li a {
  width: 26px;
  height: 25px;
  display: block;
  text-align: -99999px;
  background-repeat: no-repeat;
}

/* line 169, ../sass/_base.scss */
a, .navbar-default .navbar-nav > li > a {
  color: #464646;
}
/* line 171, ../sass/_base.scss */
a:hover, .navbar-default .navbar-nav > li > a:hover {
  text-decoration: underline;
  color: #e6032e;
}

/* line 177, ../sass/_base.scss */
.clear {
  clear: both;
}

/* line 178, ../sass/_base.scss */
.txtright {
  text-align: right;
}

/* line 179, ../sass/_base.scss */
.txtcenter {
  text-align: center;
}

/* line 180, ../sass/_base.scss */
.unpadded {
  padding: 0 !important;
}

/* line 181, ../sass/_base.scss */
.relative-center {
  margin: 0 auto;
  float: none;
}

/*---------- BODY ------------------
-------------------------------------*/
/* line 188, ../sass/_base.scss */
body {
  font-size: 14px;
  font-family: "nobel-lightregular";
  font-weight: bold;
  color: #515050;
  background: transparent url(../img/primary-bg.png);
  /* home-section */
  /*main*/
  /*footer*/
}
/* line 196, ../sass/_base.scss */
body header nav.navbar-default {
  border-radius: 0;
  border: none;
  font: 16px "cyntho-slab-proregular";
  background: url(../img/primary-bg.png);
}
/* line 201, ../sass/_base.scss */
body header nav.navbar-default .navbar-toggle {
  border: none;
  background: none;
}
/* line 204, ../sass/_base.scss */
body header nav.navbar-default .navbar-toggle:hover {
  background: none;
}
/* line 207, ../sass/_base.scss */
body header nav.navbar-default .navbar-toggle .icon-bar {
  height: 5px;
  background-color: #e6032e;
  width: 33px;
}
/* line 215, ../sass/_base.scss */
body header nav .top-nav {
  background: url(../img/patterned-bg.png);
  -moz-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.34);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.34);
  box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.34);
}
/* line 218, ../sass/_base.scss */
body header nav .top-nav .bountyfresh-top {
  padding: 8px 5px;
}
/* line 221, ../sass/_base.scss */
body header nav .top-nav .right-inner-addon {
  position: relative;
}
/* line 223, ../sass/_base.scss */
body header nav .top-nav .right-inner-addon input {
  padding-right: 30px;
}
/* line 226, ../sass/_base.scss */
body header nav .top-nav .right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 9px 12px;
  color: #e6032e !important;
  pointer-events: none;
}
/* line 239, ../sass/_base.scss */
body header nav .top-nav ul li:last-child a:after {
  border: none;
}
/* line 247, ../sass/_base.scss */
body header nav .top-nav ul li a:after {
  border-right: #e3e3e3 thin solid;
  content: "";
  position: absolute;
  height: 25px;
  right: 0;
}
/* line 262, ../sass/_base.scss */
body header nav .main-nav {
  text-align: center;
  margin-top: 40px;
}
/* line 266, ../sass/_base.scss */
body header nav .main-nav a:hover {
  text-decoration: none;
}
/* line 269, ../sass/_base.scss */
body header nav .main-nav a i.home {
  position: absolute;
  font-size: 35px;
  left: 0;
  color: #e6032e;
  cursor: pointer;
  display: block;
}
/* line 278, ../sass/_base.scss */
body header nav .main-nav > div > div {
  max-height: 48px;
  height: 45px;
  border-right: #e3e3e3 thin dotted;
}
/* line 282, ../sass/_base.scss */
body header nav .main-nav > div > div:last-child {
  border: none;
}
/* line 288, ../sass/_base.scss */
body header nav .main-nav .menu.active {
  border-bottom: #e6032e 4px solid;
}
/* line 290, ../sass/_base.scss */
body header nav .main-nav .menu.active a {
  color: #e6032e;
}
/* line 299, ../sass/_base.scss */
body header nav .main-nav .logo img {
  margin: 0 auto;
}
/* line 312, ../sass/_base.scss */
body section.main {
  min-height: 750px;
  padding-top: 10px;
  padding-bottom: 40px;
  /* kitchen page */
  /*kitchen-content*/
  /* login and registration */
  /* my account*/
  /*contact-us*/
}
/* line 316, ../sass/_base.scss */
body section.main .slider-content {
  z-index: 1;
}
/* line 318, ../sass/_base.scss */
body section.main .slider-content .owl-prev, body section.main .slider-content .owl-next {
  text-indent: -9999999px;
  height: 26px;
  width: 26px;
}
/* line 331, ../sass/_base.scss */
body section.main .slider-content .not-logged-in .btn {
  padding: 10px 50px;
}
/* line 336, ../sass/_base.scss */
body section.main .slider-banner-bg {
  background: url(../img/secondary-bg.png);
  min-height: 280px;
  position: absolute;
  width: 100%;
  margin-top: -17%;
}
/* line 345, ../sass/_base.scss */
body section.main .featured {
  padding-top: 50px;
}
/* line 348, ../sass/_base.scss */
body section.main .featured .container .recipe {
  background: #f8f8f8;
  margin: 10px;
  padding-bottom: 50px;
  height: auto;
}
/* line 353, ../sass/_base.scss */
body section.main .featured .container .recipe .recipe-content {
  text-align: center;
  padding-top: 20px;
  margin-top: 30px;
}
/* line 360, ../sass/_base.scss */
body section.main .featured .container .recipe .recipe-content .featured-img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  height: 0;
  margin: 0 auto;
  padding-top: 100%;
  background-position: center;
  border: #e6032e thin solid;
}
/* line 370, ../sass/_base.scss */
body section.main .featured .container .recipe .recipe-content .recipe-details {
  text-align: left;
  padding: 5px 20px;
}
/* line 373, ../sass/_base.scss */
body section.main .featured .container .recipe .recipe-content .recipe-details h4 {
  font: 18px "cyntho-slab-proregular";
  font-weight: bold;
}
/* line 376, ../sass/_base.scss */
body section.main .featured .container .recipe .recipe-content .recipe-details h4 span {
  font-weight: normal;
  color: #ffa700;
}
/* line 388, ../sass/_base.scss */
body section.main .kitchen-intro {
  padding: 10px;
}
/* line 390, ../sass/_base.scss */
body section.main .kitchen-intro div {
  display: table;
  min-height: 70px;
}
/* line 393, ../sass/_base.scss */
body section.main .kitchen-intro div h1, body section.main .kitchen-intro div p {
  display: table-cell;
  vertical-align: middle;
}
/* line 398, ../sass/_base.scss */
body section.main .kitchen-intro h1 {
  color: #e6032e;
  font-size: 26px;
}
/* line 402, ../sass/_base.scss */
body section.main .kitchen-intro p {
  font-weight: normal;
}
/* line 408, ../sass/_base.scss */
body section.main .kitchen-content h4 {
  font-family: "cyntho-slab-proregular";
  font-weight: bold;
  padding: 0;
  margin-bottom: 0;
}
/* line 414, ../sass/_base.scss */
body section.main .kitchen-content .heading-left {
  background: #ffe4a7;
  color: #515050;
  font-weight: bold;
}
/* line 421, ../sass/_base.scss */
body section.main .kitchen-content .heading-right {
  background: #ffeec9;
  color: #515050;
  font-weight: bold;
}
/* line 426, ../sass/_base.scss */
body section.main .kitchen-content .recipe-item {
  margin-bottom: 30px;
}
/* line 429, ../sass/_base.scss */
body section.main .kitchen-content .filter {
  font-family: "cyntho-slab-proregular";
}
/* line 433, ../sass/_base.scss */
body section.main .kitchen-content .filter ul li div {
  border: #e3e3e3 thin solid;
  width: 145px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 437, ../sass/_base.scss */
body section.main .kitchen-content .filter ul li div select {
  border: none;
  outline: none;
  font-family: "nobel-lightregular";
  width: 100%;
  padding: 5px 10px;
  font-style: italic;
}
/* line 450, ../sass/_base.scss */
body section.main .kitchen-content .recipe-img {
  background-size: cover;
  height: 0;
  padding-bottom: 100%;
}
/* line 456, ../sass/_base.scss */
body section.main .kitchen-content .recipe-details p {
  font-family: "nobel-lightregular";
  font-weight: bold;
}
/* line 461, ../sass/_base.scss */
body section.main .kitchen-content .more-items {
  background: #f8f8f8;
  padding: 8px;
  font-family: "cyntho-slab-proregular";
  font-weight: bold;
  border: #e3e3e3 thin solid;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 469, ../sass/_base.scss */
body section.main .kitchen-content .more-items i {
  font-size: 20px;
}
/* line 474, ../sass/_base.scss */
body section.main .kitchen-content .top-picks {
  border: #e3e3e3 thin solid;
  border-bottom: none;
  width: 300px;
  padding: 10px;
  margin-left: 4px;
}
/* line 480, ../sass/_base.scss */
body section.main .kitchen-content .top-picks .item {
  padding: 10px;
  border-bottom: #e3e3e3 thin solid;
}
/* line 483, ../sass/_base.scss */
body section.main .kitchen-content .top-picks .item p {
  padding: 0;
  margin: 0;
}
/* line 487, ../sass/_base.scss */
body section.main .kitchen-content .top-picks .item span {
  font-size: 12px;
}
/* line 490, ../sass/_base.scss */
body section.main .kitchen-content .top-picks .item .thumb {
  height: 0;
  padding-bottom: 25%;
  background-size: cover;
}
/* line 498, ../sass/_base.scss */
body section.main .kitchen-content .fixed-location {
  position: fixed;
  top: 10px;
  right: 333px;
}
/* line 504, ../sass/_base.scss */
body section.main .kitchen-content .article-item {
  border: #e3e3e3 thin solid;
  margin-bottom: 30px;
}
/* line 508, ../sass/_base.scss */
body section.main .kitchen-content .article-item .article-thumb img {
  width: 100%;
}
/* line 513, ../sass/_base.scss */
body section.main .kitchen-content .article-item .article-details {
  padding: 0 10px;
}
/* line 517, ../sass/_base.scss */
body section.main .kitchen-content .article-item .article-details h4 {
  margin: 10px 0;
}
/* line 520, ../sass/_base.scss */
body section.main .kitchen-content .article-item .article-details span {
  font-size: 12px;
}
/* line 524, ../sass/_base.scss */
body section.main .kitchen-content .article-item .article-details .author-details {
  top: 15px;
}
/* line 526, ../sass/_base.scss */
body section.main .kitchen-content .article-item .article-details .author-details p {
  font-size: 12px;
  font-weight: bold;
}
/* line 530, ../sass/_base.scss */
body section.main .kitchen-content .article-item .article-details .author-details .recipe-share {
  top: -5px;
  padding: 0;
}
/* line 563, ../sass/_base.scss */
body section.main .article-inner .inner-content {
  border: #e3e3e3 thin solid;
  padding: 15px;
}
/* line 567, ../sass/_base.scss */
body section.main .article-inner .inner-content .top-content h4, body section.main .article-inner .inner-content .top-content p {
  font-family: "cyntho-slab-proregular";
  font-weight: bold;
}
/* line 571, ../sass/_base.scss */
body section.main .article-inner .inner-content .top-content p {
  font-size: 12px;
}
/* line 600, ../sass/_base.scss */
body section.main .article-inner .comment-list {
  background: url(../img/secondary-bg.png);
  border: #e3e3e3 thin solid;
  border-top: none;
}
/* line 604, ../sass/_base.scss */
body section.main .article-inner .comment-list ul {
  padding: 10px;
}
/* line 607, ../sass/_base.scss */
body section.main .article-inner .comment-list ul li {
  width: 100%;
  padding: 10px 0;
  border-bottom: #ffd481 thin solid;
}
/* line 612, ../sass/_base.scss */
body section.main .article-inner .comment-list ul li .date-content span {
  font-size: 12px;
  font-style: italic;
}
/* line 619, ../sass/_base.scss */
body section.main .article-inner .comment-list ul li .reply a {
  color: #e6032e;
}
/* line 624, ../sass/_base.scss */
body section.main .article-inner .comment-list ul li ul li {
  border-bottom: none;
}
/* line 629, ../sass/_base.scss */
body section.main .article-inner .comment-list ul li textarea {
  width: 98%;
  margin: 0 5px;
  display: block;
  resize: none;
  outline: none;
  padding: 10px;
}
/* line 642, ../sass/_base.scss */
body section.main .article-inner .article-nav {
  padding-top: 20px;
}
/* line 646, ../sass/_base.scss */
body section.main .article-inner .related-article .heading-left {
  background: #ffeec9;
  color: #515050;
  font-weight: bold;
}
/* line 651, ../sass/_base.scss */
body section.main .article-inner .related-article .related-content {
  padding: 20px 0px;
  border: #e3e3e3 thin solid;
}
/* line 654, ../sass/_base.scss */
body section.main .article-inner .related-article .related-content span {
  font-size: 12px;
}
/* line 656, ../sass/_base.scss */
body section.main .article-inner .related-article .related-content span.related-title {
  font-family: "cyntho-slab-proregular";
  font-size: 14px;
}
/* line 661, ../sass/_base.scss */
body section.main .article-inner .related-article .related-content .related-item {
  margin-bottom: 10px;
  border-right: #e3e3e3 thin dotted;
}
/* line 664, ../sass/_base.scss */
body section.main .article-inner .related-article .related-content .related-item:nth-child(4) {
  border: none;
}
/* line 675, ../sass/_base.scss */
body section.main .login-content {
  top: 40px;
  margin-bottom: 100px;
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: white;
  border: #e3e3e3 thin solid;
}
/* line 682, ../sass/_base.scss */
body section.main .login-content .facebook-connect {
  border-bottom: #e3e3e3 thin solid;
  padding-bottom: 20px;
}
/* line 683, ../sass/_base.scss */
body section.main .login-content .facebook-connect .btn {
  background-color: #3b5998;
  -moz-box-shadow: inset 0px 0px 0px #bf0024, 0px 3px 0px 0px #2a4377;
  -webkit-box-shadow: inset 0px 0px 0px #bf0024, 0px 3px 0px 0px #2a4377;
  box-shadow: inset 0px 0px 0px #bf0024, 0px 3px 0px 0px #2a4377;
}
/* line 686, ../sass/_base.scss */
body section.main .login-content .facebook-connect .btn:hover {
  -moz-box-shadow: inset 0px 0px 0px #bf0024, 0px 1px 0px 0px #2a4377;
  -webkit-box-shadow: inset 0px 0px 0px #bf0024, 0px 1px 0px 0px #2a4377;
  box-shadow: inset 0px 0px 0px #bf0024, 0px 1px 0px 0px #2a4377;
}
/* line 694, ../sass/_base.scss */
body section.main .login-content .radio-inline input[type="radio"] {
  margin: 0;
  height: 15px !important;
  width: 15px !important;
  vertical-align: middle !important;
}
/* line 698, ../sass/_base.scss */
body section.main .login-content .submit-form .btn {
  padding: 10px 30px;
}
/* line 707, ../sass/_base.scss */
body section.main .my-account-content .tab-nav {
  border-bottom: #e3e3e3 thin solid;
}
/* line 709, ../sass/_base.scss */
body section.main .my-account-content .tab-nav ul {
  margin: 0;
  padding: 3px 0;
}
/* line 713, ../sass/_base.scss */
body section.main .my-account-content .tab-nav ul li {
  padding: 0 15px;
  border-right: #515050 thin solid;
}
/* line 716, ../sass/_base.scss */
body section.main .my-account-content .tab-nav ul li:last-child {
  border: none;
}
/* line 720, ../sass/_base.scss */
body section.main .my-account-content .tab-nav ul li.active a {
  color: #e6032e;
  text-decoration: none;
}
/* line 726, ../sass/_base.scss */
body section.main .my-account-content .tab-nav ul li a {
  font-family: "cyntho-slab-proregular";
}
/* line 732, ../sass/_base.scss */
body section.main .my-account-content .tab-content {
  padding-top: 80px;
}
/* line 734, ../sass/_base.scss */
body section.main .my-account-content .tab-content > div {
  padding-top: 20px;
}
/* line 737, ../sass/_base.scss */
body section.main .my-account-content .tab-content .my-account {
  border: #e3e3e3 thin solid;
}
/* line 739, ../sass/_base.scss */
body section.main .my-account-content .tab-content .my-account .heading {
  position: absolute;
  left: 0;
  top: -15px;
}
/* line 744, ../sass/_base.scss */
body section.main .my-account-content .tab-content .my-account .btn {
  overflow: hidden;
  padding: 10px 30px;
}
/* line 747, ../sass/_base.scss */
body section.main .my-account-content .tab-content .my-account .btn input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  outline: none;
  filter: alpha(opacity=0);
  /* internet explorer */
  -khtml-opacity: 0;
  /* khtml, old safari */
  -moz-opacity: 0;
  /* mozilla, netscape */
  opacity: 0;
  /* fx, safari, opera */
}
/* line 765, ../sass/_base.scss */
body section.main #my-articles .kitchen-content .article-item {
  border: #e3e3e3 thin solid;
  margin-bottom: 80px;
}
/* line 768, ../sass/_base.scss */
body section.main #my-articles .kitchen-content .article-item .btn-remove {
  position: absolute;
  right: 0;
  bottom: -55px;
  cursor: pointer;
  outline: none !important;
  font-family: "cyntho-slab-proregular";
  font-size: 14px;
  background: #e6032e;
  color: white;
  padding: 10px 15px;
  border: none;
  -moz-box-shadow: inset 0px 0px 0px #bf0024, 0px 3px 0px 0px #93001c;
  -webkit-box-shadow: inset 0px 0px 0px #bf0024, 0px 3px 0px 0px #93001c;
  box-shadow: inset 0px 0px 0px #bf0024, 0px 3px 0px 0px #93001c;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 783, ../sass/_base.scss */
body section.main #my-articles .kitchen-content .article-item .btn-remove:hover {
  -moz-box-shadow: inset 0px 0px 0px #bf0024, 0px 1px 0px 0px #93001c;
  -webkit-box-shadow: inset 0px 0px 0px #bf0024, 0px 1px 0px 0px #93001c;
  box-shadow: inset 0px 0px 0px #bf0024, 0px 1px 0px 0px #93001c;
  bottom: -58px;
  color: white;
}
/* line 787, ../sass/_base.scss */
body section.main #my-articles .kitchen-content .article-item .btn-remove:hover:before {
  border-width: 20px;
}
/* line 802, ../sass/_base.scss */
body section.main .contact-us-content form {
  border-right: #e3e3e3 thin solid;
  padding-right: 50px;
}
/* line 806, ../sass/_base.scss */
body section.main .contact-us-content h4 {
  font-family: "cyntho-slab-proregular";
  font-weight: bold;
}
/* line 810, ../sass/_base.scss */
body section.main .contact-us-content p {
  font-weight: normal;
}
/* line 814, ../sass/_base.scss */
body section.main .contact-us-content .tab-content .policy-content {
  padding: 0 30px;
}
/* line 816, ../sass/_base.scss */
body section.main .contact-us-content .tab-content .policy-content p {
  font-weight: bold;
  font-family: "nobel-lightregular";
}
/* line 834, ../sass/_base.scss */
body footer {
  background: transparent url(../img/patterned-bg.png);
  font-size: 14px;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
}
/* line 841, ../sass/_base.scss */
body footer .container h4 {
  font-weight: bold;
  font-size: 13px;
}
/* line 845, ../sass/_base.scss */
body footer .container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 849, ../sass/_base.scss */
body footer .container ul li {
  display: inline-block;
  margin: 5px 0;
}
/* line 853, ../sass/_base.scss */
body footer .container ul li a:hover {
  color: #515050;
}
/* line 863, ../sass/_base.scss */
body footer .container .col-md-3 a {
  height: 42px;
  width: 43px;
  display: block;
}
/* line 871, ../sass/_base.scss */
body footer .container .footer-logo {
  border-right: #e3e3e3 thin solid;
  border-left: #e3e3e3 thin solid;
  padding: 20px 15px;
}
/* line 877, ../sass/_base.scss */
body footer .container .follow-icons {
  border-right: #e3e3e3 thin solid;
  padding: 0 15px;
}

/*end body */
/* line 1, ../sass/_popup.scss */
.lytebox {
  z-index: 999;
}

/* line 5, ../sass/_popup.scss */
.popup {
  background: #ffd36f;
  padding: 10px;
  -moz-box-shadow: -3px 5px 15px 0px #323232;
  -webkit-box-shadow: -3px 5px 15px 0px #323232;
  box-shadow: -3px 5px 15px 0px #323232;
}
/* line 9, ../sass/_popup.scss */
.popup .popclose {
  background: transparent url(../img/close-btn.png) 0 0 no-repeat;
  top: 15px;
  right: 15px;
}
/* line 14, ../sass/_popup.scss */
.popup .content-holder {
  padding: 30px;
  border: white thin solid;
}
/* line 17, ../sass/_popup.scss */
.popup .content-holder span {
  font-family: "nobel-lightregular";
  color: #515050;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (max-width: 1366px) {
  /* line 2, ../sass/_desktop.scss */
  .fixed-location {
    right: 224px !important;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
  /* line 10, ../sass/_desktop.scss */
  .fixed-location {
    right: 140px !important;
  }
}
@media screen and (max-width: 768px) {
  /* line 2, ../sass/_tablet.scss */
  .slider-banner-bg {
    margin-top: -36% !important;
  }

  /* line 5, ../sass/_tablet.scss */
  .article-inner .inner-content .recipe-share {
    padding: 0;
    left: 0;
    position: relative;
  }
  /* line 9, ../sass/_tablet.scss */
  .article-inner .inner-content .recipe-share ul {
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 360px) {
  /* line 2, ../sass/_mobile.scss */
  .slider-banner-bg {
    margin-top: -75% !important;
  }

  /* line 6, ../sass/_mobile.scss */
  #my-account .upload-profile-photo {
    margin-bottom: 20px;
  }

  /* line 13, ../sass/_mobile.scss */
  .edit-form button {
    margin: 0;
    text-align: left;
    float: none !important;
    margin: 5px;
  }
}
/*@media screen and (min-width: 320px) and (max-width: 767px) {*/
@media screen and (max-width: 767px) {
  /* line 23, ../sass/_mobile.scss */
  .navbar {
    position: fixed;
    width: 100%;
    min-height: 55px;
    z-index: 9999;
    margin-bottom: 0;
  }
  /* line 28, ../sass/_mobile.scss */
  .navbar a.home {
    outline: none;
  }
  /* line 30, ../sass/_mobile.scss */
  .navbar a.home:hover {
    text-decoration: none;
  }
  /* line 34, ../sass/_mobile.scss */
  .navbar .top-nav {
    -moz-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.34);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.34);
    box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.34);
  }
  /* line 38, ../sass/_mobile.scss */
  .navbar .navbar-collapse {
    border-color: transparent !important;
    box-shadow: none;
    border: none !important;
    background: url(../img/patterned-bg.png);
  }
  /* line 45, ../sass/_mobile.scss */
  .navbar .navbar-header {
    min-height: 55px;
    /*background: url(../img/patterned-bg.png);*/
  }
  /* line 48, ../sass/_mobile.scss */
  .navbar .navbar-header .home {
    position: absolute;
    font-size: 35px;
    left: 10px;
    top: 10px;
    color: #e6032e;
  }
  /* line 55, ../sass/_mobile.scss */
  .navbar .navbar-header .mobile-logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding-top: 10px;
  }
  /* line 65, ../sass/_mobile.scss */
  .navbar .navbar-form {
    border: none;
  }
  /* line 70, ../sass/_mobile.scss */
  .navbar .nav li {
    width: 50%;
    float: left;
    text-align: center;
  }
  /* line 76, ../sass/_mobile.scss */
  .navbar .main-nav > div > div {
    line-height: 45px;
    border-bottom: #e3e3e3 thin solid;
    border-right: none;
  }
  /* line 80, ../sass/_mobile.scss */
  .navbar .main-nav > div > div:first-child {
    border-top: #e3e3e3 thin solid;
  }

  /* line 88, ../sass/_mobile.scss */
  section.main {
    padding-top: 57px !important;
  }
  /* line 91, ../sass/_mobile.scss */
  section.main .slider-content {
    padding: 0;
  }
  /* line 95, ../sass/_mobile.scss */
  section.main .featured > .container {
    padding: 0;
  }
  /* line 98, ../sass/_mobile.scss */
  section.main .featured .recipe {
    margin: 0 !important;
  }
  /* line 103, ../sass/_mobile.scss */
  section.main .featured-content {
    padding-right: 0;
    text-align: left;
    margin-bottom: 10%;
  }
  /* line 108, ../sass/_mobile.scss */
  section.main .filter ul li {
    margin-bottom: 15px;
  }
  /* line 112, ../sass/_mobile.scss */
  section.main .article-item .recipe-share {
    top: -30px !important;
    right: -5px !important;
  }

  /* line 120, ../sass/_mobile.scss */
  .article-inner .inner-content .recipe-share {
    padding: 0;
    left: 0;
    position: relative;
  }
  /* line 124, ../sass/_mobile.scss */
  .article-inner .inner-content .recipe-share ul {
    margin: 0;
    padding: 0;
  }

  /* line 131, ../sass/_mobile.scss */
  .related-item {
    border-right: none !important;
    border-bottom: #e3e3e3 thin solid;
  }
  /* line 134, ../sass/_mobile.scss */
  .related-item:nth-child(4) {
    border: none;
  }

  /* line 138, ../sass/_mobile.scss */
  .login-btn div {
    text-align: center;
    margin: 10px;
  }

  /* line 142, ../sass/_mobile.scss */
  .upload-row {
    text-align: center;
  }
  /* line 145, ../sass/_mobile.scss */
  .upload-row img {
    margin: 0 auto;
  }
  /* line 148, ../sass/_mobile.scss */
  .upload-row > div {
    margin-bottom: 10px;
  }

  /* line 153, ../sass/_mobile.scss */
  .birthday-select select {
    margin-bottom: 10px;
  }

  /* line 157, ../sass/_mobile.scss */
  .submit-form {
    text-align: center;
  }

  /* line 161, ../sass/_mobile.scss */
  #my-account .upload-profile-photo {
    text-align: center;
  }

  /* line 166, ../sass/_mobile.scss */
  .contact-us-content form {
    border-right: none !important;
    padding-bottom: 50px;
    border-bottom: #e3e3e3 thin solid;
  }

  /* line 174, ../sass/_mobile.scss */
  footer .follow-icons {
    padding: 0 !important;
    border-left: none !important;
  }
  /* line 178, ../sass/_mobile.scss */
  footer .my-account {
    text-align: left;
  }
  /* line 181, ../sass/_mobile.scss */
  footer .footer-logo {
    border: none !important;
  }
}
@media screen and (min-width: 514px) and (max-width: 767px) {
  /* line 193, ../sass/_mobile.scss */
  .slider-banner-bg {
    margin-top: -32%;
  }
}
@media screen and (max-width: 480px) {
  /* line 201, ../sass/_mobile.scss */
  .slider-banner-bg {
    margin-top: -55% !important;
  }
}


.mst_head img{
  width: 100%;
}

.brd_panel{
  width: 100%;
  border: #ffd07e solid 5px;
  margin: 130px 0;
  min-height: 275px;
  background: #fff;
  box-sizing: border-box;
  padding: 30px;
}

.brd_panel .btn {
  display: inline-block;
  padding: 10px 50px;
}

.brd_panel .btn:nth-child(n+1){
    margin-left: 20px;
}

.btnrrw{
    position: relative;
    cursor: pointer;
    outline: 0!important;
    font-family: cyntho-slab-proregular;
    font-size: 12px;
    background: #e6032e;
    color: #fff;
    padding: 10px 10px;
    border: none;
    -moz-box-shadow: inset 0 0 0 #bf0024,0 3px 0 0 #93001c;
    -webkit-box-shadow: inset 0 0 0 #bf0024,0 3px 0 0 #93001c;
    box-shadow: inset 0 0 0 #bf0024,0 3px 0 0 #93001c;
    display: inline-block;
    margin-left: 25px;
}



.btnrrw:before{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 0;
    left: -20px;
    top: 0px;
    border-width: 15px 20px 20px 0;
    border-color: transparent #e6032e;
    -webkit-filter: drop-shadow(0 4px 0px #bf0024);
    -moz-filter: drop-shadow(0 4px 0px #bf0024);
    -ms-filter: drop-shadow(0 4px 0px #bf0024);
    -o-filter: drop-shadow(0 4px 0px #bf0024);
    filter: drop-shadow(0 4px 0px #bf0024);
}

.btnrrw:hover{
    -moz-box-shadow: inset 0 0 0 #bf0024,0 1px 0 0 #93001c;
    -webkit-box-shadow: inset 0 0 0 #bf0024,0 1px 0 0 #93001c;
    box-shadow: inset 0 0 0 #bf0024,0 1px 0 0 #93001c;
    top: 2px;
    color: #fff;
}

.brd_panel h4 p{
  font-weight: 700;
}

.login-cnt input{
  border: 1px solid #B3B3B3;
}

.v-align {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    box-sizing: border-box;
}

.popForm {
  width: 100%;
  margin: 0 auto;
  padding-top: 3em !important;
}

.popForm .container{
  width: 100%;
}

.popForm .ngdialog-content{
  /*width: 30% !important;*/
  padding: 20px 50px;
}

.popForm .ngdialog-close {
  right: 10px;
  top: 10px;
}


.popForm .ngdialog-close:before {
  color: #e6032e !important;
  font-size: 50px !important;
  font-weight: 100 !important;
}


.popForm .login-content {
  padding: 0 5px;
}

.v-mdle{
    float: none;
    display: table-cell;
    vertical-align: middle;
}

.popForm input {
  border: 1px solid #B3B3B3
}

.popForm a {
    color: #525252;
    font-style: normal; 
    font-weight: bolder;
    font-size: 13px;
    font-family: 'Helvetica Neue',sans-serif
}

.popForm select, .pledgeFrom input, .pledgeFrom select{
  width: 100%;
  outline: none;
  height: 30px;
  border: #B3B3B3 thin solid;
  text-indent: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.submit-form.btnflt {
    position: absolute;
    right: 0;
    bottom: -85px;
}

.submit-form.btnflt  .btn{
    display: inline-block;
  padding: 10px 50px;
}

.wzrdbtn {
    width: 100%;
    position: relative;
    top: -42px;
}

.wzrdbtn a{
    background: #ff7300;
    border-radius: 30px;
    padding: 15px 20px;
    font-size: 15px;
    color: #fff;
    font-family: "cyntho-slab-proregular";
    opacity: .6;
    margin: 10px;
}

.wzrdbtn a:hover{
    text-decoration: none;
    opacity: 1
}

.wzrdbtn a.active{
    opacity: 1
}

.pledgeFrom{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.pledgeFrom select{
  width: 100%;
  max-width: 210px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.pledgeFrom input{
  max-width: 225px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.pledgeFrom textarea{
    width: 100%;
    max-width: 412px;
    min-height: 80px;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    border: thin solid #B3B3B3;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px
}

.pledgeFrom .fltbtn{
    position: relative;
    bottom: -3.75em;
    text-align: center;
}

.fbbtn {
  margin-bottom: 30px;
  border-bottom: 1px solid #B3B3B3
}

.btn-fb {
    background: #3b5999;
    padding: 20px 50px;
    border-radius: 10px;
    color: #fff !important;
    text-transform: uppercase;
    display: inline-block;
    border: none;
    -moz-box-shadow: inset 0 0 0 #294376,0 3px 0 0 #294376;
    -webkit-box-shadow: inset 0 0 0 #294376,0 3px 0 0 #294376;
    box-shadow: inset 0 0 0 #294376,0 3px 0 0 #294376;
    margin-top: 30px;
    font-family: "cyntho-slab-proregular" !important;
}

.btn-fb:hover {
    color: #fff;
    text-decoration: none;
    opacity: .8;
}



/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
}
    
/* enter animation */
#form-views.ng-enter            { 
    -webkit-animation:slideInRight 0.5s both ease;
  -moz-animation:slideInRight 0.5s both ease;
  animation:slideInRight 0.5s both ease; 
}

/* leave animation */
#form-views.ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
  -moz-animation:slideOutLeft 0.5s both ease;
  animation:slideOutLeft 0.5s both ease;   
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
  to    { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
  to    { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
  to    { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
  from  { transform:translateX(200%); }
  to    { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from  { -moz-transform:translateX(200%); }
  to    { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from  { -webkit-transform:translateX(200%); }
  to    { -webkit-transform: translateX(0); }
}

.my-pledge_panel {
  width: 75%;
  position: relative;
  background: #fff;
  border: 1px solid #B3B3B3;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.my-pledge_panel h4{
  opacity: .8;
  font-size: 12px;
  margin-bottom: 20px;
}

.my-pledge_panel p{
  font-size: 14px;
}

.pledge-btn {
  background: #00a652;
  display: inline-block;
  text-transform: uppercase;
  padding: 20px 50px;
  -moz-box-shadow: inset 0px 0px 0px #004e26, 0px 3px 0px 0px #004e26;
  -webkit-box-shadow: inset 0px 0px 0px #004e26, 0px 3px 0px 0px #004e26;
  box-shadow: inset 0px 0px 0px #004e26, 0px 3px 0px 0px #004e26;
}

.pledge-btn:hover {
    -moz-box-shadow: inset 0px 0px 0px #004e26, 0px 1px 0px 0px #004e26;
    -webkit-box-shadow: inset 0px 0px 0px #004e26, 0px 1px 0px 0px #004e26;
    box-shadow: inset 0px 0px 0px #004e26, 0px 1px 0px 0px #004e26;
}

.owl-pagination {
  float: none !important;
}

.owl-buttons {
  float: none !important;
  position: absolute;
  right: 0;
  left: 0;
  top: -0.5rem;
}

.owl-prev {
  position: absolute;
  left: 0;
}

.owl-next {
  position: absolute;
  right: 0;
}

.home-msg {
  margin-top: 30px;
}

.popForm input[type="checkbox"] {
  margin-left: 15px !important;
  display: inline-block;
  vertical-align: top;
  float: none;
}

  .popForm input[type="radio"]{
    display: inline;
    position: relative;
    width: 20px;
    margin-right: 20px;
    vertical-align: bottom;
    margin-left: 0 !important;
    left: 0;

    height: 15px !important;
    width: 15px !important;
    vertical-align: middle !important;
  }


.popForm .radio-inline, .checkbox-inline{
  padding-left: 20px;
}

.mypledge-btn {
  background: #ff7701;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 20px;
  -moz-box-shadow: inset 0px 0px 0px #a74d00, 0px 3px 0px 0px #a74d00;
  -webkit-box-shadow: inset 0px 0px 0px #a74d00, 0px 3px 0px 0px #a74d00;
  box-shadow: inset 0px 0px 0px #a74d00, 0px 3px 0px 0px #a74d00;
}

.mypledge-btn:hover {
    -moz-box-shadow: inset 0px 0px 0px #a74d00, 0px 1px 0px 0px #a74d00;
    -webkit-box-shadow: inset 0px 0px 0px #a74d00, 0px 1px 0px 0px #a74d00;
    box-shadow: inset 0px 0px 0px #a74d00, 0px 1px 0px 0px #a74d00;
}

.load-btn {
  background: #f7f7f7;
  display: block;
  width: 75%;
  padding: 10px;
  text-transform: uppercase;
  font-family: "cyntho-slab-proregular";
  margin: 0 auto;
  border: 1px solid #e1e1e1;
}

.load-btn:hover {
  opacity: .8
}

.load-btn .fa-2 {
  font-size: 1.5em
}

span.yllw-slct {
    position: absolute;
    background: #fee4a7;
    width: 30px;
    height: 28px;
    z-index: 9999;
    color: #fff;
    padding: 3px 0;
    text-align: center;
    right: 11px;
    top: 1px;
    border-radius: 0 5px;
}

span.rd-slct {
    position: absolute;
    background: #E6032E;
    width: 30px;
    height: 28px;
    z-index: 9999;
    color: #fff;
    padding: 3px 0;
    text-align: center;
    right: 11px;
    top: 1px;
    border-radius: 0 5px;
}


@media screen and (min-width: 980px){
  .slctMrg select{
        margin-top: 20px;
  }
  .pctr {
    text-align: center;
  }
}

@media screen and (max-width: 1200px){
  .popForm .ngdialog-content{
    /*width: 50% !important;*/
  }
}

@media screen and (max-width: 768px){
  .home-msg {
    margin-top: 30px;
  }
  .brd_panel {
    margin: 70px 0;
  }
  .spcpad {
    padding: 30px 15%;
  }
  .popForm .ngdialog-content {
    width: 90% !important;
  }
  body section.main .my-account-content .tab-content {
    padding-top: 50px;
  }
  .pledgeFrom select {
    max-width: 165px;
    display: inline;
  }
}

@media screen and (max-width: 736px){
  .brd_panel {
    padding: 30px 0px;
  }
  .mst_head{
   padding-top: 60px;
  }
  .pledgeFrom .fltbtn {
    bottom: -4.25em; 
  }
  body section.main .slider-banner-bg {
    min-height: 220px;
  }
  .not-logged-in {
    margin-top: 2em
  }
  .home-msg {
    font-size: 12px;
  }
  .brd_panel .btn {
    display: block;
    margin: 0 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
  }
  .spcpad {
    padding: 30px 2%;
  }
  .login-btn div{
    margin: 0;
    text-align: right;
  }
  .login-btn div:first-child {
    text-align: left;
  }
  .pledgeFrom select, .pledgeFrom textarea {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }
  .my-pledge_panel {
    width: 95%;
  }
  .fbbtn, .upload-row {
    display: none;
  }
  .popForm .login-content{
    padding: 0 20px;
  }
  .pledgeFrom .text-center{
    text-align: left;
  }
  .popForm .radio-inline{
    padding: 0;
  }

  .popForm .radio-inline input[type="radio"]{
    height: 15px !important;
    width:15px !important;
    vertical-align: middle !important; 
  }
  
  .pledgeFrom select {
    max-width: 100%;
  }
  .pledgeFrom {
    padding: 0 25px;
  }
}

@media screen and (max-width: 375px){ 
  .pledgeFrom .fltbtn {
    bottom: -73px; 
  }

   .popForm .login-content{
    padding: 0 0px;
  }

  .brd_panel .btn {
    margin:0 auto;
  }
  .brd_panel .btn:nth-child(n+1) {
    margin-left: 0px;
    margin-right: 0px;
  }
  .brd_panel .btn {
    padding: 0;
    width:80%;
    padding: 10px 20px;
    display: inline-block;
  }

  body section.main .my-account-content .tab-nav ul li a {
    font-size: 12px;
  }

  .brd_panel .btn:first-child {
    margin-bottom: 20px;
  }

  body section.main .my-account-content .tab-content {
    padding: 10px 0;
  }
}

.pledge-style {
  display: inline-block;
  height: 22px;
  width: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 0 2px;
}

.share-fb {
  background-image: url(../img/facebookIcon.jpg); 
}
.share-tw {
  background-image: url(../img/twitterIcon.jpg); 
}

.d-label-share {
  margin-right: 20px;
}

.socialwrap {
    margin-bottom: -10px;
}



/*.pledge-style {
    background-color: #ccc;
    width: 26px;
    height: 25px;
    display: inline-block;
    text-align: -99999px;
    background-repeat: no-repeat;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    vertical-align: middle;
  }
  .d-label-share {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }


  
