/*
- v0.1.5
Authored by:Ian Pansensoy
Website: https://aindevonshire.com
Copyright (c) 2014
*/
@font-face{
    font-family:nobel-lightregular;
    src:url(../fonts/nolt____-webfont.eot);
    src:url(../fonts/nolt____-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/nolt____-webfont.woff) format("woff"),url(../fonts/nolt____-webfont.ttf) format("truetype"),url(../fonts/nolt____-webfont.svg#nobel-lightregular) format("svg");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:cyntho-slab-proregular;
    src:url(../fonts/mint_type_-_cynthoslabpro-regular-webfont.eot);
    src:url(../fonts/mint_type_-_cynthoslabpro-regular-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/mint_type_-_cynthoslabpro-regular-webfont.woff) format("woff"),url(../fonts/mint_type_-_cynthoslabpro-regular-webfont.ttf) format("truetype"),url(../fonts/mint_type_-_cynthoslabpro-regular-webfont.svg#cyntho_slab_proregular) format("svg");
    font-weight:400;
    font-style:normal
}

img{
	max-width: 100%;
}
.icons-btn-facebook,.icons-btn-follow-fb,.icons-btn-follow-instagram,.icons-btn-follow-twitter,.icons-btn-left,.icons-btn-pinterest,.icons-btn-right,.icons-btn-twitter,.icons-facebook-hover,.icons-facebook-inverse,.icons-fave-hover,.icons-fave-inverse,.icons-pinterest-hover,.icons-pinterest-inverse,.icons-sprite,.icons-twitter-hover,.icons-twitter-inverse,.recipe-share ul li a.icons-btn-facebook:hover,.recipe-share ul li a.icons-btn-pinterest:hover,.recipe-share ul li a.icons-btn-twitter:hover,body section.main .article-inner .inner-content .top-content .recipe-share .icons-facebook-hover:hover,body section.main .article-inner .inner-content .top-content .recipe-share .icons-fave-hover:hover,body section.main .article-inner .inner-content .top-content .recipe-share .icons-pinterest-hover:hover,body section.main .article-inner .inner-content .top-content .recipe-share .icons-twitter-hover:hover,body section.main .article-inner .inner-content .top-content .recipe-share ul li a.icons-btn-facebook:hover,body section.main .article-inner .inner-content .top-content .recipe-share ul li a.icons-btn-pinterest:hover,body section.main .article-inner .inner-content .top-content .recipe-share ul li a.icons-btn-twitter:hover,body section.main .kitchen-content .article-item .article-details .author-details .recipe-share .icons-facebook-hover:hover,body section.main .kitchen-content .article-item .article-details .author-details .recipe-share .icons-pinterest-hover:hover,body section.main .kitchen-content .article-item .article-details .author-details .recipe-share .icons-twitter-hover:hover,body section.main .kitchen-content .article-item .article-details .author-details .recipe-share ul li a.icons-btn-facebook:hover,body section.main .kitchen-content .article-item .article-details .author-details .recipe-share ul li a.icons-btn-pinterest:hover,body section.main .kitchen-content .article-item .article-details .author-details .recipe-share ul li a.icons-btn-twitter:hover,body section.main .slider-content .owl-next,body section.main .slider-content .owl-prev{
    background:url(../img/icons-s9d0d6b1eed.png) no-repeat
}
.icons-btn-facebook{
    /*background-position:0 -430px*/
    background-position: 0 -213px;
}
.icons-btn-follow-fb{
    background-position:0 -263px
}
.icons-btn-follow-instagram{
    background-position:0 -79px
}
.icons-btn-follow-twitter{
    background-position:0 -171px
}
.icons-btn-left,body section.main .slider-content .owl-prev{
    background-position:0 -27px
}
.icons-btn-pinterest{
    /*background-position:0 -380px*/
    background-position: 0 -54px;
}
.icons-btn-right,body section.main .slider-content .owl-next{
    background-position:0 0
}
.icons-btn-twitter{
    /*background-position:0 -405px*/
    background-position: 0 -121px;
}
.icons-facebook-hover,.recipe-share ul li a.icons-btn-facebook:hover{
    background-position:0 -355px
}
.icons-facebook-inverse,body section.main .article-inner .inner-content .top-content .recipe-share .icons-facebook-hover:hover,body section.main .article-inner .inner-content .top-content .recipe-share ul li a.icons-btn-facebook:hover,body section.main .kitchen-content .article-item .article-details .author-details .recipe-share .icons-facebook-hover:hover,body section.main .kitchen-content .article-item .article-details .author-details .recipe-share ul li a.icons-btn-facebook:hover{
    background-position:0 -213px
}
.icons-fave-hover{
    background-position:0 -330px
}
.icons-fave-inverse,body section.main .article-inner .inner-content .top-content .recipe-share .icons-fave-hover:hover{
    background-position:0 -305px
}
.icons-pinterest-hover,.recipe-share ul li a.icons-btn-pinterest:hover{
    background-position:0 -146px
}
.icons-pinterest-inverse,body section.main .article-inner .inner-content .top-content .recipe-share .icons-pinterest-hover:hover,body section.main .article-inner .inner-content .top-content .recipe-share ul li a.icons-btn-pinterest:hover,body section.main .kitchen-content .article-item .article-details .author-details .recipe-share .icons-pinterest-hover:hover,body section.main .kitchen-content .article-item .article-details .author-details .recipe-share ul li a.icons-btn-pinterest:hover{
    background-position:0 -54px
}
.icons-twitter-hover,.recipe-share ul li a.icons-btn-twitter:hover{
    background-position:0 -238px
}
.icons-twitter-inverse,body section.main .article-inner .inner-content .top-content .recipe-share .icons-twitter-hover:hover,body section.main .article-inner .inner-content .top-content .recipe-share ul li a.icons-btn-twitter:hover,body section.main .kitchen-content .article-item .article-details .author-details .recipe-share .icons-twitter-hover:hover,body section.main .kitchen-content .article-item .article-details .author-details .recipe-share ul li a.icons-btn-twitter:hover{
    background-position:0 -121px
}
form .error span{
    color:red;
    font-style:italic
}
form label{
    font-family:cyntho-slab-proregular
}
form input{
    width:100%;
    outline:0;
    height:30px;
    border:#e3e3e3 thin solid;
    text-indent:10px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px
}
form input[type=checkbox],form input[type=radio]{
    height:20px;
    margin:0 5px;
    border:none;
    outline:0
}
form input[type=checkbox]{
    width:5%;
    float:left
}
form textarea{
    width:100%;
    resize:none;
    min-height:200px;
    border:#e3e3e3 thin solid
}
form .birthday-select div select{
    height:30px;
    border:#e3e3e3 thin solid;
    width:100%;
    outline:0
}
form a{
    color:#372490;
    font-style:italic;
    font-family:cyntho-slab-proregular;
    font-weight:400;
    font-size:12px
}
form a.btn-upload{
    padding:10px 30px;
    font-family:cyntho-slab-proregular;
    font-size:14px;
    color:#fff;
    font-style:normal
}
form a.btn-upload input[type=file]{
    position:absolute;
    top:0;
    left:0;
    display:block;
    height:100%;
    z-index:9;
    filter:alpha(opacity=0);
    -khtml-opacity:0;
    -moz-opacity:0;
    opacity:0
}
form img#uploadPreview{
    border:#e3e3e3 thin solid
}
form button{
    padding:10px 50px
}
.to-show,.to-show-pw{
    display:none
}
div,section{
    position:relative
}
ul{
    list-style-type:none
}
ul li{
    display:inline-block
}
h1,h2,h3,p{
    font-family:cyntho-slab-proregular
}
h1{
    font-size:30px
}
h4{
    font-family:nobel-lightregular
}
.heading{
    background:url(../img/title-bg.png);
    padding:10px 30px;
    color:#fff;
    font:18px cyntho-slab-proregular
}
.featured-ribbon{
    position:absolute;
    background:url(../img/featured-ribbon.png) no-repeat;
    top:-7px;
    height:50px;
    width:40px;
    z-index:10
}
.double-ribbon,.promo-ribbon{
    position:absolute;
    background:url(../img/promo-ribbon.png) no-repeat;
    top:3px;
    height:36px;
    width:73px;
    left:-10px;
    z-index:10
}
.recipe-share{
    position:absolute;
    padding:15px;
    z-index:10;
    right:0;
    top:0
}
.recipe-share ul{
    list-style-type:none
}
.recipe-share ul li{
    display:inline-block
}
.recipe-share ul li a{
    width:26px;
    height:25px;
    display:block;
    text-align:-99999px;
    background-repeat:no-repeat
}
.navbar-default .navbar-nav>li>a,a{
    color:#464646
}
.navbar-default .navbar-nav>li>a:hover,a:hover{
    text-decoration:underline;
    color:#e6032e
}
.clear{
    clear:both
}
.txtright{
    text-align:right
}
.txtcenter{
    text-align:center
}
.unpadded{
    padding:0!important
}
.relative-center{
    margin:0 auto;
    float:none
}
body{
    font-size:14px;
    font-family:nobel-lightregular;
    font-weight:700;
    color:#515050;
    background:transparent url(../img/primary-bg.png)
}
body header nav.navbar-default{
    border-radius:0;
    border:none;
    font:16px cyntho-slab-proregular;
    background:url(../img/primary-bg.png)
}
body header nav.navbar-default .navbar-toggle{
    border:none;
    background:0 0
}
body header nav.navbar-default .navbar-toggle:hover{
    background:0 0
}
body header nav.navbar-default .navbar-toggle .icon-bar{
    height:5px;
    background-color:#e6032e;
    width:33px
}
body header nav .top-nav{
    background:url(../img/patterned-bg.png);
    -moz-box-shadow:0 3px 6px 0 rgba(50,50,50,.34);
    -webkit-box-shadow:0 3px 6px 0 rgba(50,50,50,.34);
    box-shadow:0 3px 6px 0 rgba(50,50,50,.34)
}
body header nav .top-nav .bountyfresh-top{
    padding:8px 5px
}
body header nav .top-nav .right-inner-addon{
    position:relative
}
body header nav .top-nav .right-inner-addon input{
    padding-right:30px
}
body header nav .top-nav .right-inner-addon i{
    position:absolute;
    right:0;
    padding:9px 12px;
    color:#e6032e!important;
    pointer-events:none
}
body header nav .top-nav ul li:last-child a:after{
    border:none
}
body header nav .top-nav ul li a:after{
    border-right:#e3e3e3 thin solid;
    content:"";
    position:absolute;
    height:25px;
    right:0
}
body header nav .main-nav{
    text-align:center;
    margin-top:40px
}
body header nav .main-nav a:hover{
    text-decoration:none
}
body header nav .main-nav a i.home{
    position:absolute;
    font-size:35px;
    left:0;
    color:#e6032e;
    cursor:pointer;
    display:block
}
body header nav .main-nav>div>div{
    max-height:48px;
    height:45px;
    border-right:#e3e3e3 thin dotted
}
body header nav .main-nav>div>div:last-child{
    border:none
}
body header nav .main-nav .menu.active{
    border-bottom:#e6032e 4px solid
}
body header nav .main-nav .menu.active a{
    color:#e6032e
}
body header nav .main-nav .logo img{
    margin:0 auto
}
body section.main{
    min-height:750px;
    padding-top:10px;
    padding-bottom:40px
}
body section.main .slider-content{
    z-index:1
}
body section.main .slider-content .owl-next,body section.main .slider-content .owl-prev{
    text-indent:-9999999px;
    height:26px;
    width:26px
}
body section.main .slider-content .not-logged-in .btn{
    padding:10px 50px
}
body section.main .slider-banner-bg{
    background:url(../img/secondary-bg.png);
    min-height:280px;
    position:absolute;
    width:100%;
    margin-top:-17%
}
body section.main .featured{
    padding-top:50px
}
body section.main .featured .container .recipe{
    background:#f8f8f8;
    margin:10px;
    padding-bottom:50px;
    height:auto
}
body section.main .featured .container .recipe .recipe-content{
    text-align:center;
    padding-top:20px;
    margin-top:30px
}
body section.main .featured .container .recipe .recipe-content .featured-img{
    background-size:cover;
    background-repeat:no-repeat;
    width:90%;
    height:0;
    margin:0 auto;
    padding-top:100%;
    background-position:center;
    border:#e6032e thin solid
}
body section.main .featured .container .recipe .recipe-content .recipe-details{
    text-align:left;
    padding:5px 20px
}
body section.main .featured .container .recipe .recipe-content .recipe-details h4{
    font:18px cyntho-slab-proregular;
    font-weight:700
}
body section.main .featured .container .recipe .recipe-content .recipe-details h4 span{
    font-weight:400;
    color:#ffa700
}
body section.main .kitchen-intro{
    padding:10px
}
body section.main .kitchen-intro div{
    display:table;
    min-height:70px
}
body section.main .kitchen-intro div h1,body section.main .kitchen-intro div p{
    display:table-cell;
    vertical-align:middle
}
body section.main .kitchen-intro h1{
    color:#e6032e;
    font-size:26px
}
body section.main .kitchen-intro p{
    font-weight:400
}
body section.main .kitchen-content h4{
    font-family:cyntho-slab-proregular;
    font-weight:700;
    padding:0;
    margin-bottom:0
}
body section.main .kitchen-content .heading-left{
    background:#ffe4a7;
    color:#515050;
    font-weight:700
}
body section.main .kitchen-content .heading-right{
    background:#ffeec9;
    color:#515050;
    font-weight:700
}
body section.main .kitchen-content .recipe-item{
    margin-bottom:30px
}
body section.main .kitchen-content .filter{
    font-family:cyntho-slab-proregular
}
body section.main .kitchen-content .filter ul li div{
    border:#e3e3e3 thin solid;
    width:145px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px
}
body section.main .kitchen-content .filter ul li div select{
    border:none;
    outline:0;
    font-family:nobel-lightregular;
    width:100%;
    padding:5px 10px;
    font-style:italic
}
body section.main .kitchen-content .recipe-img{
    background-size:cover;
    height:0;
    padding-bottom:100%
}
body section.main .kitchen-content .recipe-details p{
    font-family:nobel-lightregular;
    font-weight:700
}
body section.main .kitchen-content .more-items{
    background:#f8f8f8;
    padding:8px;
    font-family:cyntho-slab-proregular;
    font-weight:700;
    border:#e3e3e3 thin solid;
    cursor:pointer;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px
}
body section.main .kitchen-content .more-items i{
    font-size:20px
}
body section.main .kitchen-content .top-picks{
    border:#e3e3e3 thin solid;
    border-bottom:none;
    width:300px;
    padding:10px;
    margin-left:4px
}
body section.main .kitchen-content .top-picks .item{
    padding:10px;
    border-bottom:#e3e3e3 thin solid
}
body section.main .kitchen-content .top-picks .item p{
    padding:0;
    margin:0
}
body section.main .kitchen-content .top-picks .item span{
    font-size:12px
}
body section.main .kitchen-content .top-picks .item .thumb{
    height:0;
    padding-bottom:25%;
    background-size:cover
}
body section.main .kitchen-content .fixed-location{
    position:fixed;
    top:10px;
    right:333px
}
body section.main .kitchen-content .article-item{
    border:#e3e3e3 thin solid;
    margin-bottom:30px
}
body section.main .kitchen-content .article-item .article-thumb img{
    width:100%
}
body section.main .kitchen-content .article-item .article-details{
    padding:0 10px
}
body section.main .kitchen-content .article-item .article-details h4{
    margin:10px 0
}
body section.main .kitchen-content .article-item .article-details span{
    font-size:14px
}
body section.main .kitchen-content .article-item .article-details .author-details{
    /*top:15px*/
    top:5px
}
body section.main .kitchen-content .article-item .article-details .author-details p{
    font-size:12px;
    font-weight:700
}
body section.main .kitchen-content .article-item .article-details .author-details .recipe-share{
    top:-5px;
    padding:0
}
body section.main .article-inner .inner-content{
    border:#e3e3e3 thin solid;
    padding:15px
}
body section.main .article-inner .inner-content .top-content h4,body section.main .article-inner .inner-content .top-content p{
    font-family:cyntho-slab-proregular;
    font-weight:700
}
body section.main .article-inner .inner-content .top-content p{
    font-size:12px
}
body section.main .article-inner .comment-list{
    background:url(../img/secondary-bg.png);
    border:#e3e3e3 thin solid;
    border-top:none
}
body section.main .article-inner .comment-list ul{
    padding:10px
}
body section.main .article-inner .comment-list ul li{
    width:100%;
    padding:10px 0;
    border-bottom:#ffd481 thin solid
}
body section.main .article-inner .comment-list ul li .date-content span{
    font-size:12px;
    font-style:italic
}
body section.main .article-inner .comment-list ul li .reply a{
    color:#e6032e
}
body section.main .article-inner .comment-list ul li ul li{
    border-bottom:none
}
body section.main .article-inner .comment-list ul li textarea{
    width:98%;
    margin:0 5px;
    display:block;
    resize:none;
    outline:0;
    padding:10px
}
body section.main .article-inner .article-nav{
    padding-top:20px
}
body section.main .article-inner .related-article .heading-left{
    background:#ffeec9;
    color:#515050;
    font-weight:700
}
body section.main .article-inner .related-article .related-content{
    padding:20px 0;
    border:#e3e3e3 thin solid
}
body section.main .article-inner .related-article .related-content span{
    font-size:14px
}
body section.main .article-inner .related-article .related-content span.related-title{
    font-family:cyntho-slab-proregular;
    font-size:14px
}
body section.main .article-inner .related-article .related-content .related-item{
    margin-bottom:10px;
    border-right:#e3e3e3 thin dotted
}
body section.main .article-inner .related-article .related-content .related-item:nth-child(4){
    border:none
}
body section.main .login-content{
    top:40px;
    margin-bottom:100px;
    padding:20px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
    background:#fff;
    border:#e3e3e3 thin solid
}
body section.main .login-content .facebook-connect{
    border-bottom:#e3e3e3 thin solid;
    padding-bottom:20px
}
body section.main .login-content .facebook-connect .btn{
    background-color:#3b5998;
    -moz-box-shadow:inset 0 0 0 #bf0024,0 3px 0 0 #2a4377;
    -webkit-box-shadow:inset 0 0 0 #bf0024,0 3px 0 0 #2a4377;
    box-shadow:inset 0 0 0 #bf0024,0 3px 0 0 #2a4377
}
body section.main .login-content .radio-inline input[type=radio]{
    margin:0
}
body section.main .login-content .submit-form .btn{
    padding:10px 30px
}
body section.main .my-account-content .tab-nav{
    border-bottom:#e3e3e3 thin solid
}
body section.main .my-account-content .tab-nav ul{
    margin:0;
    padding:3px 0
}
body section.main .my-account-content .tab-nav ul li{
    padding:0 15px;
    border-right:#515050 thin solid
}
body section.main .my-account-content .tab-nav ul li:last-child{
    border:none
}
body section.main .my-account-content .tab-nav ul li.active a{
    color:#e6032e;
    text-decoration:none
}
body section.main .my-account-content .tab-nav ul li a{
    font-family:cyntho-slab-proregular
}
body section.main .my-account-content .tab-content{
    padding-top:80px
}
body section.main .my-account-content .tab-content>div{
    padding-top:20px
}
body section.main .my-account-content .tab-content .my-account{
    border:#e3e3e3 thin solid
}
body section.main .my-account-content .tab-content .my-account .heading{
    position:absolute;
    left:0;
    top:-15px
}
body section.main .my-account-content .tab-content .my-account .btn{
    overflow:hidden;
    padding:10px 30px
}
body section.main .my-account-content .tab-content .my-account .btn input[type=file]{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    outline:0;
    filter:alpha(opacity=0);
    -khtml-opacity:0;
    -moz-opacity:0;
    opacity:0
}
body section.main #my-articles .kitchen-content .article-item{
    border:#e3e3e3 thin solid;
    margin-bottom:80px
}
body section.main #my-articles .kitchen-content .article-item .btn-remove{
    position:absolute;
    right:0;
    bottom:-55px;
    cursor:pointer;
    outline:0!important;
    font-family:cyntho-slab-proregular;
    font-size:14px;
    background:#e6032e;
    color:#fff;
    padding:10px 15px;
    border:none;
    -moz-box-shadow:inset 0 0 0 #bf0024,0 3px 0 0 #93001c;
    -webkit-box-shadow:inset 0 0 0 #bf0024,0 3px 0 0 #93001c;
    box-shadow:inset 0 0 0 #bf0024,0 3px 0 0 #93001c;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px
}
body section.main #my-articles .kitchen-content .article-item .btn-remove:hover{
    -moz-box-shadow:inset 0 0 0 #bf0024,0 1px 0 0 #93001c;
    -webkit-box-shadow:inset 0 0 0 #bf0024,0 1px 0 0 #93001c;
    box-shadow:inset 0 0 0 #bf0024,0 1px 0 0 #93001c;
    bottom:-58px;
    color:#fff
}
body section.main #my-articles .kitchen-content .article-item .btn-remove:hover:before{
    border-width:20px
}
body section.main .contact-us-content form{
    border-right:#e3e3e3 thin solid;
    padding-right:50px
}
body section.main .contact-us-content h4{
    font-family:cyntho-slab-proregular;
    font-weight:700
}
body section.main .contact-us-content p{
    font-weight:400
}
body section.main .contact-us-content .tab-content .policy-content{
    padding:0 30px
}
body section.main .contact-us-content .tab-content .policy-content p{
    font-weight:700;
    font-family:nobel-lightregular
}
body footer{
    background:transparent url(../img/patterned-bg.png);
    font-size:14px;
    padding:20px 0;
    bottom:0;
    width:100%
}
body footer .container h4{
    font-weight:700;
    font-size:13px
}
body footer .container ul{
    list-style-type:none;
    padding:0;
    margin:0
}
body footer .container ul li{
    display:inline-block;
    margin:5px 0
}
body footer .container ul li a:hover{
    color:#515050
}
body footer .container .col-md-3 a{
    height:42px;
    width:43px;
    display:block
}
body footer .container .footer-logo{
    border-right:#e3e3e3 thin solid;
    border-left:#e3e3e3 thin solid;
    padding:20px 15px
}
body footer .container .follow-icons{
    border-right:#e3e3e3 thin solid;
    padding:0 15px
}
.error-field{
    border:#f00000 thin solid
}
.double-ribbon{
    top:30%
}
.btn-hover,.btn:hover,body section.main .login-content .facebook-connect .btn:hover{
    -moz-box-shadow:inset 0 0 0 #bf0024,0 1px 0 0 #93001c;
    -webkit-box-shadow:inset 0 0 0 #bf0024,0 1px 0 0 #93001c;
    box-shadow:inset 0 0 0 #bf0024,0 1px 0 0 #93001c;
    top:2px;
    color:#fff
}
.btn-hover:before,.btn:hover:before,body section.main .login-content .facebook-connect .btn:hover:before{
    border-width:20px
}
.btn-arr-left-blue:hover,.btn-blue-hover{
    -moz-box-shadow:inset 0 0 0 #bf0024,0 1px 0 0 #100151;
    -webkit-box-shadow:inset 0 0 0 #bf0024,0 1px 0 0 #100151;
    box-shadow:inset 0 0 0 #bf0024,0 1px 0 0 #100151;
    top:2px;
    color:#fff
}
.btn-arr-left-blue:hover:before,.btn-blue-hover:before{
    border-width:15px
}
.btn{
    position:relative;
    cursor:pointer;
    outline:0!important;
    font-family:cyntho-slab-proregular;
    font-size:14px;
    background:#e6032e;
    color:#fff;
    padding:10px 15px;
    border:none;
    -moz-box-shadow:inset 0 0 0 #bf0024,0 3px 0 0 #93001c;
    -webkit-box-shadow:inset 0 0 0 #bf0024,0 3px 0 0 #93001c;
    box-shadow:inset 0 0 0 #bf0024,0 3px 0 0 #93001c;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px
}
.btn:active{
    color:#fff!important
}
.btn-arr-left,.btn-arr-left-blue,.btn-arr-right{
    -moz-border-radius:0;
    -webkit-border-radius:0;
    -ms-border-radius:0;
    border-radius:0
}
.btn-arr-left-blue:after,.btn-arr-left-blue:before,.btn-arr-left:after,.btn-arr-left:before,.btn-arr-right:after,.btn-arr-right:before{
    top:50%;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none
}
.btn-arr-right{
    -moz-border-radius:0;
    -webkit-border-radius:0;
    -ms-border-radius:0;
    border-radius:0
}
.btn-arr-right:after,.btn-arr-right:before{
    left:100%
}
.btn-arr-right:before{
    border-color:rgba(194,225,245,0);
    border-left-color:#93001c;
    border-width:21px;
    margin-top:-19px
}
.btn-arr-right:after{
    border-color:rgba(136,183,213,0);
    border-left-color:#e6032e;
    border-width:20px;
    margin-top:-20px
}
.btn-arr-left:after,.btn-arr-left:before{
    right:100%
}
.btn-arr-left:before{
    border-color:rgba(194,225,245,0);
    border-right-color:#93001c;
    border-width:21px;
    margin-top:-19px
}
.btn-arr-left:after{
    border-color:rgba(136,183,213,0);
    border-right-color:#e6032e;
    border-width:20px;
    margin-top:-20px
}
.btn-arr-left-blue{
    background:#372490!important;
    -moz-box-shadow:inset 0 0 0 #bf0024,0 3px 0 0 #100151;
    -webkit-box-shadow:inset 0 0 0 #bf0024,0 3px 0 0 #100151;
    box-shadow:inset 0 0 0 #bf0024,0 3px 0 0 #100151;
    padding:5px 10px;
    text-transform:uppercase
}
.btn-arr-left-blue:after,.btn-arr-left-blue:before{
    right:100%
}
.btn-arr-left-blue:before{
    border-color:rgba(194,225,245,0);
    border-right-color:#100151;
    border-width:16px;
    margin-top:-14px
}
.btn-arr-left-blue:after{
    border-color:rgba(136,183,213,0);
    border-right-color:#372490;
    border-width:15px;
    margin-top:-15px
}
.lytebox{
    z-index:999
}
.popup{
    background:#ffd36f;
    padding:10px;
    -moz-box-shadow:-3px 5px 15px 0 #323232;
    -webkit-box-shadow:-3px 5px 15px 0 #323232;
    box-shadow:-3px 5px 15px 0 #323232
}
.popup .popclose{
    background:transparent url(../img/close-btn.png) 0 0 no-repeat;
    top:15px;
    right:15px
}
.popup .content-holder{
    padding:30px;
    border:#fff thin solid
}
.popup .content-holder span{
    font-family:nobel-lightregular;
    color:#515050;
    font-weight:700;
    font-size:14px
}
@media screen and (max-width:1366px){
    .fixed-location{
        right:224px!important
    }
    
}
@media screen and (min-width:1200px) and (max-width:1300px){
    .fixed-location{
        right:140px!important
    }
    
}
@media screen and (max-width:768px){
    .slider-banner-bg{
        margin-top:-36%!important
    }
    .article-inner .inner-content .recipe-share{
        padding:0;
        left:0;
        position:relative
    }
    .article-inner .inner-content .recipe-share ul{
        margin:0;
        padding:0
    }
    
}
@media screen and (min-width:320px) and (max-width:360px){
    .slider-banner-bg{
        margin-top:-75%!important
    }
    #my-account .upload-profile-photo{
        margin-bottom:20px
    }
    .edit-form button{
        text-align:left;
        float:none!important;
        margin:5px
    }
    
}
@media screen and (min-width:320px) and (max-width:767px){
    .navbar{
        position:fixed;
        width:100%;
        min-height:55px;
        z-index:9999;
        margin-bottom:0
    }
    .navbar a.home{
        outline:0
    }
    .navbar a.home:hover{
        text-decoration:none
    }
    .navbar .top-nav{
        -moz-box-shadow:0 0 rgba(50,50,50,.34);
        -webkit-box-shadow:0 0 rgba(50,50,50,.34);
        box-shadow:0 0 rgba(50,50,50,.34)
    }
    .navbar .navbar-collapse{
        box-shadow:none;
        border:none!important;
        background:url(../img/patterned-bg.png)
    }
    .navbar .navbar-header{
        min-height:55px;
        background:url(../img/patterned-bg.png)
    }
    .navbar .navbar-header .home{
        position:absolute;
        font-size:35px;
        left:10px;
        top:10px;
        color:#e6032e
    }
    .navbar .navbar-header .mobile-logo{
        position:absolute;
        margin-left:auto;
        margin-right:auto;
        left:0;
        right:0;
        padding-top:10px
    }
    .navbar .navbar-form{
        border:none
    }
    .navbar .nav li{
        width:50%;
        float:left;
        text-align:center
    }
    .navbar .main-nav>div>div{
        line-height:45px;
        border-bottom:#e3e3e3 thin solid;
        border-right:none
    }
    .navbar .main-nav>div>div:first-child{
        border-top:#e3e3e3 thin solid
    }
    section.main{
        padding-top:57px!important
    }
    section.main .featured>.container,section.main .slider-content{
        padding:0
    }
    section.main .featured .recipe{
        margin:0!important
    }
    section.main .featured-content{
        padding-right:0;
        text-align:left;
        margin-bottom:10%
    }
    section.main .filter ul li{
        margin-bottom:15px
    }
    section.main .article-item .recipe-share{
        top:-30px!important;
        right:-5px!important
    }
    .article-inner .inner-content .recipe-share{
        padding:0;
        left:0;
        position:relative
    }
    .article-inner .inner-content .recipe-share ul{
        margin:0;
        padding:0
    }
    .related-item{
        border-right:none!important;
        border-bottom:#e3e3e3 thin solid
    }
    .related-item:nth-child(4){
        border:none
    }
    .login-btn div{
        text-align:center;
        margin:10px
    }
    .upload-row{
        text-align:center
    }
    .upload-row img{
        margin:0 auto
    }
    .birthday-select select,.upload-row>div{
        margin-bottom:10px
    }
    #my-account .upload-profile-photo,.submit-form{
        text-align:center
    }
    .contact-us-content form{
        border-right:none!important;
        padding-bottom:50px;
        border-bottom:#e3e3e3 thin solid
    }
    footer .follow-icons{
        padding:0!important;
        border-left:none!important
    }
    footer .my-account{
        text-align:left
    }
    footer .footer-logo{
        border:none!important
    }
    
}
@media screen and (min-width:514px) and (max-width:767px){
    .slider-banner-bg{
        margin-top:-32%
    }
    
}
@media screen and (max-width:480px){
    .slider-banner-bg{
        margin-top:-55%!important
    }
    
}
.policy-content ul{
    list-style-type: disc;
}
.policy-content ul li{
    display: list-item;
}