 <div class="page-header">

               <h3>Registrants</h3>



               <!-- <div class="actions">

                    <a href="#/image_headers/new" class="btn btn-primary">New Item</a>

               </div> -->

          </div>


          <table class="table table-bordered">
               <thead>

                    <tr>
                         <th><center>Image</center></th>
                         <th>Name</th>
                         <th>Mobile</th>
                         <th>Birthdate</th>
                         <th>Gender</th>
                         <th>Email</th>
                         <th>Status</th>                         
                         <th>Action</th>
                    </tr>

               </thead>

               <tbody>

                    <tr>
                         <td></td>
                         <td><input type="text" ng-model="query.name"></td>
                         <td><input type="text" ng-model="query.mobile"></td>
                         <td><input type="text" ng-model="query.birtddate"></td>
                         <td><select ng-model="query.gender">
                                   <option value=""></option>
                                   <option value="Male">Male</option>
                                   <option value="Female">Female</option>
                              </select></td>
                         <td><input type="text" ng-model="query.email"></td>
                         <td><select ng-model="query.status">
                                   <option value=""></option>
                                   <option value="Confirmed">Confirmed</option>
                              </select></td>                         
                         <td></td>
                    </tr>

                    <tr ng-if="items" ng-repeat="item in items | filter:query">
                         <td align="center"><img ng-if="item.image" ng-src="{{item.image}}"></td>
                         <td>{{item.name}}</td>
                         <td>{{item.mobile}}</td>
                         <td>{{item.birthdate}}</td>
                         <td>{{item.gender}}</td>
                         <td>{{item.email}}</td>                      
                         <td>{{item.status}}</td>
                         <td>
                              <a ng-click="deleteItem(item)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Remove</a>
                         </td>
                    </tr>
                    <tr ng-show="!items.length">
                         <!-- <td colspan="10" align="center">No results found.</td> -->
                    </tr>
               </tbody>

          </table>



          

          <!--

          <ul class="pagination pagination-sm pull-right">

               <li><a href="#">Prev</a></li>

               <li><a href="#">1</a></li>

               <li><a href="#">2</a></li>

               <li><a href="#">3</a></li>

               <li><a href="#">4</a></li>

               <li><a href="#">5</a></li>

               <li><a href="#">Next</a></li>

          </ul>

          -->