 <div class="page-header">

               <h3>Accounts</h3>



               <div class="actions">

                    <a href="javascript:;" class="btn btn-primary" data-toggle="modal" data-target="#popup-new">New Item</a>

               </div>

          </div>



          <table class="table table-bordered">
               <thead>

                    <tr>
                         <th><center>UserID</center></th>
                         <th>Name</th>
                         <th>Username</th>
                         <th>Email</th>
                         <th>Action</th>
                    </tr>


               </thead>

               <tbody>
                    <tr ng-repeat="item in items">
                         <td>{{item.user_id}}</td>
                         <td>{{item.name}}</td>
                         <td>{{item.username}}</td>
                         <td>{{item.email}}</td>
                         <td>
                              <a href="javascript:void(0)" style="margin-right: 10px" title="Edit" data-toggle="modal" data-target="#popup-{{item.user_id}}"><i class="glyphicon glyphicon-edit"></i></a>
                              <a href="javascript:void(0)" title="Delete" class="delete" ng-click="deleteAccount(item.user_id)" data-id="{{item.user_id}}"><i class="glyphicon glyphicon-remove-circle"></i></a>
                              <!-- MODALS -->
                              <form class="form-horizontal" role="form" ng-submit="updateAccount(item.user_id)" id="form-{{item.user_id}}">
                              <div class="modal fade" id="popup-{{item.user_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                      <h4 class="modal-title" id="myModalLabel">Update Account</h4>
                                    </div>
                                    <div class="modal-body">
                                      <!-- MODAL CONTENT -->

                                        
                                             <input type="hidden" name="user_id" value="{{item.user_id}}">
                                             <div class="form-group">
                                                  <label class="control-label">Name</label>
                                                  <div>
                                                       <input type="text" class="form-control" name="name" value="{{item.name}}">
                                                  </div>
                                             </div>


                                             <div class="form-group">
                                                  <label class="control-label">Email</label>
                                                  <div>
                                                       <input type="text" class="form-control" name="email" value="{{item.email}}">
                                                  </div>
                                             </div>

                                             <div class="form-group">
                                                  <label class="control-label">Username</label>
                                                  <div>
                                                       <input type="text" class="form-control" name="username" value="{{item.username}}">
                                                  </div>
                                             </div>

                                             <div class="form-group">
                                                  <label class="control-label">New Password</label>
                                                  <div>
                                                       <input type="text" class="form-control" name="password" placeholder="Leave empty to keep old password">
                                                  </div>
                                             </div>

                                      <!-- END MODAL CONTENT -->
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      <button type="submit" class="btn btn-primary">Save changes</button>
                                        

                                    </div>
                                  </div>
                                </div>
                              </div>
                              </form>
                         <!-- END MODALS -->
                         </td>
                    </tr>

               </tbody>

          </table>

          <!-- New MODALS -->
                              <form class="form-horizontal" role="form" ng-submit="newAccount()" id="form-new">
                    
                              <div class="modal fade" id="popup-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                      <h4 class="modal-title" id="myModalLabel">Update Account</h4>
                                    </div>
                                    <div class="modal-body">
                                      <!-- MODAL CONTENT -->

                                             <div class="form-group">
                                                  <label class="control-label">Name</label>
                                                  <div>
                                                       <input type="text" class="form-control" name="name" value="">
                                                  </div>
                                             </div>


                                             <div class="form-group">
                                                  <label class="control-label">Email</label>
                                                  <div>
                                                       <input type="text" class="form-control" name="email" value="">
                                                  </div>
                                             </div>

                                             <div class="form-group">
                                                  <label class="control-label">Username</label>
                                                  <div>
                                                       <input type="text" class="form-control" name="username" value="">
                                                  </div>
                                             </div>

                                             <div class="form-group">
                                                  <label class="control-label">New Password</label>
                                                  <div>
                                                       <input type="text" class="form-control" name="password" placeholder="">
                                                  </div>
                                             </div>

                                      <!-- END MODAL CONTENT -->
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      <button type="submit" class="btn btn-primary">Save changes</button>
                                        

                                    </div>
                                  </div>
                                </div>

                              </div>
                              </form>

                         <!-- New END MODALS -->