<div class="page-header">

               <h3>New Article</h3>

          </div>



          <form class="form-horizontal" role="form" ng-submit="addItem()">

                <input type="hidden" ng-model="article.page">

               <div class="form-group" ng-show="errorFields">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-7">
                         <div class="alert alert-danger" role="alert">{{errorFields}}</div>
                    </div>
               </div>
                
               <div class="form-group" ng-show="errorUpload">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-7">
                         <div class="alert alert-danger" role="alert">{{errorUpload}}</div>
                    </div>
               </div>

                <div class="form-group">

                    <label class="col-sm-2 control-label">Image</label>
                    <input type="hidden" ng-model="article.image">

                    <div class="col-sm-2">
                         <input type="file" class="form-control" ng-file-select="onFileSelect($files)">      
                    </div>

               </div>

               <div class="form-group" ng-show="selectedFiles">

                    <label class="col-sm-2 control-label"></label>
 
                    <div class="col-sm-10" ng-repeat="f in selectedFiles">

                         <!-- Image -->
                         <div class="col-sm-6 col-md-3">

                              <div class="thumbnail">

                                   <img ng-src="{{dataUrl}}">

                                   <div class="caption">

                                        <div class="progress" ng-show="progress >= 0">
                                          <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
                                            <span>{{progress}}%</span>
                                          </div>
                                        </div>

                                   </div>

                              </div>
                         </div>
                         <!-- Image -->

                    </div>                           

               </div> 

               <div class="form-group">

                    <label class="col-sm-2 control-label">Title</label>

                    <div class="col-sm-4">

                         <input type="text" ng-model="article.title" class="form-control">

                    </div>

               </div>

                <div class="form-group">

                    <label class="col-sm-2 control-label">Description</label>

               </div>

               <div class="form-group">

 
                    <div class="col-sm-12">

 
                         <div text-angular ng-model="article.description"></div>

                         <textarea class="hide" ng-model="article.description"></textarea>
                    </div>

               </div>

               <div class="form-group">

                    <label class="col-sm-2 control-label">Promo</label>

                    <div class="col-sm-2">

                         <input type="radio" name="promo" ng-model="article.promo" value="1"> <span class="label label-success">Yes</span>
                         <input type="radio" name="promo" ng-model="article.promo"  value="0"> <span class="label label-danger">No</span>

                    </div>

               </div>

               <div class="form-group">

                    <label class="col-sm-2 control-label">Top Pick</label>

                    <div class="col-sm-4">

                         <input type="radio" name="top_picked" ng-model="article.top_picked" value="1"> <span class="label label-success">Yes</span>
                         <input type="radio" name="top_picked" ng-model="article.top_picked"  value="0"> <span class="label label-danger">No</span>

                    </div>

               </div>

               <div class="form-group">

                    <label class="col-sm-2 control-label">Featured</label>

                    <div class="col-sm-4">

                         <input type="radio" name="featured" ng-model="article.featured" value="1"> <span class="label label-success">Yes</span>
                         <input type="radio" name="featured" ng-model="article.featured"  value="0"> <span class="label label-danger">No</span>

                    </div>

               </div>               


               <div class="form-group">

                    <label class="col-sm-2 control-label">Author</label>

                    <div class="col-sm-2">

                         <input type="text" ng-model="article.author" class="form-control">

                    </div>

               </div>
 

               <div class="form-group">

                    <label class="col-sm-2 control-label">Status</label>

                    <div class="col-sm-4">

                         <select ng-model="article.privacy_status" >
                              <option value="0">Unpublish</option>
                              <option value="1">Publish</option>
                            
                          </select>

                    </div>

               </div>

               <div class="form-group">

                    <div class="col-sm-offset-2 col-sm-4">
                         <a href="#/{{state}}/page/{{article.page}}" class="btn btn-default">Cancel</a>
                         <button type="submit" class="btn btn-primary">{{progress >= 0 && progress < 100 && !article.image ? 'Uploading Image...' : 'Submit'}}</button>
                    </div>

               </div>

          </form>