<div class="page-header">

          <h3>Bounty Fresh Foods 
               <a ng-if="!edit_mode" ng-click="editItem()" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
          </h3>

          </div>



          <div class="container" >

               <div ng-if="!edit_mode" ng-bind-html='bounty_fresh_foods.content'></div>

               <form ng-if="edit_mode" class="form-horizontal" role="form" ng-submit="updateItem()">
 
                    <div class="form-group" >
                          <div class="col-sm-12">
                              <div text-angular ng-model="bounty_fresh_foods.content"></div>

                              <textarea class="hide" ng-model="bounty_fresh_foods.content"></textarea>
                         </div>
                    </div>

                    <div class="form-group">
                         <div class="col-sm-offset-2 col-sm-4">
                              <a ng-click="cancelEdit()" class="btn btn-default">Cancel</a>
                              <button type="submit" class="btn btn-primary">Save</button>
                         </div>
                    </div>

               </form>            

          </div>