<div class="page-header">

   <h3>Dashboard</h3>

   <div google-chart chart="chart"style="{{chart.cssStyle}}"/>
   <br>
   <div class="span3">
   	<div class="row">
   		<div class="col-md-6">
	<table class="table table-hover table-bordered table-heading">
   		<tr><td><b>Registrants per day</b></td><td></td></tr>
			<tr ng-repeat="registrant in summaryRegistrants.daily">
				<td>{{registrant.0}}</td><td>{{registrant.1}}</td>
			</tr>
   	</table>
   		</div>

   		<div class="col-md-6">
	<table class="table table-hover table-bordered table-heading">
   		<tr><td><b>Comments per day</b></td><td></td></tr>
			<tr ng-repeat="comment in summaryComments.daily">
				<td>{{comment.0}}</td><td>{{comment.1}}</td>
			</tr>
   	</table>
   		</div>
   	</div>
   </div>
   <div class="span3">
      <div class="row">
         <div class="col-md-6">
   <table class="table table-hover table-bordered table-heading">
         <tr><td><b>Registrants per month</b></td><td></td></tr>
         <tr ng-repeat="registrantMonthly in summaryRegistrantsMonth.monthly">
            <td>{{registrantMonthly.3}}</td><td>{{registrantMonthly.1}}</td>
         </tr>
      </table>
         </div>

         <div class="col-md-6">
   <table class="table table-hover table-bordered table-heading">
         <tr><td><b>Comments per month</b></td><td></td></tr>
         <tr ng-repeat="commentMonthly in summaryCommentsMonth.monthly">
            <td>{{commentMonthly.3}}</td><td>{{commentMonthly.1}}</td>
         </tr>
      </table>
         </div>
      </div>
   </div>
   
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>