 <div class="page-header">

               <h3>Image Headers</h3>



               <div class="actions">

                    <a href="#/image_headers/new" class="btn btn-primary">New Item</a>

               </div>

          </div>



          <table class="table table-bordered">
               <thead>

                    <tr>
                         <th><center>Image</center></th>
                         <th>Page</th>
                         <th>Date Added</th>
                         <th>Action</th>
                    </tr>

               </thead>

               <tbody>

                    <tr>
                         <td></td>
                         <td><select ng-model="query.page">
                              <option value=""></option>
                              <option value="Home">Home</option>
                              <option value="The Kitchen">The Kitchen</option>
                              <option value="The Living Room">The Living Room</option>
                              <option value="The Kid's Bedroom">The Kid's Bedroom</option>
                              <option value="The Master Bedroom">The Master Bedroom</option>
                         </select></td>
                         <td></td>
                         <td></td>
                    </tr>

                    <tr ng-repeat="item in items | filter: query">
                         <td align="center"><img ng-src="{{item.image}}"></td>
                         <td>{{item.page}}</td>
                         <td>{{item.date_added}}</td>
                         <td>
                              <a ng-click="deleteItem(item)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Remove</a>
                         </td>
                    </tr>

               </tbody>

          </table>

          <!--

          <ul class="pagination pagination-sm pull-right">

               <li><a href="#">Prev</a></li>

               <li><a href="#">1</a></li>

               <li><a href="#">2</a></li>

               <li><a href="#">3</a></li>

               <li><a href="#">4</a></li>

               <li><a href="#">5</a></li>

               <li><a href="#">Next</a></li>

          </ul>

          --
>