<div class="page-header">

               <h3>New Image Headers</h3>

          </div>



          <form class="form-horizontal" role="form" ng-submit="addItem()">

               <div class="form-group" ng-show="errorFields">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-7">
                         <div class="alert alert-danger" role="alert">{{errorFields}}</div>
                    </div>
               </div>
               
               <div class="form-group" ng-show="errorUpload">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-7">
                         <div class="alert alert-danger" role="alert">{{errorUpload}}</div>
                    </div>
               </div> 


               <div class="form-group">

                    <label class="col-sm-2 control-label">Page</label>

                    <div class="col-sm-4">
                         <select ng-model="image_header.page">
                              <option value="1">Home</option>
                              <option value="2">The Kitchen</option>
                              <option value="3">The Living Room</option>
                              <option value="4">The Kid's Bedroom</option>
                              <option value="5">The Master's Bedroom</option>
                         </select>
                    </div>

               </div>

               <div class="form-group">

                    <label class="col-sm-2 control-label">Link</label>

                    <div class="col-sm-4">

                         <input type="text" ng-model="image_header.link" class="form-control">

                    </div>

               </div>

               <div class="form-group">

                    <label class="col-sm-2 control-label">Image Headers</label>
 
                    <div class="col-sm-2">

                         <input type="file" class="form-control" ng-file-select="onFileSelect($files)" multiple>
                         <input type="hidden" ng-model="image_header.images">
                    </div>                           

               </div>

               <div class="form-group">

                    <label class="col-sm-2 control-label"></label>
 
                    <div class="col-sm-10" ng-show="selectedFiles">

                         <!-- Image -->
                         <div class="col-sm-6 col-md-3" ng-repeat="f in selectedFiles">

                              <div class="thumbnail">

                                   <img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">

                                   <div class="caption">
                                        <p ng-show="errorUpload[$index]">{{errorUpload[$index]}}</p>

                                        <div class="progress" ng-show="progress[$index] >= 0">
                                          <div class="progress-bar" role="progressbar" aria-valuenow="{{progress[$index]}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress[$index]}}%;">
                                            <span>{{progress[$index]}}%</span>
                                          </div>
                                        </div>

                                        <button type="button" class="btn" ng-click="abort($index)" ng-show="progress[$index] >= 0 && progress[$index] < 100">Abort</button>
                                        <button type="button" class="btn btn-danger " ng-click="remove($index)" ng-show="progress[$index] >= 100"><span class="glyphicon glyphicon-trash"></span> Remove</button>

                                   </div>

                              </div>
                         </div>
                         <!-- Image -->

                    </div>                           

               </div>


               


                
               <div class="form-group">

                    <div class="col-sm-offset-2 col-sm-4">
                         <a href="#/image_headers" class="btn btn-default">Cancel</a>
                         <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

               </div>

          </form>