<div class="page-header">
     <h3>Login</h3>
</div>

<div ng-show="login_message" class="alert alert-danger">{{login_message}}</div>


<form class="form-horizontal" role="form" method="POST" ng-submit="login()">

     <div class="form-group">

          <label class="col-sm-3 control-label">Username</label>

          <div class="col-sm-9">

               <input type="text" class="form-control" ng-model="user.username">

          </div>

     </div>

     <div class="form-group">

          <label class="col-sm-3 control-label">Password</label>

          <div class="col-sm-9">

               <input type="password" class="form-control" ng-model="user.password">

          </div>

     </div>

     <div class="form-group">

          <div class="col-sm-offset-3 col-sm-9">

               <button type="submit" class="btn btn-primary">Submit</button>

          </div>

     </div>

</form>