
          <!-- Brand and toggle get grouped for better mobile display -->

          <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

          <span class="sr-only">Toggle navigation</span>

          <span class="icon-bar"></span>

          <span class="icon-bar"></span>

          <span class="icon-bar"></span>

          </button>

          <a class="navbar-brand" href="#/home">NuWorks</a>

          </div>



          <!-- Collect the nav links, forms, and other content for toggling -->

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

               <ul class="nav navbar-nav">

                    <li class="{{pageTitle=='Home' ? 'active' : ''}}"><a href="#/home">Home</a></li>

                    <li class="{{pageTitle=='The Kitchen' ? 'active' : ''}}">

                         <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">The Kitchen <b class="caret"></b></a>

                         <ul class="dropdown-menu">

                              <li><a href="#/kitchen-recipes/page/kitchen">Recipes</a></li>

                              <li><a href="#/kitchen-articles/page/kitchen">Articles</a></li>

                         </ul>
                    </li>
                    <li class="{{pageTitle=='The Living Room' ? 'active' : ''}}"><a href="#/living-room/page/living-room">The Living Room</a></li>
                    <li class="{{pageTitle=='The Kids Bedroom' ? 'active' : ''}}"> <a href="#/kids-bedroom/page/kids-bedroom">The Kid's Bedroom</a></li>
                    <li class="{{pageTitle=='The Masters Bedroom' ? 'active' : ''}}"><a href="#/masters-bedroom/page/masters-bedroom">The Master Bedroom</a></li>
                    <li class="{{pageTitle=='Image Headers' ? 'active' : ''}}"><a href="#/image_headers" >Image Headers</a></li>
                    <li class="{{pageTitle=='Registrants' ? 'active' : ''}}"><a href="#/registrants" >Registrants</a></li>
                    <li class="{{pageTitle=='Pledges' ? 'active' : ''}}"><a href="#/pledges" >Pledges</a></li>
                    <li class="{{pageTitle=='Comments' ? 'active' : ''}}">

                         <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Comments<b class="caret"></b></a>

                         <ul class="dropdown-menu">

                              <li><a href="#/recipe-comments"> Recipes</a></li>

                              <li><a href="#/recipe-comments-replies"> Recipes Replies</a></li>

                              <li><a href="#/article-comments" >Articles</a></li>

                              <li><a href="#/article-comments-replies" >Articles Replies</a></li>

                         </ul>                         
                    </li>

                    
                    
               </ul>
               <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                         <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                         <ul class="dropdown-menu">
                              <li><a href="#/privacy-policy" >Privacy Policy</a></li>
                              <li><a href="#/terms-and-conditions" >Terms and Conditions</a></li>
                              <li><a href="#/faq" >FAQ</a></li>
                              <li role="presentation" class="divider"></li>
                              <li><a href="#/contact-details-bff" title="Contact details">Bounty Fresh Foods</a></li>
                              <li><a href="#/contact-details-bav" title="Contact details">Bounty Agro Ventures</a></li>
                              <li role="presentation" class="divider"></li>
                              <li><a href="#/accounts" title="Accounts">Accounts</a></li>
                              <li role="presentation" class="divider"></li>
                              <li><a href="javascript:void(0);" ng-click="logout()">Logout</a></li>
                         </ul>
                    </li>
               </ul>
          </div><!-- /.navbar-collapse -->
     <!--end header-->