 <div class="page-header">

               <h3>Pledges</h3>



               <div class="actions">

                    <button class="btn btn-primary" ng-click="exportData()">Export</button>

               </div>

          </div>


          <table class="table table-bordered" ng-table="tableParams">
               <thead>

                    <tr>
                         <th>First Name</th>
                         <th>Last Name</th>
                         <th>Birthdate</th>
                         <th>Gender</th>
                         <th>Email</th>
                         <th>#DiskarteNaMayArte sa</th>
                         <th>Special Touch</th>
                         <th>Specific Special Touch</th>
                         <th>Date Pledged  <a href="" ng-click="order('date_pledged')" style="color:black"><span class="sortorder" ng-show="predicate === 'date_pledged'" ng-class="{reverse:reverse}"></span> <i ng-if="!reverse" class="fa fa-chevron-circle-down"></i> <i ng-if="reverse" class="fa fa-chevron-circle-up"></i></a></th>                         
                         <th>Date Registered</th>
                    </tr>

               </thead>

               <tbody>

                    <tr>
                         <td><input type="text" ng-model="query.firstname" ng-keydown="resetPagination()"></td>
                         <td><input type="text" ng-model="query.lastname" ng-keydown="resetPagination()"></td>
                         <td>
                            <input class="datepicker-birthdate" type="text" ng-model="query.bdate_from" ng-keydown="resetPagination()" placeholder="From" id="date_from">  
                          
                            <input style="margin-top: 4px" class="datepicker-birthdate" type="text" ng-model="query.bdate_to" ng-keydown="resetPagination()" placeholder="To" id="date_to" ng-change="bdate_range_filter()">
                         </td>
                         <td><select ng-model="query.gender" ng-change="resetPagination()">
                                   <option value=""></option>
                                   <option value="Male">Male</option>
                                   <option value="Female">Female</option>
                              </select></td>
                         <td><input type="text" ng-model="query.email" ng-keydown="resetPagination()"></td>
                         <td><select ng-model="query.category" ng-change="resetPagination()">
                                   <option value=""></option>
                                   <option value="Buhay">Buhay</option>
                                   <option value="Bahay">Bahay</option>
                                   <option value="Pamilya">Pamilya</option>
                                   <option value="Kusina">Kusina</option>
                              </select>
                          </td>
                         <td></td>
                         <td></td>                         
                         <td><input id="datepicker-pledged" type="text" ng-model="query.date_pledged" ng-keydown="resetPagination()" ng-readonly="true"></td>
                         <td><input id="datepicker-registered" type="text" ng-model="query.date_registered" ng-keydown="resetPagination()" ng-readonly="true"></td>
                    </tr>

                    <tr ng-if="items" ng-repeat="item in (filteredItems = (items | filter:query) | offset: currentPage * itemsPerPage | limitTo: itemsPerPage) | orderBy:predicate:reverse">
                         <td>{{item.firstname}}</td>
                         <td>{{item.lastname}}</td>
                         <td>{{item.birthdate}}</td>
                         <td>{{item.gender != '0' ? item.gender : 'N/A' }}</td>
                         <td>{{item.email}}</td>
                         <td>{{item.category}}</td>                      
                         <td>{{item.type}}</td>
                         <td>{{item.message}}</td>
                         <td>{{item.date_pledged}} </td>
                         <td>{{item.date_registered}}
                              <!-- <a ng-click="deleteItem(item)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Remove</a> -->
                         </td>
                    </tr>
                    <tr ng-show="!items.length">
                         <!-- <td colspan="10" align="center">No results found.</td> -->
                    </tr>
               </tbody>

          </table>

            <ul class="pagination pagination-sm pull-right">
              <li ng-class="prevPageDisabled()">
                <a href ng-click="prevPage()">« Prev</a>
              </li>
              <li ng-repeat="n in range(filteredItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                <a href="javascript:void(0)">{{n+1}}</a>
              </li>
              <li ng-class="nextPageDisabled()">
                <a href ng-click="nextPage()">Next »</a>
              </li>
            </ul>

<script type="text/javascript">
  $(function() {
    $( ".datepicker-birthdate" ).datepicker({dateFormat:"yy-mm-dd"});
    $( "#datepicker-pledged" ).datepicker({dateFormat:"yy-mm-dd"});
    $( "#datepicker-registered" ).datepicker({dateFormat:"yy-mm-dd"});
  });
</script>