<div class="page-header">

               <h3>New Recipe</h3>

          </div>



          <form class="form-horizontal" role="form" ng-submit="addItem()">

                <input type="hidden" ng-model="recipe.page" >

                <div class="form-group" ng-show="errorFields">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-7">
                         <div class="alert alert-danger" role="alert">{{errorFields}}</div>
                    </div>
               </div>

               <div class="form-group" ng-show="errorUpload">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-7">
                         <div class="alert alert-danger" role="alert">{{errorUpload}}</div>
                    </div>
               </div>

                <div class="form-group">

                    <label class="col-sm-2 control-label">Image</label>
                    <input type="hidden" ng-model="recipe.image">

                    <div class="col-sm-2">

                         <input type="file" class="form-control" ng-file-select="onFileSelect($files)">  
                    </div>

               </div>

               <div class="form-group" ng-show="selectedFiles">

                    <label class="col-sm-2 control-label"></label>
 
                    <div class="col-sm-10" ng-repeat="f in selectedFiles">

                         <!-- Image -->
                         <div class="col-sm-6 col-md-3">

                              <div class="thumbnail">

                                   <img ng-src="{{dataUrl}}">

                                   <div class="caption">

                                        <div class="progress" ng-show="progress >= 0">
                                          <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
                                            <span>{{progress}}%</span>
                                          </div>
                                        </div>

                                   </div>

                              </div>
                         </div>
                         <!-- Image -->

                    </div>                           

               </div> 

               <div class="form-group">

                    <label class="col-sm-2 control-label">Title</label>

                    <div class="col-sm-4">

                         <input type="text" ng-model="recipe.title" class="form-control">

                    </div>

               </div>

               <div class="form-group">

                    <label class="col-sm-2 control-label">Description</label>

               </div>

               <div class="form-group">

 
                    <div class="col-sm-12">

                         <div text-angular ng-model="recipe.description"></div>

                         <textarea class="hide" ng-model="recipe.description" class="form-control"></textarea>
                    </div>

               </div>

               <div class="form-group">

                    <label class="col-sm-2 control-label">Meal Budget</label>

                    <div class="col-sm-1">

                         <select ng-model="recipe.meal_budget">
                              <option value="323">323</option>
                              <option value="280">280</option>
                              <option value="234">234</option>
                              <option value="130">130</option>
                         </select>

                    </div>

               </div>

               <div class="form-group">

                    <label class="col-sm-2 control-label">Meal Type</label>

                    <div class="col-sm-2">

                          <select ng-model="recipe.meal_type">
                              <option value="Breakfast">Breakfast</option>
                              <option value="Lunch">Lunch</option>
                              <option value="Dinner">Dinner</option>
                         </select>

                    </div>

               </div>

               <div class="form-group">

                    <label class="col-sm-2 control-label">Top Pick</label>

                    <div class="col-sm-4">

                         <input type="radio" name="top_picked" ng-model="recipe.top_picked" value="1"><span class="label label-success">Yes</span>
                         <input type="radio" name="top_picked" ng-model="recipe.top_picked"  value="0"><span class="label label-danger">No</span>

                    </div>

               </div>

               <div class="form-group">

                    <label class="col-sm-2 control-label">Featured</label>

                    <div class="col-sm-4">

                         <input type="radio" name="featured" ng-model="recipe.featured" value="1"><span class="label label-success">Yes</span>
                         <input type="radio" name="featured" ng-model="recipe.featured"  value="0"><span class="label label-danger">No</span>

                    </div>

               </div>
 

               <div class="form-group">

                    <label class="col-sm-2 control-label">Status</label>

                    <div class="col-sm-4">

                         <select ng-model="recipe.privacy_status" >
                              <option value="0">Unpublish</option>
                              <option value="1">Publish</option>
                          </select>

                    </div>

               </div>

               <div class="form-group">

                    <div class="col-sm-offset-2 col-sm-4">
                         <a href="#/{{state}}/page/{{recipe.page}}" class="btn btn-default">Cancel</a>
                         <button type="submit" class="btn btn-primary">{{progress >= 0 && progress < 100 && !recipe.image ? 'Uploading Image...' : 'Submit'}}</button>
                    </div>

               </div>

          </form>