 <div class="page-header">

               <h3>Recipes' Comment Replies</h3>



               <div class="actions">

 
               </div>

          </div>



          <table class="table table-bordered">
               <thead>

                    <tr>
                         <th><center>Recipe</center></th>
                         <th><center>Recipe Name</center></th>
                         <th>Registrant</th>
                         <th>Origin</th>
                         <th>Comment</th>
                         <th>Status</th>
                         <th>Date Added</th>
                         <th>Action</th>
                    </tr>

               </thead>

               <tbody>

                    <tr ng-repeat="item in items">
                         <td align="center"><img ng-src="{{item.recipe_image}}"></td>
                         <td align="center">{{item.recipe_name}}</td>
                         <td>{{item.registrant}}</td>
                         <td>{{item.comment}}</td>
                         <td>{{item.comment_origin}}</td>
                         <td>{{item.approval_status}}</td>
                         <td>{{item.date_added}}</td>
                         <td>
                              <a ng-if="item.status!=1" ng-click="approve(item)" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> Approve</a>
                              <a ng-if="item.status!=2" ng-click="disapprove(item)" class="btn btn-danger"><span class="glyphicon glyphicon-thumbs-down"></span> Disapprove</a>
                              <a ng-if="item.status!=0" ng-click="pending(item)" class="btn btn-default">Pending</a>
                         </td>
                    </tr>
                    <tr ng-show="!items.length">
                         <td colspan="6" align="center">No results found.</td>
                    </tr>

               </tbody>

          </table>

          <!--

          <ul class="pagination pagination-sm pull-right">

               <li><a href="#">Prev</a></li>

               <li><a href="#">1</a></li>

               <li><a href="#">2</a></li>

               <li><a href="#">3</a></li>

               <li><a href="#">4</a></li>

               <li><a href="#">5</a></li>

               <li><a href="#">Next</a></li>

          </ul>

          --
>