 <div class="page-header">

               <h3>Recipes</h3>



               <div class="actions">

                    <a href="#/{{state}}/new/page/{{page}}" class="btn btn-primary">New Item</a>

               </div>

          </div>



          <table class="table table-bordered">
               <thead>

                    <tr>
                         <th><center>Image</center></th>
                         <th>Title</th>
                         <th>Description</th>
                         <th>Top Picked</th>
                         <th>Featured</th>
                          <th>Status</th>
                         <th>Date Added</th>
                         <th>Action</th>
                    </tr>

               </thead>

               <tbody>

                    <tr>
                         <th></th>
                         <th><input type="text" ng-model="query.title"></th>
                         <th><input type="text" ng-model="query.description"></th>
                          <th><select ng-model="query.top_picked">
                                   <option value=""></option>
                                   <option value="Yes">Yes</option>
                                   <option value="No">No</option>
                              </select></th>
                         <th><select ng-model="query.featured">
                                   <option value=""></option>
                                   <option value="Yes">Yes</option>
                                   <option value="No">No</option>
                              </select></th>
                          <th><select ng-model="query.privacy_status">
                                   <option value=""></option>
                                   <option value="1">Published</option>
                                   <option value="0">Unpublished</option>
                              </select></th>
                         <th></th>
                          <th></th>
                    </tr>

                    <tr ng-repeat="item in items | filter: query:strict">
                         <td align="center"><img ng-src="{{item.image}}"></td>
                         <td>{{item.title}}</td>
                         <td>{{item.description}}</td>
                         <td><span class="label label-{{item.top_picked=='Yes' ? 'success' : 'danger'}}">{{item.top_picked}}</span></td>
                         <td><span class="label label-{{item.featured=='Yes' ? 'success' : 'danger'}}">{{item.featured}}</span></td>
                         <td>{{item.privacy_status=='1' ? 'Published' : 'Unpublished'}}</td>
                         <td>{{item.date_added}}</td>
                         <td>
                              <a href="#/{{state}}/id/{{item.id}}/page/{{page}}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                              <a ng-click="deleteItem(item)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Remove</a>
                         </td>
                    </tr>

               </tbody>

          </table>

          <!--

          <ul class="pagination pagination-sm pull-right">

               <li><a href="#">Prev</a></li>

               <li><a href="#">1</a></li>

               <li><a href="#">2</a></li>

               <li><a href="#">3</a></li>

               <li><a href="#">4</a></li>

               <li><a href="#">5</a></li>

               <li><a href="#">Next</a></li>

          </ul>

          --
>