 <div class="page-header">

               <h3>Registrants</h3>



               <div class="actions">

                    <button class="btn btn-primary" ng-click="exportData()">Export</button>

               </div>

          </div>


          <table class="table table-bordered" ng-table="tableParams">
               <thead>

                    <tr>
                         <th><center>Image</center></th>
                         <th>First Name</th>
                         <th>Last Name</th>
                         <th>Mobile</th>
                         <th>Birthdate</th>
                         <th>Gender</th>
                         <th>Email</th>
                         <th>Address</th>
                         <th>City</th>
                         <th>Province</th>
                         <th>Status</th>
                         <th>Date Confirmed</th>                         
                         <th>Date Added  <a href="" ng-click="order('timestamp')" style="color:black"><span class="sortorder" ng-show="predicate === 'timestamp'" ng-class="{reverse:reverse}"></span> <i ng-if="!reverse" class="fa fa-chevron-circle-down"></i> <i ng-if="reverse" class="fa fa-chevron-circle-up"></i></a></th>
                    </tr>

               </thead>

               <tbody>

                    <tr>
                         <td></td>
                         <td><input type="text" ng-model="query.firstname" ng-keydown="resetPagination()"></td>
                         <td><input type="text" ng-model="query.lastname" ng-keydown="resetPagination()"></td>
                         <td><input type="text" ng-model="query.mobile" ng-keydown="resetPagination()"></td>
                         <td><input id="datepicker-birthdate" type="text" ng-model="query.birthdate" ng-keydown="resetPagination()"></td>
                         <td><select ng-model="query.gender" ng-change="resetPagination()">
                                   <option value=""></option>
                                   <option value="Male">Male</option>
                                   <option value="Female">Female</option>
                              </select></td>
                         <td><input type="text" ng-model="query.email" ng-keydown="resetPagination()"></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td><select ng-model="query.status" ng-change="resetPagination()">
                                   <option value=""></option>
                                   <option value="Confirmed">Confirmed</option>
                              </select></td>
                          <td></td>                         
                         <td><input id="datepicker-timestamp" type="text" ng-model="query.timestamp" ng-keydown="resetPagination()" ng-change="fooo()" ng-readonly="true"></td>
                    </tr>

                    <tr ng-if="items" ng-repeat="item in (filteredItems = (items | filter:query) | offset: currentPage * itemsPerPage | limitTo: itemsPerPage) | orderBy:predicate:reverse">
                         <td align="center"><img ng-if="item.image" ng-src="{{item.image}}"></td>
                         <td>{{item.firstname}}</td>
                         <td>{{item.lastname}}</td>
                         <td>{{item.mobile}}</td>
                         <td>{{item.birthdate}}</td>
                         <td>{{item.gender}}</td>
                         <td>{{item.email}}</td>
                         <td>{{item.address}}</td>                      
                         <td>{{item.city}}</td>                      
                         <td>{{item.province}}</td>                      
                         <td>{{item.status}}</td>
                         <td>{{item.date_confirmed}}</td>
                         <td>{{item.timestamp}}
                              <!-- <a ng-click="deleteItem(item)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Remove</a> -->
                         </td>
                    </tr>
                    <tr ng-show="!items.length">
                         <!-- <td colspan="10" align="center">No results found.</td> -->
                    </tr>
               </tbody>

          </table>

            <ul class="pagination pagination-sm pull-right">
              <li ng-class="prevPageDisabled()">
                <a href ng-click="prevPage()">« Prev</a>
              </li>
              <li ng-repeat="n in range(filteredItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                <a href="javascript:void(0)">{{n+1}}</a>
              </li>
              <li ng-class="nextPageDisabled()">
                <a href ng-click="nextPage()">Next »</a>
              </li>
            </ul>

<script type="text/javascript">
  $(function() {
    $( "#datepicker-birthdate" ).datepicker({dateFormat:"yy-mm-dd"});
    $( "#datepicker-timestamp" ).datepicker({dateFormat:"yy-mm-dd"});
  });
</script>